n8n_workflows/ads-headers-and-texts-creation---duplicate-key-in-text-copy.json
{
  "createdAt": "2025-09-11T14:49:48.205Z",
  "updatedAt": "2025-09-12T06:48:03.377Z",
  "id": "JUODD6ANkY1Jrbdf",
  "name": "ADS headers and texts creation - duplicate key in text copy",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "id": "b0a5f793-7dea-4109-aeeb-07d3a36d9a5f",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        -80
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "simplify": false,
        "options": {
          "maxToolsIterations": 15
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1160,
        -180
      ],
      "id": "ccf7c192-7e00-4704-99d2-19943319f3c0",
      "name": "Message a model",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "V8R8KiZKXscJQ1sL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        420,
        -80
      ],
      "id": "763dbb2f-068c-4bee-879f-280450ad3bda",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        2840,
        20
      ],
      "id": "1d0cc3b6-4b23-4478-b6b3-db3538b93e9a"
    },
    {
      "parameters": {
        "amount": 1,
        "path": "ffbcc432-0a3b-494c-bfaf-38119ba68dad"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2860,
        -440
      ],
      "id": "09cc09f8-fdaa-4502-aed4-c2f167c969c4",
      "name": "Wait",
      "webhookId": "ffbcc432-0a3b-494c-bfaf-38119ba68dad"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1420,
        -400
      ],
      "id": "143efa01-745e-4cf0-b5cf-0a2e631e3fb4",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e10b6a7-d524-4fce-8288-527e596dba23",
              "name": "First_part",
              "value": "Есть следующая фраза, заданная пользователем при поиске: \"",
              "type": "string"
            },
            {
              "id": "ba486f3b-f6d8-4d2d-9e19-3f83f0c18092",
              "name": "Second_part",
              "value": "\" и следующий заголовок объявления к ней \"",
              "type": "string"
            },
            {
              "id": "e1fc0dc6-c7da-4093-9221-70f8d7164f71",
              "name": "Third_part",
              "value": "\". Пожалуйста подбери к ним Текст рекламного объявления. Ответ долже содержать только текст без рассуждений. кавычки добавлять не надо . Учитывая то что во фразе пользователя удалены все дополнительные символы, такие как #,- и пр. Требования к тексту объявления. 1)не более 81 символа. 2)Должен начинаться с запроса пользователя, но доработанного по следующим требованиям: при наличии жаргонизмов или некорректного\\неграмотного написания в исходной фразе необходимо корректное написание а также порядок слов. Обязательное требование - сохранение всех слов из ключевой фразы. А также содержать призыв к коммерческому действию (записи на пробный урок, попробовать самому и р.) Пример текста объявления: \"Учим детей создавать игры, сайты и ботов. Запишись на пробный урок бесплатно!\" В ответе необходимо вернуть только запрошенную информацию, запрещено добавлять уточнения типа текст и пр. Описание компании:  KIBERone – международная КиберШкола программирования и цифровых технологий для детей от 6 до 14 лет.|Официальный сайт филиала в Саратове (Октябрьский район): https://saratov-okt.kiber-one.com/Позиционирование бренда: KIBERone — первая международная КиберШкола будущего для IT-поколения 6–14 лет, признана ЮНЕСКО лучшей детской образовательной IT-школой в мире. Бренд является партнером Microsoft, Roblox и Samsung. Бесплатные пробные урокиОсновные услуги и программы:Полный перечень модулей (https://saratov-okt.kiber-one.com/moduli/):- Вводный модуль (основы цифровой грамотности) — https://saratov-okt.kiber-one.com/moduli/vvodnyy-modul/- Основы программирования Scratch Jr — https://saratov-okt.kiber-one.com/moduli/osnovy-programmirovaniya-scratch-jr/- Создание игр на Scratch — https://saratov-okt.kiber-one.com/moduli/modul-2-znakomstvo-so-scratch-sozdanie-igr-na-scratch-osnovy/- ПиктоМир (алгоритмическое мышление) — https://saratov-okt.kiber-one.com/moduli/piktomir/- CodeMonkey (логика и программирование) — https://saratov-okt.kiber-one.com/moduli/codemonkey-razvivaem-logiku-programmirovaniya-igr/- Устройство компьютера — https://saratov-okt.kiber-one.com/moduli/ustroystvo-kompyutera-my-na-ty/- Эффектные презентации (PowerPoint, Desygner) — https://saratov-okt.kiber-one.com/moduli/magiya-effektnyh-prezentaciy-powerpoint-i-desygner/- QR‑коды — https://saratov-okt.kiber-one.com/moduli/qr-kod-kak-instrument/- Деловые люди (предпринимательство) — https://saratov-okt.kiber-one.com/moduli/delovye-lyudi-osnovy-predprinimatelstva-i-proektnoy-deyatelnosti-dlya-detej/- Google Blockly (визуальное программирование) — https://saratov-okt.kiber-one.com/moduli/google-blockly-apofeoz-vizualnogo-programmirovaniya/- Roblox Studio (создание игр) — https://saratov-okt.kiber-one.com/moduli/roblox-studio-sdelat-vse-chto-vy-mozhete-sebe-predstavit/- Kodu Game Lab (3D‑программирование) — https://saratov-okt.kiber-one.com/moduli/kodu-game-lab-vizualnoe-programmirovanie-v-3d/- Разработка мобильных приложений в Thunkable — https://saratov-okt.kiber-one.com/moduli/razrabotka-mobilnyh-prilozhenij-v-thunkable-nachalo/- Blender (3D‑моделирование) — https://saratov-okt.kiber-one.com/moduli/blender-osnovy-3d-modelirovaniya/- Компьютерная грамотность — https://saratov-okt.kiber-one.com/moduli/kompyuternaya-gramotnost/- Minecraft Education — https://saratov-okt.kiber-one.com/moduli/minecraft-education/- Нейросети (основы ИИ) — https://saratov-okt.kiber-one.com/moduli/neyroseti-znakomstvo-s-osnovami-ii/- Alice 3D (3D‑программирование) — https://saratov-okt.kiber-one.com/moduli/alice-3d-izuchenie-3d-programmirovaniya/- Run Marco (основы алгоритмов) — https://saratov-okt.kiber-one.com/moduli/run-marco-igra-kvest-dlya-obucheniya-osnovam-algoritmov/- Исполнители: Чертёжник и Черепашка — https://saratov-okt.kiber-one.com/moduli/ispolniteli-cherteznik-i-cherepashka/- GIF‑анимация — https://saratov-okt.kiber-one.com/moduli/gif-animaciya-sozdanie-prostyh-animacij/- Tinkercad (3D‑проектирование) — https://saratov-okt.kiber-one.com/moduli/tinkercad-3d-proektirovanie/- Кибербезопасность — https://saratov-okt.kiber-one.com/moduli/kiberbezopasnost-osnovy-informatsionnoj-bezopasnosti/- Construct 2 (создание 2D‑игр) — https://saratov-okt.kiber-one.com/moduli/construct-2-sozdai-svoj-pervyj-platformer/- Компас‑3D (САПР) — https://saratov-okt.kiber-one.com/moduli/kompas-3d-3d-modelirovanie-sap/- Основы HTML (веб‑разработка) — https://saratov-okt.kiber-one.com/moduli/osnovy-html-web-razrabotka/- Голосовой помощник Алиса — https://saratov-okt.kiber-one.com/moduli/golosovoj-pomoshhnik-alisa-programmirovanie-navykov-dlya-alisa/- Создание лендинга (Tilda) — https://saratov-okt.kiber-one.com/moduli/sozdanie-lendinga-tilda-razrabotka-sajta-na-konstruktor/- Python (создание игр) — https://saratov-okt.kiber-one.com/moduli/programmirovanie-v-python-sozdaj-svoju-pervuju-igru/- Чат‑бот на Python — https://saratov-okt.kiber-one.com/moduli/umnyj-chat-bot-na-python/- Web‑дизайн (Figma) — https://saratov-okt.kiber-one.com/moduli/web-dizayn-figma/- Web‑мастер (HTML+CSS) — https://saratov-okt.kiber-one.com/moduli/web-master-html-css/- Motion Design — https://saratov-okt.kiber-one.com/moduli/motion-design-animacionnaya-grafika/- Unreal Engine 4 (игровой движок) — https://saratov-okt.kiber-one.com/moduli/unreal-engine-4-igrovoj-dvizhok/- JavaScript (игры) — https://saratov-okt.kiber-one.com/moduli/programmirovanie-na-javascript-uchimsya-sozdavat-igry/- C# (создание 2D‑игр) — https://saratov-okt.kiber-one.com/moduli/programmirovanie-na-csharp-udivitelnyj-mir-2d-igr/- C++ — https://saratov-okt.kiber-one.com/moduli/programmirovanie-na-cpp-smozhet-kazhdyj/- Java (создание приложений) — https://saratov-okt.kiber-one.com/moduli/programmirovanie-na-java-tvoe-pervoe-prilozhenie/- Unity 3D (игры) — https://saratov-okt.kiber-one.com/moduli/mir-trehmernuh-igr-na-unity-3d/- Олимпиадное программирование — https://saratov-okt.kiber-one.com/moduli/olimpiadnoe-programmirovanie-podgotovka-k-olimpiadam-po-informatike/- Облачные технологии, Блокчейн, Data Science — https://saratov-okt.kiber-one.com/moduli/oblachnye-tehnologii-blokchejn-data-science/- PHP+SQL — https://saratov-okt.kiber-one.com/moduli/php-sql-sozdanie-veb-prilozhenij-s-bazami-dannyh/- Photoshop — https://saratov-okt.kiber-one.com/moduli/volshebnij-photoshop-graficheskij-dizajn-i-obrabotka-izobrazhenij/- Подготовка к олимпиадам — https://saratov-okt.kiber-one.com/moduli/podgotovka-k-olimpiadam-razvitie-navykov-resheniya-slozhnyh-zadach/- Приложения Google — https://saratov-okt.kiber-one.com/moduli/prilozheniya-google-35-prilozhenij-ot-google-o-kotoryh-vy-mogli-ne-znat/Летние программы:- Летние IT-интенсивы (краткосрочные программы по направлениям Roblox, Minecraft, Python и др.) — https://saratov-okt.kiber-one.com/vybirayte-format-svoego-leta-s-kiberone/letnie-moduli-kiberone/- Летние КИБЕРканикулы (городской лагерь с IT-обучением и развлекательной программой) — https://saratov-okt.kiber-one.com/vybirayte-format-svoego-leta-s-kiberone/kiber-kanikuly/Дополнительные механики:- Кибервалюта («кибероны») для мотивации учеников, обмен на мерч на КиберМаркете — https://saratov-okt.kiber-one.com/o-kibershkole/kibervaluta/Тьюторы и преподаватели:- Опытные специалисты с практическим опытом и педагогической подготовкой — https://saratov-okt.kiber-one.com/o-kibershkole/prepodavateli/Другие важные разделы:- Новости (новости школы и сети) — https://saratov-okt.kiber-one.com/o-kibershkole/news/- СМИ о нас (публикации о школе) — https://saratov-okt.kiber-one.com/o-kibershkole/smi-o-nas/- Фотогалерея (фото с мероприятий и уроков) — https://saratov-okt.kiber-one.com/o-kibershkole/fotogalereya/- Видео (видеоматериалы о школе) — https://saratov-okt.kiber-one.com/o-kibershkole/video/- Расписание занятий (время занятий для групп и пробных уроков) — https://saratov-okt.kiber-one.com/o-kibershkole/raspisanie/- Локации (адрес школы в Октябрьском районе Саратова, ул. Тараса Шевченко, 8) — https://saratov-okt.kiber-one.com/o-kibershkole/lokacii/- Оплата (способы оплаты и договор-оферта) — https://saratov-okt.kiber-one.com/oplata/- Сертификаты (активация промокодов партнеров) — https://saratov-okt.kiber-one.com/sertifikaty/- Контакты (email saratov@kiber-one.com) — https://saratov-okt.kiber-one.com/feedback/",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        620,
        -260
      ],
      "id": "ceef1a25-9643-4048-b47f-123d6ddf9c8f",
      "name": "Set fixed text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a2986b7-fe2d-4cd7-b72f-473d05165f2a",
              "name": "prompt",
              "value": "={{$json.First_part + $json.key_words + $json.Second_part +$json.ad_header +$json.Third_part }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        840,
        -260
      ],
      "id": "b441b95b-2143-43c7-9c6f-6d9a61e1d9ad",
      "name": "Combine text"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "ads_list",
          "mode": "list",
          "cachedResultName": "ads_list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "key_words": "={{$json.key_words}}",
            "ad_header": "={{$json[\"ad_header\"]}}",
            "ad_text": "={{$json.choices[0].message.content}}",
            "ad_url": "={{$json[\"ad_url\"]}}",
            "group_id": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "group_name",
              "displayName": "group_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "key_words",
              "displayName": "key_words",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ad_header",
              "displayName": "ad_header",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ad_text",
              "displayName": "ad_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "group_id",
              "displayName": "group_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "ad_url",
              "displayName": "ad_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2660,
        -460
      ],
      "id": "005b69b0-f960-4728-8693-0c9ace60e6cf",
      "name": "Insert all data",
      "credentials": {
        "postgres": {
          "id": "Hx2VFmUi5WO2K4QX",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "ads_list",
          "mode": "list",
          "cachedResultName": "ads_list"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "condition": ">",
              "value": "536"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        60,
        -80
      ],
      "id": "2467f892-d384-42f7-8537-069aab525560",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "Hx2VFmUi5WO2K4QX",
          "name": "Postgres account 2"
        }
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Set fixed text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Insert all data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set fixed text": {
      "main": [
        [
          {
            "node": "Combine text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine text": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert all data": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ecaa1435-1a49-4de6-9683-6cd5ee1dcbc7",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-11T14:49:48.205Z",
      "updatedAt": "2025-09-11T14:49:48.205Z",
      "role": "workflow:owner",
      "workflowId": "JUODD6ANkY1Jrbdf",
      "projectId": "spKmbJLU4mvACXIB"
    }
  ],
  "tags": []
}