n8n_workflows/ads-headers-and-texts-creation.json
{
  "createdAt": "2025-07-04T13:44:25.979Z",
  "updatedAt": "2025-07-18T13:49:45.989Z",
  "id": "Ms2blbWZRHm2gcA3",
  "name": "ADS headers and texts creation",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "48690b55-4af4-4c79-9112-673380579243",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        -80
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "url",
              "value": "https://www.dropbox.com/scl/fi/1a6ul88a9cdragm22nvt0/Keys_list_07_17_test.csv?rlkey=eeolzv50vi3cgktgia9jlfi5a&dl=1"
            }
          ]
        },
        "options": {}
      },
      "id": "fa8c65d7-33bd-441f-803b-403a205eca00",
      "name": "Enter URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -440,
        -80
      ]
    },
    {
      "parameters": {
        "url": "={{$json[\"url\"]}}",
        "responseFormat": "file",
        "options": {}
      },
      "id": "d55ec50f-db6f-44af-919c-8f5f912d53e7",
      "name": "Download File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -240,
        -80
      ]
    },
    {
      "parameters": {
        "options": {
          "delimiter": ";"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -20,
        -80
      ],
      "id": "5e357b83-b1b9-4b6a-b191-f30d52835a33",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "simplify": false,
        "options": {
          "maxToolsIterations": 15
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1200,
        -100
      ],
      "id": "e694339f-ff3b-4979-bcfd-56d963c3aace",
      "name": "Message a model",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "V8R8KiZKXscJQ1sL",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        200,
        -80
      ],
      "id": "3d2ab61b-03f1-4664-b4df-c070730ecebc",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        4160,
        20
      ],
      "id": "91cd21c2-f46c-4a7e-b829-7e5021d42d0e"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4180,
        -440
      ],
      "id": "0be22a00-25dd-4201-abbd-38903d7259a4",
      "name": "Wait",
      "webhookId": "2929675f-bcb9-40af-9f34-23d3c5d066de"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": false
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1620,
        -400
      ],
      "id": "c3005c67-df27-4298-a42f-656cb9c04a17",
      "name": "Merge",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e10b6a7-d524-4fce-8288-527e596dba23",
              "name": "First_part",
              "value": "Есть следующая фраза, заданная пользователем при поиске: \"",
              "type": "string"
            },
            {
              "id": "ba486f3b-f6d8-4d2d-9e19-3f83f0c18092",
              "name": "Second_part",
              "value": "\". Пожалуйста подбери к фразе заголовок рекламного объявления, Текст рекламного объявления и ссылку на релевантную заголовку страницу сайта. Ответ долже содержать только заголовок, текст и ссылку без рассуждений, взятые в квадратные скобки \"[]\". кавычки добавлять не надо . Учитывая то что в исходных фразах удалены все дополнительные символы, такие как #,- и пр. Требования к заголовку: 1)не более 56 символов 2)Заголовок должен максимально соответствовать ключевой фразе.  2)Обязательное требование к заголовку это сохранение всех слов из ключевой фразы. Заголовок должен быть релевантен услугам компании(см. ниже) и уточнять запрос в сторону услуг компании (давать более уточненное понимание сути услуг при этом оставаясь приближенным к исходной фразе), особенно при условии более общего запроса. Заголовок должен начинаться с заглавной буквы. Пожалуйста проверяй чтобы при обрезании под заданное количество символов заголовок оставался осмысленным и добавленное уточнение не дублировало уже имеющиеся во фразе слова. При наличии жаргонизмов или некорректного\\неграмотного написания в исходной фразе в заголовке необходимо корректное написание а также порядок слов.  Текст объявления фиксированный: \"Учим детей создавать игры, сайты и ботов. Запишись на пробный урок бесплатно!\" В ответе необходимо вернуть только запрошенную информацию, запрещено добавлять уточнения типа заголовок, ссылка, текст и пр. Описание компании:  KIBERone – международная Школа программирования и цифровых технологий для детей от 6 до 14 лет.\nОфициальный сайт филиала в Саратове (Октябрьский район): https://saratov-okt.kiber-one.com/\nПозиционирование бренда: KIBERone — первая международная КиберШкола будущего для IT-поколения 6–14 лет, признана ЮНЕСКО лучшей детской образовательной IT-школой в мире. Бренд является партнером Microsoft, Roblox и Samsung. Бесплатные пробные уроки\nОсновные услуги и программы:\nПолный перечень модулей (https://saratov-okt.kiber-one.com/moduli/):\n- Вводный модуль (основы цифровой грамотности) — https://saratov-okt.kiber-one.com/moduli/vvodnyy-modul/\n- Основы программирования Scratch Jr — https://saratov-okt.kiber-one.com/moduli/osnovy-programmirovaniya-scratch-jr/\n- Создание игр на Scratch — https://saratov-okt.kiber-one.com/moduli/modul-2-znakomstvo-so-scratch-sozdanie-igr-na-scratch-osnovy/\n- ПиктоМир (алгоритмическое мышление) — https://saratov-okt.kiber-one.com/moduli/piktomir/\n- CodeMonkey (логика и программирование) — https://saratov-okt.kiber-one.com/moduli/codemonkey-razvivaem-logiku-programmirovaniya-igr/\n- Устройство компьютера — https://saratov-okt.kiber-one.com/moduli/ustroystvo-kompyutera-my-na-ty/\n- Эффектные презентации (PowerPoint, Desygner) — https://saratov-okt.kiber-one.com/moduli/magiya-effektnyh-prezentaciy-powerpoint-i-desygner/\n- QR‑коды — https://saratov-okt.kiber-one.com/moduli/qr-kod-kak-instrument/\n- Деловые люди (предпринимательство) — https://saratov-okt.kiber-one.com/moduli/delovye-lyudi-osnovy-predprinimatelstva-i-proektnoy-deyatelnosti-dlya-detej/\n- Google Blockly (визуальное программирование) — https://saratov-okt.kiber-one.com/moduli/google-blockly-apofeoz-vizualnogo-programmirovaniya/\n- Roblox Studio (создание игр) — https://saratov-okt.kiber-one.com/moduli/roblox-studio-sdelat-vse-chto-vy-mozhete-sebe-predstavit/\n- Kodu Game Lab (3D‑программирование) — https://saratov-okt.kiber-one.com/moduli/kodu-game-lab-vizualnoe-programmirovanie-v-3d/\n- Разработка мобильных приложений в Thunkable — https://saratov-okt.kiber-one.com/moduli/razrabotka-mobilnyh-prilozhenij-v-thunkable-nachalo/\n- Blender (3D‑моделирование) — https://saratov-okt.kiber-one.com/moduli/blender-osnovy-3d-modelirovaniya/\n- Компьютерная грамотность — https://saratov-okt.kiber-one.com/moduli/kompyuternaya-gramotnost/\n- Minecraft Education — https://saratov-okt.kiber-one.com/moduli/minecraft-education/\n- Нейросети (основы ИИ) — https://saratov-okt.kiber-one.com/moduli/neyroseti-znakomstvo-s-osnovami-ii/\n- Alice 3D (3D‑программирование) — https://saratov-okt.kiber-one.com/moduli/alice-3d-izuchenie-3d-programmirovaniya/\n- Run Marco (основы алгоритмов) — https://saratov-okt.kiber-one.com/moduli/run-marco-igra-kvest-dlya-obucheniya-osnovam-algoritmov/\n- Исполнители: Чертёжник и Черепашка — https://saratov-okt.kiber-one.com/moduli/ispolniteli-cherteznik-i-cherepashka/\n- GIF‑анимация — https://saratov-okt.kiber-one.com/moduli/gif-animaciya-sozdanie-prostyh-animacij/\n- Tinkercad (3D‑проектирование) — https://saratov-okt.kiber-one.com/moduli/tinkercad-3d-proektirovanie/\n- Кибербезопасность — https://saratov-okt.kiber-one.com/moduli/kiberbezopasnost-osnovy-informatsionnoj-bezopasnosti/\n- Construct 2 (создание 2D‑игр) — https://saratov-okt.kiber-one.com/moduli/construct-2-sozdai-svoj-pervyj-platformer/\n- Компас‑3D (САПР) — https://saratov-okt.kiber-one.com/moduli/kompas-3d-3d-modelirovanie-sap/\n- Основы HTML (веб‑разработка) — https://saratov-okt.kiber-one.com/moduli/osnovy-html-web-razrabotka/\n- Голосовой помощник Алиса — https://saratov-okt.kiber-one.com/moduli/golosovoj-pomoshhnik-alisa-programmirovanie-navykov-dlya-alisa/\n- Создание лендинга (Tilda) — https://saratov-okt.kiber-one.com/moduli/sozdanie-lendinga-tilda-razrabotka-sajta-na-konstruktor/\n- Python (создание игр) — https://saratov-okt.kiber-one.com/moduli/programmirovanie-v-python-sozdaj-svoju-pervuju-igru/\n- Чат‑бот на Python — https://saratov-okt.kiber-one.com/moduli/umnyj-chat-bot-na-python/\n- Web‑дизайн (Figma) — https://saratov-okt.kiber-one.com/moduli/web-dizayn-figma/\n- Web‑мастер (HTML+CSS) — https://saratov-okt.kiber-one.com/moduli/web-master-html-css/\n- Motion Design — https://saratov-okt.kiber-one.com/moduli/motion-design-animacionnaya-grafika/\n- Unreal Engine 4 (игровой движок) — https://saratov-okt.kiber-one.com/moduli/unreal-engine-4-igrovoj-dvizhok/\n- JavaScript (игры) — https://saratov-okt.kiber-one.com/moduli/programmirovanie-na-javascript-uchimsya-sozdavat-igry/\n- C# (создание 2D‑игр) — https://saratov-okt.kiber-one.com/moduli/programmirovanie-na-csharp-udivitelnyj-mir-2d-igr/\n- C++ — https://saratov-okt.kiber-one.com/moduli/programmirovanie-na-cpp-smozhet-kazhdyj/\n- Java (создание приложений) — https://saratov-okt.kiber-one.com/moduli/programmirovanie-na-java-tvoe-pervoe-prilozhenie/\n- Unity 3D (игры) — https://saratov-okt.kiber-one.com/moduli/mir-trehmernuh-igr-na-unity-3d/\n- Олимпиадное программирование — https://saratov-okt.kiber-one.com/moduli/olimpiadnoe-programmirovanie-podgotovka-k-olimpiadam-po-informatike/\n- Облачные технологии, Блокчейн, Data Science — https://saratov-okt.kiber-one.com/moduli/oblachnye-tehnologii-blokchejn-data-science/\n- PHP+SQL — https://saratov-okt.kiber-one.com/moduli/php-sql-sozdanie-veb-prilozhenij-s-bazami-dannyh/\n- Photoshop — https://saratov-okt.kiber-one.com/moduli/volshebnij-photoshop-graficheskij-dizajn-i-obrabotka-izobrazhenij/\n- Подготовка к олимпиадам — https://saratov-okt.kiber-one.com/moduli/podgotovka-k-olimpiadam-razvitie-navykov-resheniya-slozhnyh-zadach/\n- Приложения Google — https://saratov-okt.kiber-one.com/moduli/prilozheniya-google-35-prilozhenij-ot-google-o-kotoryh-vy-mogli-ne-znat/\nЛетние программы:\n- Летние IT-интенсивы (краткосрочные программы по направлениям Roblox, Minecraft, Python и др.) — https://saratov-okt.kiber-one.com/vybirayte-format-svoego-leta-s-kiberone/letnie-moduli-kiberone/\n- Летние КИБЕРканикулы (городской лагерь с IT-обучением и развлекательной программой) — https://saratov-okt.kiber-one.com/vybirayte-format-svoego-leta-s-kiberone/kiber-kanikuly/\nДополнительные механики:\n- Кибервалюта («кибероны») для мотивации учеников, обмен на мерч на КиберМаркете — https://saratov-okt.kiber-one.com/o-kibershkole/kibervaluta/\nТьюторы и преподаватели:\n- Опытные специалисты с практическим опытом и педагогической подготовкой — https://saratov-okt.kiber-one.com/o-kibershkole/prepodavateli/\nДругие важные разделы:\n- Новости (новости школы и сети) — https://saratov-okt.kiber-one.com/o-kibershkole/news/\n- СМИ о нас (публикации о школе) — https://saratov-okt.kiber-one.com/o-kibershkole/smi-o-nas/\n- Фотогалерея (фото с мероприятий и уроков) — https://saratov-okt.kiber-one.com/o-kibershkole/fotogalereya/\n- Видео (видеоматериалы о школе) — https://saratov-okt.kiber-one.com/o-kibershkole/video/\n- Расписание занятий (время занятий для групп и пробных уроков) — https://saratov-okt.kiber-one.com/o-kibershkole/raspisanie/\n- Локации (адрес школы в Октябрьском районе Саратова, ул. Тараса Шевченко, 8) — https://saratov-okt.kiber-one.com/o-kibershkole/lokacii/\n- Оплата (способы оплаты и договор-оферта) — https://saratov-okt.kiber-one.com/oplata/\n- Сертификаты (активация промокодов партнеров) — https://saratov-okt.kiber-one.com/sertifikaty/\n- Контакты (email saratov@kiber-one.com) — https://saratov-okt.kiber-one.com/feedback/",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        620,
        -260
      ],
      "id": "25b1e814-b7be-4ceb-b995-538ee09643c6",
      "name": "Set fixed text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a2986b7-fe2d-4cd7-b72f-473d05165f2a",
              "name": "prompt",
              "value": "={{$json.First_part + $json[Object.keys($json)[0]] + $json.Second_part }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        840,
        -260
      ],
      "id": "51b7b6b9-7ae1-4ed1-9b82-b27273d0db18",
      "name": "Combine text"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "ads_list",
          "mode": "list",
          "cachedResultName": "ads_list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "key_words": "={{$json[Object.keys($json)[0]]}}",
            "ad_header": "={{$json[\"AD_Header\"]}}",
            "ad_text": "={{$json[\"AD_Text\"]}}",
            "ad_url": "={{$json[\"AD_URL\"]}}",
            "group_id": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "group_name",
              "displayName": "group_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "key_words",
              "displayName": "key_words",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ad_header",
              "displayName": "ad_header",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ad_text",
              "displayName": "ad_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "group_id",
              "displayName": "group_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "ad_url",
              "displayName": "ad_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3980,
        -460
      ],
      "id": "aa423183-24b4-4fc1-abbf-0bc190473bbe",
      "name": "Insert all data",
      "credentials": {
        "postgres": {
          "id": "Hx2VFmUi5WO2K4QX",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1b96601-333a-4fcd-8e9b-809f3f4057ed",
              "name": "=AD_Header",
              "value": "={{ $json.choices[0].message.content.match(/\\[([^\\]]+)\\]/g)?.[0]?.slice(1, -1) }}",
              "type": "string"
            },
            {
              "id": "65a15095-e1e7-4960-b4c7-29de83474093",
              "name": "=AD_Text",
              "value": "={{ $json.choices[0].message.content.match(/\\[([^\\]]+)\\]/g)?.[1]?.slice(1, -1) }}",
              "type": "string"
            },
            {
              "id": "7f40c4a0-801b-41ea-a26e-54cec58cb6f2",
              "name": "=AD_URL",
              "value": "={{ $json.choices[0].message.content.match(/\\[([^\\]]+)\\]/g)?.[2]?.slice(1, -1) }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1800,
        -460
      ],
      "id": "77034f79-0ccb-4670-8b7e-428afb1dad59",
      "name": "Add Header and AD_Text"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "709a3228-ca19-4663-8c74-5be612fe4cba",
              "leftValue": "={{ $json.AD_URL }}",
              "rightValue": "https://saratov-okt.kiber-one.com",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "567449b5-599d-452e-a7e5-7ea1a9932222",
              "leftValue": "={{ $json.AD_Text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "b48ff7a5-fd87-4ebe-aa40-c8eb5d13020d",
              "leftValue": "={{ $json.AD_Header }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2020,
        -460
      ],
      "id": "6597be5d-b561-4a3b-9eb7-981f0592f0af",
      "name": "Data validity check"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "errors",
          "mode": "list",
          "cachedResultName": "errors"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "responce ": "={{ $json.choices[0].message.content }}",
            "comment": "={{$json[Object.keys($json)[0]]}}",
            "list_num": "={{$node[\"Loop Over Items\"].context[\"currentRunIndex\"]}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "responce ",
              "displayName": "responce ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "comment",
              "displayName": "comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "list_num",
              "displayName": "list_num",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3420,
        -360
      ],
      "id": "f83dfe93-c21b-4422-93a7-50a40bb27860",
      "name": "Error log",
      "credentials": {
        "postgres": {
          "id": "Hx2VFmUi5WO2K4QX",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50d50dfa-06ce-4861-aa51-7e142501a6de",
              "name": "choices[0].message.content",
              "value": "[Языки программирования для детей: курсы в KIBERone](https://saratov-okt.kiber-one.com/) [Учим детей создавать игры, сайты и ботов. Запишись на пробный урок бесплатно!] ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1460,
        -220
      ],
      "id": "7945c893-ad95-4b4b-8754-01642f8cea0b",
      "name": "Dedug"
    },
    {
      "parameters": {
        "content": "добавить проверку на длину полей. Сейчас косячит!\nВ одном случае дописал в конце \"\\\\\"\nУточнить что нельзя использовать символ \"‑\" в заголовке\n",
        "height": 380,
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2320,
        -820
      ],
      "id": "c560f7f3-afb1-409e-be8d-bdd00eee7844",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Enter URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enter URL": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Dedug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Set fixed text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Add Header and AD_Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set fixed text": {
      "main": [
        [
          {
            "node": "Combine text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine text": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert all data": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Header and AD_Text": {
      "main": [
        [
          {
            "node": "Data validity check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data validity check": {
      "main": [
        [
          {
            "node": "Insert all data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error log": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedug": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ee241ffc-ac73-4bd2-b39e-ceea19ecf09f",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-07-04T13:44:25.979Z",
      "updatedAt": "2025-07-04T13:44:25.979Z",
      "role": "workflow:owner",
      "workflowId": "Ms2blbWZRHm2gcA3",
      "projectId": "spKmbJLU4mvACXIB"
    }
  ],
  "tags": []
}