n8n_workflows/adv_campaign_ids-load.json
{
  "updatedAt": "2025-11-10T18:00:32.626Z",
  "createdAt": "2025-11-10T13:35:24.421Z",
  "id": "Wnsw79fmux6MqiZq",
  "name": "ADV_campaign_IDs load",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.yandex_report_dropbox_file_path }}",
        "responseFormat": "file",
        "options": {}
      },
      "id": "28d99117-dec3-4231-b35a-65b738ffa69d",
      "name": "Download File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -416,
        -208
      ]
    },
    {
      "parameters": {
        "options": {
          "delimiter": ";"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        560,
        -192
      ],
      "id": "cd588057-f36b-40cd-9aa8-1972300a490b",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2528,
        -112
      ],
      "id": "68e8b1ab-193b-4ef4-a216-d605a08a0a47",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "content": "что делаем по регулярной отчетности. Пока из  CSV. Потом - API\nНа вход - стандартный поисковый запрос + Заголовок объявления. Без дат!!!!"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        -880
      ],
      "id": "5417bafc-dcd7-465e-8656-095df1b28e25",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Соответствие\n1)Если пословное то проверяем совпадение запроса с нашим ключом. \nа)совпадает(убираем кавычки у нашего ключа) - все ОК\nб)не совпадает - спрашиваем у чата релевантна ли нам фраза. Да - добавляем в ключи. Нет - добавляем в минус слова.\n2)Не пословное - спрашиваем у чата релевантна ли нам фраза. Да - добавляем в ключи. Нет - добавляем в минус слова."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        -592
      ],
      "id": "ce8f2c1a-b90e-4f36-9678-19d55636de76",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Не забыть что я вручную удалил фразы select * from company_content where phrase like '%бесплат%' "
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2288,
        -1152
      ],
      "id": "ae60d164-dd9b-4dae-9740-75539c219580",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -784,
        -240
      ],
      "id": "56b79df1-5393-4e1a-b965-6fd6e50966d7",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "content": "Очистка буферных таблиц",
        "height": 368,
        "width": 1120
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        336,
        144
      ],
      "id": "2bf2628d-37f6-4cff-8f10-5934bb37122a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select company_id from active_company_adv_campaigns where campaign_yandex_id=$1",
        "options": {
          "queryReplacement": "={{ $json.campaign_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        608,
        256
      ],
      "id": "35234f41-27fd-4b53-956d-e603ca81a3ae",
      "name": "get client id",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "Hx2VFmUi5WO2K4QX",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO business_processes_states (business_process_id, company_id,n8n_workflow_execution_id,n8n_workflow_root_execution_id, started)\nSELECT MAX(business_process_id), $2,$3,$4, NOW()\nFROM public.business_processes\nWHERE n8n_process_name = $1;",
        "options": {
          "queryReplacement": "=[{{$workflow.name}},{{$json.company_id}},{{$execution.id}},{{ $('When Executed by Another Workflow').item.json.root_execution_id }}]"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1120,
        0
      ],
      "id": "deaad43f-cff6-4fe4-a8b8-c882c1b7a997",
      "name": "Mark_workwlow_started",
      "credentials": {
        "postgres": {
          "id": "4YkdFJcdTgzo9hkz",
          "name": "PGvector"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update business_processes_states set finished=NOW(),tokens_used=0 where business_process_id=(select MAX(business_process_id) from business_processes where n8n_process_name=$1) and n8n_workflow_execution_id=$2",
        "options": {
          "queryReplacement": "=[{{$workflow.name}},{{$execution.id}}]"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2848,
        -304
      ],
      "id": "7beaa1a1-5f7b-48ec-81c4-2ddae9b33d61",
      "name": "Mark_workflow_completed",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "4YkdFJcdTgzo9hkz",
          "name": "PGvector"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Вход: Binary -> data (CSV)\n// Настройка: \"Binary property\": data\nconst bin = items[0].binary.data;\nconst buf = Buffer.from(bin.data, 'base64');\nconst text = buf.toString('utf-8'); // или cp1251 при необходимости\n\nconst lines = text.split(/\\r?\\n/);\n// Здесь укажи число служебных строк, например 4\nconst start = 8; \nconst trimmed = lines.slice(start).join('\\n');\n\nreturn [\n  {\n    binary: {\n      data: {\n        data: Buffer.from(trimmed, 'utf-8').toString('base64'),\n        fileName: 'cleaned.csv',\n        mimeType: 'text/csv',\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -192
      ],
      "id": "b87896ed-de9e-4e77-b94e-56e1374830f4",
      "name": "header cut"
    },
    {
      "parameters": {
        "jsCode": "//Fixing common error in the first field name for CSV import\n\nfunction sanitizeKey(k) {\n  return String(k)\n    .replace(/[\\uFEFF\\u200B-\\u200D\\u2060\\u00A0]/g, \"\")\n    .replace(/[\\x00-\\x1F\\x7F]/g, \"\")\n    .replace(/[“”\"']/g, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nconst obj = { ...$json };\nconst oldKey = Object.keys(obj)[0];\nif (oldKey) {\n  const newKey = sanitizeKey(oldKey) || oldKey;\n  if (newKey !== oldKey) {\n    obj[newKey] = obj[oldKey];\n    delete obj[oldKey];\n  }\n}\nreturn [{ json: obj }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2704,
        -96
      ],
      "id": "e7ce3f80-ed1a-4a67-8882-e80b14e4bc52",
      "name": "sanitizeKey"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2304,
        -112
      ],
      "id": "936d55f2-bc27-4a11-a1d0-914ed2693cb0",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17df7f34-56a6-4d29-a7d3-9edfd4afaadb",
              "name": "company_id",
              "value": "={{ $('get client id').item.json.company_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        256
      ],
      "id": "89a076ae-f6c1-4d92-abe2-e21e6f8f100b",
      "name": "company_id"
    },
    {
      "parameters": {
        "jsCode": "// Function-Node (Run Once)\nconst workflowData = $getWorkflowStaticData('global');\nworkflowData.steps_passed = 0;\nworkflowData.tokens_used = 0;\nworkflowData.step = 0;\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        -144
      ],
      "id": "ffabc4cd-4986-41ea-a3ac-3dc58900a940",
      "name": "Init total counter"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst workflowData = $getWorkflowStaticData('global');\nworkflowData.steps_passed = workflowData.steps_passed+1; // update steps counter\n //set used tokens here!!!!\nworkflowData.step = workflowData.step+1;\n\nfor (const item of $input.all()) {\n  item.json.steps_passed = workflowData.steps_passed;\n  item.json.step = workflowData.step;\n  \n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3424,
        -96
      ],
      "id": "4648c3cf-eed1-4859-9beb-3470ce284e33",
      "name": "Get current step  saved"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update business_processes_states set steps_passed=$3, tokens_used=0,tokens_used_type=$4 where business_process_id=(select MAX(business_process_id) from business_processes where n8n_process_name=$1) and n8n_workflow_execution_id=$2",
        "options": {
          "queryReplacement": "=[{{$workflow.name}},{{$execution.id}},{{$json.steps_passed}},{{ 'gpt-5' }}]"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4368,
        -128
      ],
      "id": "d8296d69-da8c-4e04-9ffe-459ba0e5e52b",
      "name": "Mark_workflow_passed_steps",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "4YkdFJcdTgzo9hkz",
          "name": "PGvector"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "00803116-bcbd-434f-87c7-9f785abb5930",
              "leftValue": "={{ $json.step  }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3776,
        -80
      ],
      "id": "c492db07-b5df-493b-8229-6959ba687aa2",
      "name": "each 100 items"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "report_import",
          "mode": "list",
          "cachedResultName": "report_import"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "company_id": "={{ $json.company_id }}",
            "start_date": "={{ $('get campaign ID').item.json.date_from }}",
            "end_date": "={{ $('get campaign ID').item.json.date_to }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "import_id",
              "displayName": "import_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "start_date",
              "displayName": "start_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "end_date",
              "displayName": "end_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "import_date",
              "displayName": "import_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_id",
              "displayName": "company_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_date",
              "displayName": "processed_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        976,
        256
      ],
      "id": "31acbf8e-03db-4b9c-b08d-dbf99b340357",
      "name": "report import record",
      "credentials": {
        "postgres": {
          "id": "Hx2VFmUi5WO2K4QX",
          "name": "Postgres account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update business_processes_states set steps_total=$3 where business_process_id=(select MAX(business_process_id) from business_processes where n8n_process_name=$1) and n8n_workflow_execution_id=$2",
        "options": {
          "queryReplacement": "=[{{$workflow.name}},{{$execution.id}},{{$input.all().length}}]"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1824,
        -304
      ],
      "id": "340c6ec8-2afc-48a6-a9dc-c8d551c80cbf",
      "name": "Mark_workflow_total_steps",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "4YkdFJcdTgzo9hkz",
          "name": "PGvector"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst workflowData = $getWorkflowStaticData('global');\n\nworkflowData.step =0;\n\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4112,
        -96
      ],
      "id": "5ecfd689-1b3b-45de-9202-4401deeeacaf",
      "name": "reset step"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17df7f34-56a6-4d29-a7d3-9edfd4afaadb",
              "name": "company_id",
              "value": "={{ $('get client id').item.json.company_id }}",
              "type": "string"
            },
            {
              "id": "d12188b1-d423-4782-98c9-1d584a01ae44",
              "name": "report_id",
              "value": "={{ $('report import record').last().json.import_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3040,
        -304
      ],
      "id": "9898c20f-ffd6-4550-9b1e-c5014ec7fc30",
      "name": "company_id_report_id"
    },
    {
      "parameters": {
        "jsCode": "// Извлекаем campaign_id из имени файла вида \"<campaign_id>.xlsx\"\nreturn $input.all().map(item => {\n  const binKey = Object.keys(item.binary ?? {})[0]; // обычно \"data\"\n  const meta = binKey ? item.binary[binKey] : undefined;\n\n  // имя файла: сначала fileName, на всякий — \"File Name\"\n  const fileName = meta?.fileName ?? meta?.[\"File Name\"] ?? \"\";\n  const baseName = String(fileName).trim().split(/[\\\\/]/).pop(); // убираем путь, если есть\n\n  // Строго: только \"<числа>.csv\"; запасной вариант — первая числовая последовательность\n  const m = baseName.match(/^(\\d+)\\.csv$/i) || baseName.match(/(\\d+)/);\n\n  const campaign_id = m?.[1] ?? null;\n\n  return {\n    json: {\n      ...item.json,\n      campaign_id,   // строкой, чтобы избежать переполнения; при необходимости Number(campaign_id)\n      file_name: fileName,\n      bin_key: binKey,\n    },\n    binary: item.binary, // сохраняем бинарные данные\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -160
      ],
      "id": "ed771a97-a0f8-45b9-880b-9eef10c17ab2",
      "name": "get campaign ID"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.ads_list\n\tSET group_yandex_id=$3, ads_yandex_id=$4, key_word_yandex_id=$5\n\tWHERE company_id=$1 and key_word=$2;",
        "options": {
          "queryReplacement": "={{ $json.company_id }},{{ $json['Фраза (с минус-словами)'] }},{{ $json['ID группы'] }},{{ $json['ID объявления'] }},{{ $json['ID фразы'] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3024,
        -96
      ],
      "id": "6a738735-2db5-4d16-b68f-30371cf09b7c",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "Hx2VFmUi5WO2K4QX",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Берём все входные items\nconst items = $input.all();\n\n// 1) Удаляем первый элемент\nconst withoutFirst = items.slice(1);\n\n// 2) Удаляем объекты, где поле 'Фраза (с минус-словами)' равно '\\t---autotargeting'\n//    Дополнительно страхуемся на случай лишних пробелов/табов (trim).\nconst filtered = withoutFirst.filter(item => {\n  const v = item?.json?.['Фраза (с минус-словами)'];\n  // строгая проверка таб+строка И проверка после trim\n  const isAuto = v === '\\t---autotargeting' || String(v ?? '').trim() === '---autotargeting';\n  return !isAuto;\n});\n\n// Возвращаем результат без изменения бинарных данных\nreturn filtered.map(it => ({ json: it.json, binary: it.binary }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        -112
      ],
      "id": "729681e3-ab8d-43d2-8a77-7e48cb21699f",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "Download File": {
      "main": [
        [
          {
            "node": "get campaign ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Init total counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Mark_workflow_completed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "sanitizeKey",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get client id": {
      "main": [
        [
          {
            "node": "Mark_workwlow_started",
            "type": "main",
            "index": 0
          },
          {
            "node": "report import record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "header cut": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sanitizeKey": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "company_id": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Mark_workflow_completed": {
      "main": [
        [
          {
            "node": "company_id_report_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init total counter": {
      "main": [
        [
          {
            "node": "Mark_workflow_total_steps",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get current step  saved": {
      "main": [
        [
          {
            "node": "each 100 items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "each 100 items": {
      "main": [
        [
          {
            "node": "reset step",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark_workflow_passed_steps": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "report import record": {
      "main": [
        [
          {
            "node": "company_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reset step": {
      "main": [
        [
          {
            "node": "Mark_workflow_passed_steps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get campaign ID": {
      "main": [
        [
          {
            "node": "header cut",
            "type": "main",
            "index": 0
          },
          {
            "node": "get client id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Get current step  saved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "v2Z32ISEUzsFYnZw"
  },
  "staticData": {
    "global": {
      "steps_passed": 376,
      "tokens_used": 0,
      "step": 76
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "id": "4f5WJ06ItW520O75",
          "root_execution_id": 32924,
          "yandex_report_dropbox_file_path": "https://www.dropbox.com/scl/fi/y5ta5w9gd7ux4ml4mi5bc/704708210.csv?rlkey=s1prv35zb1r8dypxvi0lywd1d&dl=1",
          "threshhold": "0.88"
        }
      }
    ]
  },
  "versionId": "13f8f588-52d3-4489-bece-d6b39bf8aaa9",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-10T13:35:24.421Z",
      "createdAt": "2025-11-10T13:35:24.421Z",
      "role": "workflow:owner",
      "workflowId": "Wnsw79fmux6MqiZq",
      "projectId": "spKmbJLU4mvACXIB"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-10-06T13:06:54.644Z",
      "createdAt": "2025-10-06T13:06:54.644Z",
      "id": "DBEf57wUDunVJUG6",
      "name": "campaign update"
    }
  ]
}