n8n_workflows/anton's-test.json
{
  "createdAt": "2025-09-22T14:01:12.675Z",
  "updatedAt": "2025-10-07T20:56:49.966Z",
  "id": "BKfU7GhWdir6g3Ib",
  "name": "Anton's test",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f82269ff-704f-4478-95d1-f1678f82b1f2",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        80,
        240
      ],
      "id": "25b3119f-f038-43f2-aecf-bfb6dd75516b",
      "name": "Webhook для анкеты на сайте",
      "webhookId": "f82269ff-704f-4478-95d1-f1678f82b1f2"
    },
    {
      "parameters": {
        "jsCode": "// Вход: webhook отправил payload в виде строки JSON\nconst data = JSON.parse($json.body);\n\n// Разложим по отдельным полям\nreturn [\n  {\n    json: {\n      utm_source: data.utm_source || '',\n      utm_medium: data.utm_medium || '',\n      utm_campaign: data.utm_campaign || '',\n      utm_term: data.utm_term || '',\n      utm_content: data.utm_content || '',\n      etext: data.etext || '',\n      yclid: data.yclid || '',\n      gclid: data.gclid || '',\n      fbclid: data.fbclid || '',\n      msclkid: data.msclkid || '',\n      referrer: data.referrer || '',\n      page_url: data.page_url || '',\n      page_title: data.page_title || '',\n      is_yandex_direct: data.is_yandex_direct || false,\n      yandex_reason: data.yandex_reason || '',\n      decided_source_id: data.decided_source_id || '',\n      ts: data.ts || ''\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        240
      ],
      "id": "a5ce8961-8e00-4ffa-b9ed-115560f25de7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// вход тот самый body, который ты уже парсишь\nconst data = typeof $json.body === 'string' ? JSON.parse($json.body) : $json;\n\n// полезно захватить IP/UA для дополнительной корреляции\nconst headers = $json.headers || {};\nconst ip = headers['x-forwarded-for'] || headers['cf-connecting-ip'] || headers['x-real-ip'] || '';\nconst ua = headers['user-agent'] || '';\n\nconst now = Date.now();\n\nreturn [{\n  json: {\n    status: 'pending',\n    ts_site: now,                    // timestamp прихода с сайта (ms)\n    yclid: data.yclid || '',\n    etext: data.etext || '',\n    utm_source: data.utm_source || '',\n    utm_medium: data.utm_medium || '',\n    utm_campaign: data.utm_campaign || '',\n    referrer: data.referrer || '',\n    page_url: data.page_url || '',\n    ip,\n    ua,\n    raw_site: data                    // сохраняем всё целиком на всякий случай\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        240
      ],
      "id": "99b98e53-24df-4c59-98e8-0b6d3120d8f3",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        704,
        240
      ],
      "id": "7eb21cf2-3466-431a-ae78-31ccbaeca46e",
      "name": "Insert row"
    }
  ],
  "connections": {
    "Webhook для анкеты на сайте": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1fc340f3-78c4-4aff-9039-b55dd24e62b5",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-09-22T14:01:12.675Z",
      "updatedAt": "2025-09-22T14:01:12.675Z",
      "role": "workflow:owner",
      "workflowId": "BKfU7GhWdir6g3Ib",
      "projectId": "spKmbJLU4mvACXIB"
    }
  ],
  "tags": []
}