n8n_workflows/anton's-test.json
{
  "createdAt": "2025-09-22T14:01:12.675Z",
  "updatedAt": "2025-10-01T21:49:58.351Z",
  "id": "BKfU7GhWdir6g3Ib",
  "name": "Anton's test",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        96
      ],
      "id": "f755019e-f8cf-437d-9ad2-ddb323c9aabf",
      "name": "отправить конверсию в ЯМ"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        272,
        112
      ],
      "id": "c3353c05-1b78-4eeb-9cdf-ca9134967b68",
      "name": "Merge"
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        368,
        448
      ],
      "id": "a2e24bfe-457e-4065-a6d8-5410c6dd7329",
      "name": "Wait",
      "webhookId": "54d5c414-68c9-4d08-9633-21a068fc57ae"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f82269ff-704f-4478-95d1-f1678f82b1f2",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        448
      ],
      "id": "25b3119f-f038-43f2-aecf-bfb6dd75516b",
      "name": "Webhook для анкеты на сайте",
      "webhookId": "f82269ff-704f-4478-95d1-f1678f82b1f2"
    }
  ],
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "отправить конверсию в ЯМ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook для анкеты на сайте": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "9c032312-51c2-4149-b715-c44624456edb",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-09-22T14:01:12.675Z",
      "updatedAt": "2025-09-22T14:01:12.675Z",
      "role": "workflow:owner",
      "workflowId": "BKfU7GhWdir6g3Ib",
      "projectId": "spKmbJLU4mvACXIB"
    }
  ],
  "tags": []
}