n8n_workflows/check-if-keyword-need-to-be-restricted.json
{
  "createdAt": "2025-10-08T11:54:45.682Z",
  "updatedAt": "2025-10-14T14:02:06.426Z",
  "id": "0JY4BXCUoUM4RzPE",
  "name": "Check if keyword need to be restricted",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "Следующая логика:\nСмотрим по всем загруженным отчетам клиента га момент и не помеченным словам. Если было больше 20 запросов где было показано это слово (used_keyword) и больше 50% нерелевантные слова то 1)берем слово в кавычки в Яндекс Директ - нужно API\n2)помечаем у себя(отдельная таблица)?",
        "height": 208,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1968,
        -816
      ],
      "id": "c9886e56-b3f7-4c26-961e-95cf0942472b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2688,
        -400
      ],
      "id": "659be90d-ee8f-4207-b61e-31e2809c9541",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update business_processes_states set finished=NOW(),tokens_used=0,steps_passed=1,steps_total=1 where business_process_id=(select MAX(business_process_id) from business_processes where n8n_process_name=$1) and n8n_workflow_execution_id=$2",
        "options": {
          "queryReplacement": "=[{{$workflow.name}},{{$execution.id}}]"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1184,
        -400
      ],
      "id": "08259515-874a-4fc8-8c2b-2bd0cde61fbb",
      "name": "Mark_workflow_completed",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "4YkdFJcdTgzo9hkz",
          "name": "PGvector"
        }
      }
    },
    {
      "parameters": {
        "content": "Get first base minus words, than all other ordered by weight"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2272,
        -816
      ],
      "id": "c7597c92-bd49-4590-b41d-280fff39b4dd",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO business_processes_states (business_process_id, company_id,n8n_workflow_execution_id,n8n_workflow_root_execution_id, started)\nSELECT MAX(business_process_id), $2,$3,$4, NOW()\nFROM public.business_processes\nWHERE n8n_process_name = $1;",
        "options": {
          "queryReplacement": "=[{{$workflow.name}},{{$json.company_id}},{{$execution.id}},{{ $('When Executed by Another Workflow').item.json.root_execution_id }}]"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2416,
        -400
      ],
      "id": "8fdc0deb-03b3-490e-91cb-e65e13f04ce9",
      "name": "Mark_workwlow_started",
      "credentials": {
        "postgres": {
          "id": "4YkdFJcdTgzo9hkz",
          "name": "PGvector"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Function-Node (Run Once)\nconst workflowData = $getWorkflowStaticData('global');\nworkflowData.steps_passed = 0;\nworkflowData.tokens_used = 0;\nworkflowData.step = 0;\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1408,
        -400
      ],
      "id": "315df9d6-a59c-4ec1-8b5d-f20dfc1aa493",
      "name": "Init total counter"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH grouped AS (\n  SELECT\n    NULLIF(trim(split_part(used_keyword, ' -', 1)), '') as used_keyword, ads_header,\n\tSUM(count_convetions) as count_convetions,\n    SUM(count_views) AS views_total,\n    SUM(\n      CASE\n        WHEN resolution NOT IN ('same key', 'to add') OR resolution IS NULL\n          THEN count_views\n        ELSE 0\n      END\n    ) AS views_other\n  FROM current_list\n  WHERE company_id = $1\n  GROUP BY used_keyword,ads_header\n)\nSELECT\n  used_keyword,ads_header,\n  views_total,\n  views_other,\n  ROUND(views_other::numeric / NULLIF(views_total,0), 4) AS share_other\nFROM grouped\nWHERE views_total > 20\n  AND views_other::numeric / NULLIF(views_total, 0) >= 0.5\n  AND used_keyword NOT LIKE '\"%'\n  AND count_convetions =0 \nORDER BY share_other DESC, views_total DESC;",
        "options": {
          "queryReplacement": "={{ $('When Executed by Another Workflow').item.json.company_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2096,
        -400
      ],
      "id": "839315e4-88ed-47cb-8567-43cedd3b6a59",
      "name": "Get suspected key words",
      "credentials": {
        "postgres": {
          "id": "Hx2VFmUi5WO2K4QX",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE ads_list\n\tSET key_word='\"' || $2 || '\"',update_required=true WHERE key_word=$2 and company_id=$1;\n",
        "options": {
          "queryReplacement": "={{ $('When Executed by Another Workflow').item.json.company_id }},{{$json.used_keyword }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1776,
        -416
      ],
      "id": "4f582051-3ab2-454a-b889-f38f6f13f6a0",
      "name": "update ads_list",
      "credentials": {
        "postgres": {
          "id": "Hx2VFmUi5WO2K4QX",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1600,
        -352
      ],
      "id": "c920aa78-3e8b-40da-8713-a0d8e6ed7974",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE current_ads_list\n\tSET key_word='\"' || $2 || '\"' WHERE key_word=$2 and company_id=$1;\n",
        "options": {
          "queryReplacement": "={{ $('When Executed by Another Workflow').item.json.company_id }},{{$json.used_keyword }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1776,
        -240
      ],
      "id": "f118f564-a55c-4ba8-8c97-dcdcc04278e1",
      "name": "update current_ads_list",
      "credentials": {
        "postgres": {
          "id": "Hx2VFmUi5WO2K4QX",
          "name": "Postgres account 2"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Mark_workwlow_started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark_workflow_completed": {
      "main": [
        []
      ]
    },
    "Mark_workwlow_started": {
      "main": [
        [
          {
            "node": "Get suspected key words",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init total counter": {
      "main": [
        [
          {
            "node": "Mark_workflow_completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get suspected key words": {
      "main": [
        [
          {
            "node": "update ads_list",
            "type": "main",
            "index": 0
          },
          {
            "node": "update current_ads_list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update ads_list": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Init total counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update current_ads_list": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "v2Z32ISEUzsFYnZw"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "company_id": 1,
          "root_execution_id": 74293
        }
      }
    ]
  },
  "versionId": "53c3baf4-f79c-4d9f-99c3-4ae395bd11d4",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-08T11:54:45.682Z",
      "updatedAt": "2025-10-08T11:54:45.682Z",
      "role": "workflow:owner",
      "workflowId": "0JY4BXCUoUM4RzPE",
      "projectId": "spKmbJLU4mvACXIB"
    }
  ],
  "tags": [
    {
      "createdAt": "2025-10-08T11:53:55.048Z",
      "updatedAt": "2025-10-08T11:53:55.048Z",
      "id": "bfaXXdoIW5NToPfb",
      "name": "post procesing"
    }
  ]
}