n8n_workflows/check_minus_words-current.json
{
  "createdAt": "2025-09-10T09:26:54.385Z",
  "updatedAt": "2025-09-10T14:52:38.762Z",
  "id": "pFP8BVRv12u9KFF0",
  "name": "Check_minus_words current",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "37990fa0-23c7-4aef-835e-6f952c62dd2e",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "14477046-2ee6-4d98-9c56-3e1ba77642f5",
      "name": "Webhook In",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1040,
        -368
      ],
      "webhookId": "37990fa0-23c7-4aef-835e-6f952c62dd2e",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Input JSON: { company_name, text, threshold? }\nconst body = $json;\nconst prepositions = [\n  \"в\",\"без\",\"до\",\"из\",\"к\",\"и\",\"на\",\"по\",\"о\",\"от\",\"перед\",\"при\",\n  \"через\",\"с\",\"у\",\"за\",\"над\",\"об\",\"под\",\"про\",\"для\",\"между\"\n];\n\n// Нормализуем регистр\nlet text = String(body.minus_word ?? \"\").toLowerCase();\n\n// Экранируем спецсимволы\nconst escape = s => s.replace(/[.*+?^${}()|[\\]\\\\]/g, \"\\\\$&\");\nconst alts = prepositions.map(escape).join(\"|\");\n\n// Разрешаем буквы, цифры, подчёркивание, а также - + #\nconst re = new RegExp(\n  `(^|[^\\\\p{L}\\\\p{N}_\\\\-+#])(?:${alts})(?=$|[^\\\\p{L}\\\\p{N}_\\\\-+#])`,\n  \"giu\"\n);\n\n// Удаляем предлоги, сохраняя левый разделитель\ntext = text.replace(re, \"$1\");\n\n// Чистим пробелы\ntext = text.replace(/\\s+/g, \" \").trim();\n//const company = body.company_name;\nconst threshold = (typeof body.threshold === 'number') ? body.threshold : 0.88;\n\n\nconst set = new Set();\n    set.add(text);\n\nlet candidates = Array.from(set);\n// если пусто — добавляем пустую строку\nif (candidates.length === 0) {\n  candidates = [\"\"];\n}\n\nreturn [{ json: { threshold, candidates } }];\n"
      },
      "id": "9c817e9a-1483-4ffb-aeef-14e2290d8a35",
      "name": "Code: extract_ngrams",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        -368
      ]
    },
    {
      "parameters": {
        "jsCode": "const { threshold, candidates } = $json;\nconst out = candidates.map(c => ({ json: { candidate: c,  threshold } }));\nreturn out;"
      },
      "id": "cff1bd14-fcdc-4e3f-99ab-9800d6673b72",
      "name": "Code: explode_candidates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        -368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"text-embedding-3-small\",\"input\":\"{{$json.candidate}}\"}",
        "options": {}
      },
      "id": "4c3c97a2-a39c-4a47-8299-d6fccab7de4b",
      "name": "HTTP: OpenAI Embeddings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2656,
        -368
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "V8R8KiZKXscJQ1sL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const emb = ($json.body?.data?.[0]?.embedding) ?? ($json.data?.[0]?.embedding);\nif (!Array.isArray(emb) || emb.length === 0) {\n  throw new Error('Embedding not found');\n}\n\n\nconst out = $input.all().map(c => ({ json: { \n  vector:'[' + c.json.data[0].embedding.map(Number).join(',') + ']',    \n  threshold: $('Code: explode_candidates').all()[c.json.data[0].index].json.threshold, \n  candidate: $('Code: explode_candidates').all()[c.json.data[0].index].json.candidate } }));\nreturn out;\n"
      },
      "id": "6cc35167-45a3-478d-98cd-c1b81c3a4a72",
      "name": "Code: build_vector_literal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3072,
        -352
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT v.phrase,  0 - (v.phrase_embedding <#> $1::vector) AS similarity FROM company_content v \n  ORDER BY v.phrase_embedding <#> $1::vector LIMIT 1;",
        "options": {
          "queryReplacement": "={{$json.vector}}"
        }
      },
      "id": "cc2b6547-f9dd-4e04-8ffd-068cd36ee69a",
      "name": "Postgres: vector search",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        3376,
        -352
      ],
      "credentials": {
        "postgres": {
          "id": "4YkdFJcdTgzo9hkz",
          "name": "PGvector"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst ctx = $('Code: extract_ngrams').first().json\n  //$items(\"Code: build_vector_literal\", 0, $itemIndex).json;\n\nconst out = $input.all().map((c, idx) => ({ json: { \n  ok: c.json.similarity>=ctx.threshold,\n  candidate: $('Code: explode_candidates').all()[idx].json.candidate, \n  matched: c.json.phrase,\n    similarity:c.json.similarity\n   } }));\nreturn out;"
      },
      "id": "fba7ca43-a43b-4fe4-a193-4fc978c6910f",
      "name": "Code: pass_threshold",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3616,
        -352
      ]
    },
    {
      "parameters": {
        "jsCode": "// Collect ok=true, dedupe by canonical, keep highest similarity and longest phrase on tie\nconst items = $input.all().map(i => i.json).filter(j => j.ok);\nconst best = new Map();\nfor (const h of items) {\n  const key = h.matched || 'unknown';\n  const prev = best.get(key);\n  if (!prev || h.similarity > prev.similarity || (h.similarity === prev.similarity && (h.candidate?.length||0) > (prev.candidate?.length||0))) {\n    best.set(key, h);\n  }\n}\n// Сборка единой текстовой строки: canonical<TAB>candidate<TAB>similarity\nconst lines = Array.from(best.values()).map(x => {\n  const canonical = String(x.matched ?? 'unknown').trim();\n  const candidate = String(x.candidate ?? '').trim();\n  const similarity = (x.similarity != null) ? Number(x.similarity).toFixed(6) : '';\n  return `${canonical}\\t${candidate}\\t${similarity}`;\n});\n\nconst result = lines.join('\\n');\n\n// В n8n Code node корректно отдаём одну строку в поле result\nreturn [{ json: { result } }];"
      },
      "id": "59f708dc-9e3e-4815-ade4-481534532376",
      "name": "Code: aggregate_hits",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3936,
        -256
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1008,
        -160
      ],
      "id": "86d0ad4b-f13a-413f-b8ee-f46a0bddbe63",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "543a65b2-a6be-4d52-9130-a4714b59f4ae",
              "name": "threshold",
              "value": 0.8,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        -224
      ],
      "id": "4f0f1476-557b-490c-82f7-c0d3dd6c1a9a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "current_minus_words",
          "mode": "list",
          "cachedResultName": "current_minus_words"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1216,
        -160
      ],
      "id": "8547f4e9-0302-4e4a-a627-03167313533c",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "Hx2VFmUi5WO2K4QX",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1424,
        -160
      ],
      "id": "bf6f46b1-ee72-4f54-8916-73d916607159",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "current_minus_words",
          "mode": "list",
          "cachedResultName": "current_minus_words"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "comment": "={{$json.result}}",
            "minus_id": "={{$json.minus_id}}"
          },
          "matchingColumns": [
            "minus_id"
          ],
          "schema": [
            {
              "id": "minus_id",
              "displayName": "minus_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "minus_word",
              "displayName": "minus_word",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "current_record_id",
              "displayName": "current_record_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "keep_minus",
              "displayName": "keep_minus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "minus_word_v2",
              "displayName": "minus_word_v2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "keep_minus_v2",
              "displayName": "keep_minus_v2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "comment",
              "displayName": "comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4400,
        -192
      ],
      "id": "b710f120-b509-4eeb-890f-7b00e094a5aa",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "Hx2VFmUi5WO2K4QX",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4160,
        -208
      ],
      "id": "0756cc86-1a9c-48ca-9177-e6a65c28c1de",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "57e28de0-dd46-4d98-b06b-54e3ce8087f0",
              "leftValue": "={{ $json.candidates[0] }}",
              "rightValue": "\"\"",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2144,
        -368
      ],
      "id": "f8189d7b-2df5-450a-9540-7327c4feb570",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a3f56c1b-d7bf-4397-8702-58405823f5f5",
              "name": "result",
              "value": "предлог или служебный символ",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3280,
        -608
      ],
      "id": "c49f46d3-a5c0-466d-a81c-3b165426dc18",
      "name": "Set the empty phrase wording"
    },
    {
      "parameters": {
        "content": "Массив тут из 1 элемента, фразы проверяем целиком - не режем"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2064,
        -592
      ],
      "id": "59be7894-69dc-4935-ba9c-b88c7f94ec56",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Webhook In": {
      "main": [
        [
          {
            "node": "Code: extract_ngrams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: extract_ngrams": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: explode_candidates": {
      "main": [
        [
          {
            "node": "HTTP: OpenAI Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: OpenAI Embeddings": {
      "main": [
        [
          {
            "node": "Code: build_vector_literal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: build_vector_literal": {
      "main": [
        [
          {
            "node": "Postgres: vector search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: vector search": {
      "main": [
        [
          {
            "node": "Code: pass_threshold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: pass_threshold": {
      "main": [
        [
          {
            "node": "Code: aggregate_hits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code: extract_ngrams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code: aggregate_hits": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Set the empty phrase wording",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: explode_candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set the empty phrase wording": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4a995245-ffaf-4745-a9b1-6c720156d759",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-10T09:26:54.385Z",
      "updatedAt": "2025-09-10T09:26:54.385Z",
      "role": "workflow:owner",
      "workflowId": "pFP8BVRv12u9KFF0",
      "projectId": "spKmbJLU4mvACXIB"
    }
  ],
  "tags": []
}