n8n_workflows/clear-competitors-from-content.json
{
  "createdAt": "2025-09-28T19:51:37.055Z",
  "updatedAt": "2025-09-28T19:55:11.755Z",
  "id": "ltegbccNxKgB39WY",
  "name": "clear competitors from content",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -736,
        -48
      ],
      "id": "6ad01e03-a38b-44c6-b856-f04c6151ec4f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b410828b-42e7-47b5-bc12-312b58a6c9fa",
              "name": "company_id",
              "value": "1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        -48
      ],
      "id": "c3e76a8c-d87f-4efa-8f0e-86ae61542b1b",
      "name": "set variables"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM competitor_name_variants AS v\nUSING competitor_entities AS e\nWHERE e.competitor_id = v.competitor_id\n  AND e.company_id    = $1\n  AND (\n        SELECT v.embedding <=> c.phrase_embedding\n        FROM company_content AS c\n        WHERE c.company_id = 1\n        ORDER BY v.embedding <=> c.phrase_embedding\n        LIMIT 1\n      ) < 0.05\n-- опционально вернуть удалённые строки для контроля:\nRETURNING v.competitor_id, v.name_text;",
        "options": {
          "queryReplacement": "={{ $json.company_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -320,
        -48
      ],
      "id": "1fd0981f-3f24-4a03-ae5a-86e85a9af072",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "4YkdFJcdTgzo9hkz",
          "name": "PGvector"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "set variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set variables": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a1f63965-5991-4720-a875-61ffc057ccf2",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-28T19:51:37.055Z",
      "updatedAt": "2025-09-28T19:51:37.055Z",
      "role": "workflow:owner",
      "workflowId": "ltegbccNxKgB39WY",
      "projectId": "spKmbJLU4mvACXIB"
    }
  ],
  "tags": []
}