n8n_workflows/client_core_update_full.json
{
  "createdAt": "2025-01-27T10:00:00.000Z",
  "updatedAt": "2025-01-27T10:00:00.000Z",
  "id": "client_core_update_full_workflow",
  "name": "Client Core Update - Full Analysis",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-1400, -600],
      "id": "manual_trigger",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "company_name",
              "name": "company_name",
              "value": "Test Company",
              "type": "string"
            },
            {
              "id": "company_id",
              "name": "company_id",
              "value": 1,
              "type": "number"
            },
            {
              "id": "campaign_report_url",
              "name": "campaign_report_url",
              "value": "https://example.com/campaign_report.csv",
              "type": "string"
            },
            {
              "id": "threshold",
              "name": "threshold",
              "value": 0.88,
              "type": "number"
            },
            {
              "id": "yandex_region",
              "name": "yandex_region",
              "value": "53",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1200, -600],
      "id": "set_variables",
      "name": "Set variables"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO business_processes_states (business_process_id, company_id, n8n_workflow_execution_id, started, steps_total) SELECT MAX(business_process_id), $2, $3, NOW(), $4 FROM public.business_processes WHERE n8n_process_name = $1;",
        "options": {
          "queryReplacement": "=[{{$workflow.name}},{{$json.company_id}},{{$execution.id}},{{12}}]"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-1000, -600],
      "id": "mark_workflow_started",
      "name": "Mark workflow started",
      "credentials": {
        "postgres": {
          "id": "4YkdFJcdTgzo9hkz",
          "name": "PGvector"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const workflowData = $getWorkflowStaticData('global');\nworkflowData.steps_passed = 0;\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-800, -600],
      "id": "init_counter",
      "name": "Init total counter"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM current_list; DELETE FROM current_minus_words; DELETE FROM current_ads_list;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-600, -600],
      "id": "clear_temp_tables",
      "name": "Clear temporary tables",
      "credentials": {
        "postgres": {
          "id": "4YkdFJcdTgzo9hkz",
          "name": "PGvector"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$json.campaign_report_url}}",
        "responseFormat": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [-400, -600],
      "id": "download_report",
      "name": "Download campaign report"
    },
    {
      "parameters": {
        "options": {
          "delimiter": ";"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [-200, -600],
      "id": "extract_data",
      "name": "Extract data from CSV"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO current_list (key_word, campaign_id, used_keyword, group_id, condition_type, category, ads_header, date, count_views, count_clics, count_convetions) VALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11)",
        "options": {
          "queryReplacement": "=[{{$json.key_word}},{{$json.campaign_id}},{{$json.used_keyword}},{{$json.group_id}},{{$json.condition_type}},{{$json.category}},{{$json.ads_header}},{{$json.date}},{{$json.count_views}},{{$json.count_clics}},{{$json.count_convetions}}]"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [0, -600],
      "id": "insert_campaign_data",
      "name": "Insert campaign data",
      "credentials": {
        "postgres": {
          "id": "4YkdFJcdTgzo9hkz",
          "name": "PGvector"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const workflowData = $getWorkflowStaticData('global');\nworkflowData.steps_passed = workflowData.steps_passed + 1;\nfor (const item of $input.all()) {\n  item.json.steps_passed = workflowData.steps_passed;\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, -600],
      "id": "increment_step_1",
      "name": "Increment step counter 1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update business_processes_states set steps_passed=$3 where business_process_id=(select MAX(business_process_id) from business_processes where n8n_process_name=$1) and n8n_workflow_execution_id=$2",
        "options": {
          "queryReplacement": "=[{{$workflow.name}},{{$execution.id}},{{$json.steps_passed}}]"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [400, -600],
      "id": "update_steps_1",
      "name": "Update steps - Data loaded",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "4YkdFJcdTgzo9hkz",
          "name": "PGvector"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wZGLxMCCmOnDJZ1o",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "company_id": "={{$json.company_id}}",
            "threshold": "={{$json.threshold}}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [600, -600],
      "id": "call_adv_analysis",
      "name": "Call ADV Campaign Analysis"
    },
    {
      "parameters": {
        "jsCode": "const workflowData = $getWorkflowStaticData('global');\nworkflowData.steps_passed = workflowData.steps_passed + 1;\nfor (const item of $input.all()) {\n  item.json.steps_passed = workflowData.steps_passed;\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, -600],
      "id": "increment_step_2",
      "name": "Increment step counter 2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update business_processes_states set steps_passed=$3 where business_process_id=(select MAX(business_process_id) from business_processes where n8n_process_name=$1) and n8n_workflow_execution_id=$2",
        "options": {
          "queryReplacement": "=[{{$workflow.name}},{{$execution.id}},{{$json.steps_passed}}]"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1000, -600],
      "id": "update_steps_2",
      "name": "Update steps - Analysis completed",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "4YkdFJcdTgzo9hkz",
          "name": "PGvector"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wordstat_workflow_id",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "company_id": "={{$json.company_id}}",
            "yandex_region": "={{$json.yandex_region}}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1200, -600],
      "id": "call_wordstat",
      "name": "Call Wordstat Analysis"
    },
    {
      "parameters": {
        "jsCode": "const workflowData = $getWorkflowStaticData('global');\nworkflowData.steps_passed = workflowData.steps_passed + 1;\nfor (const item of $input.all()) {\n  item.json.steps_passed = workflowData.steps_passed;\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, -600],
      "id": "increment_step_3",
      "name": "Increment step counter 3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update business_processes_states set steps_passed=$3 where business_process_id=(select MAX(business_process_id) from business_processes where n8n_process_name=$1) and n8n_workflow_execution_id=$2",
        "options": {
          "queryReplacement": "=[{{$workflow.name}},{{$execution.id}},{{$json.steps_passed}}]"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1600, -600],
      "id": "update_steps_3",
      "name": "Update steps - Wordstat completed",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "4YkdFJcdTgzo9hkz",
          "name": "PGvector"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ads_creation_workflow_id",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "company_id": "={{$json.company_id}}",
            "threshold": "={{$json.threshold}}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1800, -600],
      "id": "call_ads_creation",
      "name": "Call Ads Creation"
    },
    {
      "parameters": {
        "jsCode": "const workflowData = $getWorkflowStaticData('global');\nworkflowData.steps_passed = workflowData.steps_passed + 1;\nfor (const item of $input.all()) {\n  item.json.steps_passed = workflowData.steps_passed;\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, -600],
      "id": "increment_step_4",
      "name": "Increment step counter 4"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update business_processes_states set steps_passed=$3 where business_process_id=(select MAX(business_process_id) from business_processes where n8n_process_name=$1) and n8n_workflow_execution_id=$2",
        "options": {
          "queryReplacement": "=[{{$workflow.name}},{{$execution.id}},{{$json.steps_passed}}]"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [2200, -600],
      "id": "update_steps_4",
      "name": "Update steps - Ads created",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "4YkdFJcdTgzo9hkz",
          "name": "PGvector"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update business_processes_states set finished=NOW() where business_process_id=(select MAX(business_process_id) from business_processes where n8n_process_name=$1) and n8n_workflow_execution_id=$2",
        "options": {
          "queryReplacement": "=[{{$workflow.name}},{{$execution.id}}]"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [2400, -600],
      "id": "mark_workflow_completed",
      "name": "Mark workflow completed",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "4YkdFJcdTgzo9hkz",
          "name": "PGvector"
        }
      }
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Set variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set variables": {
      "main": [
        [
          {
            "node": "Mark workflow started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark workflow started": {
      "main": [
        [
          {
            "node": "Init total counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init total counter": {
      "main": [
        [
          {
            "node": "Clear temporary tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear temporary tables": {
      "main": [
        [
          {
            "node": "Download campaign report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download campaign report": {
      "main": [
        [
          {
            "node": "Extract data from CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract data from CSV": {
      "main": [
        [
          {
            "node": "Insert campaign data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert campaign data": {
      "main": [
        [
          {
            "node": "Increment step counter 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment step counter 1": {
      "main": [
        [
          {
            "node": "Update steps - Data loaded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update steps - Data loaded": {
      "main": [
        [
          {
            "node": "Call ADV Campaign Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call ADV Campaign Analysis": {
      "main": [
        [
          {
            "node": "Increment step counter 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment step counter 2": {
      "main": [
        [
          {
            "node": "Update steps - Analysis completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update steps - Analysis completed": {
      "main": [
        [
          {
            "node": "Call Wordstat Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Wordstat Analysis": {
      "main": [
        [
          {
            "node": "Increment step counter 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment step counter 3": {
      "main": [
        [
          {
            "node": "Update steps - Wordstat completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update steps - Wordstat completed": {
      "main": [
        [
          {
            "node": "Call Ads Creation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ads Creation": {
      "main": [
        [
          {
            "node": "Increment step counter 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment step counter 4": {
      "main": [
        [
          {
            "node": "Update steps - Ads created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update steps - Ads created": {
      "main": [
        [
          {
            "node": "Mark workflow completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "client_core_update_full_v1",
  "triggerCount": 0,
  "shared": [],
  "tags": []
}
