n8n_workflows/company_content_from_description.json
{
  "updatedAt": "2025-11-20T12:36:09.739Z",
  "createdAt": "2025-11-20T11:41:31.353Z",
  "id": "9SR6e3tSCmL7sWPt",
  "name": "company_content_from_description",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "Romanychlogin",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_prompts",
          "mode": "list",
          "cachedResultName": "n8n_prompts",
          "cachedResultUrl": "https://github.com/Romanychlogin/n8n_prompts"
        },
        "filePath": "competitor_variants.txt",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -1392,
        -432
      ],
      "id": "c0de0325-39e7-47ac-bf57-6186fcbdb58d",
      "name": "Get a file",
      "webhookId": "c85ca956-c770-4ea7-9818-bcabc4ec78fa",
      "credentials": {
        "githubApi": {
          "id": "JQAFAcMNS9Ylyb0V",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1216,
        -432
      ],
      "id": "4ac2a44b-3b29-4a27-9a96-86af523b5887",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "jsCode": "// Function-Node (Run Once)\nconst workflowData = $getWorkflowStaticData('global');\nworkflowData.my_prompt = items[0].json;\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        -400
      ],
      "id": "508160a7-c269-48a4-9b2b-250594acc352",
      "name": "Code1"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1328,
        -736
      ],
      "id": "3db15860-6d80-46db-be07-4e68ff04cd0b",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO business_processes_states (business_process_id, company_id,n8n_workflow_execution_id,n8n_workflow_root_execution_id, started)\nSELECT MAX(business_process_id), $2,$3,$4, NOW()\nFROM public.business_processes\nWHERE n8n_process_name = $1;",
        "options": {
          "queryReplacement": "=[{{$workflow.name}},{{$json.company_id}},{{$execution.id}},{{ $('When Executed by Another Workflow').item.json.root_execution_id }}]"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1088,
        -736
      ],
      "id": "ceb2f93a-5b75-442a-a5b2-920e4e26b1a6",
      "name": "Mark_workwlow_started",
      "credentials": {
        "postgres": {
          "id": "4YkdFJcdTgzo9hkz",
          "name": "PGvector"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update business_processes_states set finished=NOW() where  n8n_workflow_execution_id=$1",
        "options": {
          "queryReplacement": "={{$execution.id}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -16,
        -544
      ],
      "id": "7a108b2e-729f-4bd8-a505-a52b9f9308a9",
      "name": "Mark_workflow_completed",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "4YkdFJcdTgzo9hkz",
          "name": "PGvector"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Function-Node (Run Once)\nconst workflowData = $getWorkflowStaticData('global');\nworkflowData.steps_passed = 0;\nworkflowData.tokens_used = 0;\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        -80
      ],
      "id": "1c352f5a-5d95-4955-ae4f-c34261adc28e",
      "name": "Init total counter1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from company_services where company_id=$1",
        "options": {
          "queryReplacement": "={{ $('When Executed by Another Workflow').item.json.company_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -848,
        -112
      ],
      "id": "dfedb369-90e3-4422-ac85-f5ade77617e3",
      "name": "Company data",
      "credentials": {
        "postgres": {
          "id": "Hx2VFmUi5WO2K4QX",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cMcY26oqQV5mNCvI",
          "mode": "list",
          "cachedResultUrl": "/workflow/cMcY26oqQV5mNCvI",
          "cachedResultName": "create content records for the  key word"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        48,
        -80
      ],
      "id": "87a63d26-c44c-46eb-a820-ccb4aff1f1e8",
      "name": "Call 'create content records for the  key word'1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab5decf6-1908-4ae2-a486-c4a264e19e22",
              "name": "company_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.company_id }}",
              "type": "string"
            },
            {
              "id": "e27fa9f4-010b-44e7-a7a4-5f2ce8835da4",
              "name": "key_word",
              "value": "={{ $json.service_name }} + {{ $json.service_description }}",
              "type": "string"
            },
            {
              "id": "294cf1a4-7a28-4a54-99d7-e1eb31373655",
              "name": "report_id",
              "value": "0",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        -64
      ],
      "id": "a8fc60af-f8e0-402e-be6d-dd84d1b750b4",
      "name": "set input1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -432,
        -80
      ],
      "id": "d0efab8b-df91-459e-8085-628bb3d8e272",
      "name": "Loop Over Items"
    }
  ],
  "connections": {
    "Get a file": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Company data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Mark_workwlow_started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark_workwlow_started": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init total counter1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company data": {
      "main": [
        [
          {
            "node": "Init total counter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set input1": {
      "main": [
        [
          {
            "node": "Call 'create content records for the  key word'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'create content records for the  key word'1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Mark_workflow_completed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set input1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "v2Z32ISEUzsFYnZw"
  },
  "staticData": {
    "global": {
      "my_prompt": {
        "data": "SYSTEM\n- Твоя задача — по каждому поисковому запросу пользователя: \"{{key_words}}\" создать один заголовок обьявления, строго соблюдая правила.\n- В ответе выводи только готовые заголовки в требуемом формате.\n\nCONSTRAINTS\n- Язык вывода — всегда только русский.\n- Максимум 56 символов (считай Unicode-символы, а не байты).\n- Разрешены только буквы русского и латинского алфавита и цифры.\n- Никаких кавычек, знаков препинания (кроме пробелов), эмодзи, тегов, разметки, пояснений.\n- Не предлагай никаких других услуг, кроме связанных с \"{{company_description}}\".\n- Не раскрывай рассуждения.\n\nOUTPUT FORMAT (строго)\n- Выводи по одному заголовку на запись\n- Не добавляй пустых строк до или после.\n- Не добавляй пояснений, слов вроде “Заголовок” и т.п.\n\nRULES FOR GENERATION\n1.\tСохранение слов:\nВсе логические связанные слова из исходной фразы должны присутствовать в ответе.  Переставь их в осмысленном порядке, чтобы объявление читалось понятно. Если там есть никак не связанное по смыслу слово - можешь его отбросить.\n2.\tКорректность и ясность:\n- Исправь орфографию, грамматику, порядок слов.\n- Замени жаргон (если встречается) на более корректный вариант.\n- Начни с заглавной буквы.\n- Все географические названия (города, страны, области, регионы, районы, улицы и т.п.) всегда пиши с Заглавной буквы. Делать заглавными другие слова не надо. \n- Если ты добавляешь в заголовок название компании - не забывай предлог \"в\".\n3.\tРелевантность и уточнение:\nЗаголовок должен оставаться максимально близким к исходной фразе, но при этом предлагать услуги компании, добавляя к исходной фразе больше релевантной информации о компании из \"{{company_description}}\" — например, “курсы”, “обучение”, \"услуги\", \"оффлайн\", \"предложение\" и тд, чтобы привлечь пользователя\nЕсли необходимо, заголовок может отвечать на вопрос, например, давать утвердительный ответ про нашу компанию.\n4. Ограничение длины:\n- Старайся использовать всю возможную длину, но с сохранением смысла и ограничением в 56 символов.\n- Никогда не обрывай слова.\n- Если нужно сократить - убирай дополнительные уточнения, но сохраняй смысл и исходные слова.\n5.\tЗапрещено:\n- Использовать спецсимволы (например, #, –, “, +, .)\n- Выдавать комментарии или пояснения.\n- Не используй нецензурную лексику, оскорбления или неприемлемые выражения. \nЕсли такие слова встречаются в исходном тексте, замени их на культурные аналоги без потери смысла.\n\nPOST-CHECK (всегда перед выводом)\n- Ключевые слова исходной фразы сохранены.\n- Исправлена орфография и порядок слов.\n- Длина ≤ 56 символов.\n- Начинается с заглавной буквы.\n- Текст осмысленный и предлагает услуги компании.\n- Верни для каждого ID фразы соответствующий заголовок\n"
      },
      "my_prompt_text": {
        "data": "Есть следующие фразы, заданные пользователем при поиске и подготовленные заголовки объявлений к ним \"{{key_words_ad_headers}}\". Подбери к ним Тексты рекламных объявлений, соблюдая ограничения.\n\nCONSTRAINTS\n- Язык вывода: всегда только русский.\n- Максимум 81 символ (считай Unicode-символы, а не байты).\n- Никаких кавычек, эмодзи, тегов, пояснений, маркировок, спецсимволов.\n- Используй слова из исходной фразы (желательно сохранить все слова),  добавляя пояснения или призыв к действию.\n- Спецсимволы из фразы уже удалены, не добавляй новые. Если необходимо для соблюдения правил пунктуации - можешь ставить точки, запятые или восклицательный знак.\n- Текст должен быть связным и осмысленным.\n- Текст должен расширять заголовок объявления и давать дополнительную информацию об услуге или предложении. \n- Если помещается - добавь призыв к действию (CTA), через глагол в повелительной форме (например, запишись, узнай, попробуй, позвони и тд), выбери любой наиболее подходящий к предлагаемым услугам. Можешь закончить восклицательным знаком, если это уместно.\n- Поставь в предложении точку перед тем как добавлять CTA\n- Если длина >81 символа, сокращай по приоритету: (1) убери/сократи вторичные уточнения, (2) минимизируй CTA, (3) убери прилагательные, (4) оставь только нормализованную фразу (все её слова обязаны сохраниться). Не обрывай слова.\n- Учитывай только услуги компании \"{{company_description}}\" при выборе формулировок, не добавляй никаких новых услуг или вымышленных фактов.\n\nOUTPUT FORMAT (строго)\n- Для каждого полученного ID верни соответствующий текст.\n- Выводи по одной строке на запись: <Текст объявления>.\n- Никаких пустых строк до/после, никаких дополнительных блоков.\n\nNORMALIZATION RULES\n- Сохрани все слова исходной фразы  (включая предлоги/союзы).\n- Исправь опечатки и жаргон, используй литературную форму.\n- Приведи к естественному порядку слов, чтобы читать было легко и понятно.\n- Регистр — по нормам языка (первая буква заглавная необязательна).\n\nSAFETY / EDGE CASES\n- Однословные запросы: нормализованная часть = это слово; добавляй краткий CTA, если помещается.\n- Нормализуй орфографию, не усиливай смысл, соблюдай политику безопасности; при сомнении выдай только нормализованную фразу без CTA.\n- Если релевантность CTA к {{company_description}} сомнительна — опусти CTA, сохрани связность.\n- Никогда не допускай грубой лексики, некорректных/агрессивных/взрослых терминов.\n\nPOST-CHECK (всегда перед выводом)\n- Все слова исходной фразы сохранены и стоят в естественном порядке.\n- Длина ≤ 81 символ (Unicode).\n- Нет оборванных слов и лишних символов.\n- Каждый текст осмысленный, начинается с нормализованной фразы, нет оборванных фраз.\n- Каждый текст связан по смыслу с соответствующим заголовком объявления.\n"
      },
      "my_prompt_url": {
        "data": "Есть следующая фразы, заданные пользователями при поиске, подобранные к ней заголовки и тексты рекламных объявлений \"{{key_word_header_ad_text}}\". \nПодбери к каждому набору ссылку на страницу сайта, максимально соответствующую запросу пользователя и тексту. Ответ должен содержать только ссылку. Учитывай то что в исходных фразах удалены все дополнительные символы, такие как #,- и пр. \nВ ответе необходимо вернуть только запрошенную информацию, запрещено добавлять уточнения типа заголовок, ссылка, текст и любые рассуждения. \nВ ответе запрещается использовать ссылки отсутствующие в описании компании или изменять ссылки приведенные в описании.  \nДля каждого полученного ID верни соответствующую ссылку. \nОписание компании:{{company_description}}\n"
      },
      "steps_passed": 4,
      "tokens_used": 14422,
      "company_description": "KIBERone Саратов Октябрьский IT школа KIBERone KIBERone – международная КиберШкола программирования и цифровых технологий для детей от 6 до 14 лет.  Позиционирование бренда: KIBERone — первая международная КиберШкола будущего для IT-поколения 6–14 лет, признана ЮНЕСКО лучшей детской образовательной IT-школой в мире. Бренд является партнером Microsoft, Roblox и Samsung. Бесплатные пробные уроки  Основные услуги и программы:  Полный перечень модулей:  Вводный модуль (основы цифровой грамотности)  Основы программирования Scratch Jr  Создание игр на Scratch  ПиктоМир (алгоритмическое мышление)  CodeMonkey (логика и программирование)  Устройство компьютера  Эффектные презентации (PowerPoint, Desygner)  QR-коды  Деловые люди (предпринимательство)  Google Blockly (визуальное программирование)  Roblox Studio (создание игр)  Kodu Game Lab (3D-программирование)  Разработка мобильных приложений в Thunkable  Blender (3D-моделирование)  Компьютерная грамотность  Minecraft Education  Нейросети (основы ИИ)  Alice 3D (3D-программирование)  Run Marco (основы алгоритмов)  Исполнители: Чертёжник и Черепашка  GIF-анимация  Tinkercad (3D-проектирование)  Кибербезопасность  Construct 2 (создание 2D-игр)  Компас-3D (САПР)  Основы HTML (веб-разработка)  Голосовой помощник Алиса  Создание лендинга (Tilda)  Python (создание игр)  Чат-бот на Python  Web-дизайн (Figma)  Web-мастер (HTML+CSS)  Motion Design  Unreal Engine 4 (игровой движок)  JavaScript (игры)  C# (создание 2D-игр)  C++  Java (создание приложений)  Unity 3D (игры)  Олимпиадное программирование  Облачные технологии, Блокчейн, Data Science  PHP+SQL  Photoshop  Подготовка к олимпиадам  Приложения Google  Летние программы:  Летние IT-интенсивы (краткосрочные программы по направлениям Roblox, Minecraft, Python и др.)  Летние КИБЕРканикулы (городской лагерь с IT-обучением и развлекательной программой)  Дополнительные механики:  Кибервалюта («кибероны») для мотивации учеников, обмен на мерч на КиберМаркете  Тьюторы и преподаватели:  Опытные специалисты с практическим опытом и педагогической подготовкой  Другие важные разделы:  Новости (новости школы и сети)  СМИ о нас (публикации о школе)  Фотогалерея (фото с мероприятий и уроков)  Видео (видеоматериалы о школе)  Расписание занятий (время занятий для групп и пробных уроков)  Локации (адрес школы в Октябрьском районе Саратова, ул. Тараса Шевченко, 8)  Оплата (способы оплаты и договор-оферта)  Сертификаты (активация промокодов партнеров)  Контакты (телефон +7 963 112-49-11, email saratov@kiber-one.com",
      "company_description_with_url": "KIBERone Саратов Октябрьский IT школа KIBERone KIBERone – международная Школа программирования и цифровых технологий для детей от 6 до 14 лет. Официальный сайт филиала в Саратове (Октябрьский район): https://saratov-okt.kiber-one.com/ Позиционирование бренда: KIBERone — первая международная КиберШкола будущего для IT-поколения 6–14 лет, признана ЮНЕСКО лучшей детской образовательной IT-школой в мире. Бренд является партнером Microsoft, Roblox и Samsung. Бесплатные пробные уроки Основные услуги и программы: Полный перечень модулей (https://saratov-okt.kiber-one.com/moduli/): - Вводный модуль (основы цифровой грамотности) — https://saratov-okt.kiber-one.com/moduli/vvodnyy-modul/ - Основы программирования Scratch Jr — https://saratov-okt.kiber-one.com/moduli/scratch-jr/ - Создание игр на Scratch — https://saratov-okt.kiber-one.com/moduli/modul-2-znakomstvo-so-scratch-sozdanie-igr-na-scratch-osnovy/ - ПиктоМир (алгоритмическое мышление) — https://saratov-okt.kiber-one.com/moduli/piktomir/ - CodeMonkey (логика и программирование) — https://saratov-okt.kiber-one.com/moduli/codemonkey/ - Устройство компьютера — https://saratov-okt.kiber-one.com/moduli/ustroystvo-kompyutera-my-na-ty/ - Эффектные презентации (PowerPoint, Desygner) — https://saratov-okt.kiber-one.com/moduli/magiya-powerpoint--canva-sozdanie-effektivnyh-prezentaciy/ - QR‑коды — https://saratov-okt.kiber-one.com/moduli/qr-kod-kak-instrument/ - Деловые люди (предпринимательство) — https://saratov-okt.kiber-one.com/moduli/delovye-lyudi/ - Google Blockly (визуальное программирование) — https://saratov-okt.kiber-one.com/moduli/google-blockly-apofeoz-vizualnogo-programmirovaniya/ - Roblox Studio (создание игр) — https://saratov-okt.kiber-one.com/moduli/roblox-studio-sdelat-vse-chto-vy-mozhete-sebe-predstavit/ - Kodu Game Lab (3D‑программирование) — https://saratov-okt.kiber-one.com/moduli/kodu-game-lab-vizualnoe-programmirovanie-v-3d/ - Разработка мобильных приложений в Thunkable — https://saratov-okt.kiber-one.com/moduli/thunkable/ - (fix)Blender (3D‑моделирование) — https://saratov-okt.kiber-one.com/moduli/blender/ - Компьютерная грамотность — https://saratov-okt.kiber-one.com/moduli/kompyuternaya-gramotnost/ - Minecraft Education — https://saratov-okt.kiber-one.com/moduli/minecraft-educate/ - Нейросети (основы ИИ) — https://saratov-okt.kiber-one.com/moduli/neyroseti/ - Alice 3D (3D‑программирование) — https://saratov-okt.kiber-one.com/moduli/alice-3d/ - Run Marco (основы алгоритмов) — https://saratov-okt.kiber-one.com/moduli/run-marco-1/ - Исполнители: Чертёжник и Черепашка — https://saratov-okt.kiber-one.com/moduli/ispolniteli-chertezhnik-i-cherepashka/ - GIF‑анимация — https://saratov-okt.kiber-one.com/moduli/gif-animaciya/ - Tinkercad (3D‑проектирование) — https://saratov-okt.kiber-one.com/moduli/tinkercad/ - Кибербезопасность — https://saratov-okt.kiber-one.com/moduli/osnovy-kiberbezopasnosti/ - Construct 2 (создание 2D‑игр) — https://saratov-okt.kiber-one.com/moduli/construct-2---sozday-svoy-pervyy-platformer/ - Компас‑3D (САПР) — https://saratov-okt.kiber-one.com/moduli/kompas-3d/ - Основы HTML (веб‑разработка) — https://saratov-okt.kiber-one.com/moduli/osnovy-html-izuchenie-web-razrabotki/ - Голосовой помощник Алиса — https://saratov-okt.kiber-one.com/moduli/golosovoy-pomoschnik-alisa/ - Создание лендинга (Tilda) — https://saratov-okt.kiber-one.com/moduli/lendingi-lp-i-tilda-verstka-odnostranichnikov/ - Python (создание игр) — https://saratov-okt.kiber-one.com/moduli/programmirovanie-v-python-sozday-svoyu-pervuyu-igru/ - Чат‑бот на Python — https://saratov-okt.kiber-one.com/moduli/umnyy-chat-bot-na-python/ - Web‑дизайн (Figma) — https://saratov-okt.kiber-one.com/moduli/web-dizayn-dlya-saytov-ili-prilozheniy/ - Web-дизайн для сайтов или приложений - https://saratov-okt.kiber-one.com/moduli/web-dizayn-dlya-saytov-ili-prilozheniy/ - Web‑мастер (HTML+CSS) — https://saratov-okt.kiber-one.com/moduli/web-master-html--css/ - Motion Design — https://saratov-okt.kiber-one.com/moduli/motion-design/ - Unreal Engine 4 (игровой движок) — https://saratov-okt.kiber-one.com/moduli/unreal-engine-4-igrovoy-dvizhok/ - JavaScript (игры) — https://saratov-okt.kiber-one.com/moduli/programmirovanie-na-javascript-uchimsya-sozdavat-igry/ - C# (создание 2D‑игр) — https://saratov-okt.kiber-one.com/moduli/programmirovanie-na-c-udivitelnyy-mir-2d-igr/ - C++ — https://saratov-okt.kiber-one.com/moduli/programmirovanie-na-s-smozhet-kazhdyy/ - Java (создание приложений) — https://saratov-okt.kiber-one.com/moduli/programmirovanie-na-java-tvoe-pervoe-prilozhenie/ - Unity 3D (игры) — https://saratov-okt.kiber-one.com/moduli/mir-trehmernyh-igr-na-unity-3d/ - Олимпиадное программирование — https://saratov-okt.kiber-one.com/moduli/olimpiadnoe-programmirovanie/ - Облачные технологии, Блокчейн, Data Science — https://saratov-okt.kiber-one.com/moduli/blokcheyn-tehnologichnoe-buduschee/ - PHP+SQL — https://saratov-okt.kiber-one.com/moduli/phpsql-2-mesyaca/ - Photoshop — https://saratov-okt.kiber-one.com/moduli/volshebnyy-photoshop/ - Подготовка к олимпиадам — https://saratov-okt.kiber-one.com/moduli/podgotovka-k-olimpiadam/ - Приложения Google — https://saratov-okt.kiber-one.com/moduli/prilozheniya-google-primenyat-dlya-zhizni-35-prilozheniy-ot-g/ - Web‑дизайн (Figma) — https://saratov-okt.kiber-one.com/moduli/web-dizayn-figma/ - https://saratov-okt.kiber-one.com/moduli/web-dizayn-figma/ -  -  Летние программы: - Летние IT-интенсивы (краткосрочные программы по направлениям Roblox, Minecraft, Python и др.) — https://saratov-okt.kiber-one.com/vybirayte-format-svoego-leta-s-kiberone/letnie-moduli-kiberone/ - Летние КИБЕРканикулы (городской лагерь с IT-обучением и развлекательной программой) — https://saratov-okt.kiber-one.com/vybirayte-format-svoego-leta-s-kiberone/kiber-kanikuly/ Дополнительные механики: - Кибервалюта («кибероны») для мотивации учеников, обмен на мерч на КиберМаркете — https://saratov-okt.kiber-one.com/o-kibershkole/kibervaluta/ Тьюторы и преподаватели: - Опытные специалисты с практическим опытом и педагогической подготовкой — https://saratov-okt.kiber-one.com/o-kibershkole/prepodavateli/ Другие важные разделы: - Новости (новости школы и сети) — https://saratov-okt.kiber-one.com/o-kibershkole/news/ - СМИ о нас (публикации о школе) — https://saratov-okt.kiber-one.com/o-kibershkole/smi-o-nas/ - Фотогалерея (фото с мероприятий и уроков) — https://saratov-okt.kiber-one.com/o-kibershkole/fotogalereya/ - Видео (видеоматериалы о школе) — https://saratov-okt.kiber-one.com/o-kibershkole/video/ - Расписание занятий (время занятий для групп и пробных уроков) — https://saratov-okt.kiber-one.com/o-kibershkole/raspisanie/ - Локации (адрес школы в Октябрьском районе Саратова, ул. Тараса Шевченко, 8) — https://saratov-okt.kiber-one.com/o-kibershkole/lokacii/ - Оплата (способы оплаты и договор-оферта) — https://saratov-okt.kiber-one.com/oplata/ - Сертификаты (активация промокодов партнеров) — https://saratov-okt.kiber-one.com/sertifikaty/ - Контакты (email saratov@kiber-one.com) — https://saratov-okt.kiber-one.com/feedback/",
      "ai_calls": 18
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "id": "lBAh8kjoXRX0aGUF",
          "root_execution_id": 228462,
          "company_id": 1,
          "threshhold": "0.79",
          "import_id": "22"
        }
      }
    ]
  },
  "versionId": "5697ad0b-bd81-44d1-84d8-941ada56fa02",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-20T11:41:31.353Z",
      "createdAt": "2025-11-20T11:41:31.353Z",
      "role": "workflow:owner",
      "workflowId": "9SR6e3tSCmL7sWPt",
      "projectId": "spKmbJLU4mvACXIB"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-10-17T09:03:18.269Z",
      "createdAt": "2025-10-17T09:03:18.269Z",
      "id": "S7zerj1h6Ro25pTA",
      "name": "client creation"
    }
  ]
}