n8n_workflows/core_update_task_runner.json
{
  "updatedAt": "2025-11-05T11:54:50.011Z",
  "createdAt": "2025-11-05T08:35:44.773Z",
  "id": "ijLeMF0Cr8fE2iv1",
  "name": "core_update_task_runner",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -560,
        -16
      ],
      "id": "7e03e0cd-b580-49f3-9992-6fa1837eb54a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select ac.*, c.company_name from active_company_adv_campaigns ac, companies c where ac.company_id=c.company_id AND ac.is_active=true order by ac.company_id",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -352,
        -16
      ],
      "id": "c71c8799-4615-4f52-b94c-942b747f8230",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "Hx2VFmUi5WO2K4QX",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0J5cvuaSz3IhDS99",
          "mode": "list",
          "cachedResultUrl": "/workflow/0J5cvuaSz3IhDS99",
          "cachedResultName": "campaign core update"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -80,
        16
      ],
      "id": "136ee010-a20d-469b-8186-1819f1efe75a",
      "name": "Call 'campaign core update'"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        96,
        -96
      ],
      "id": "85212aa2-001f-44bc-b84f-066ab76b5cae",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "let incident_text = '*Анализ дневных отчетов завершен\\n* ';\nlet client_name = $input.first().json.company_name;\n// Экранирование под Telegram MarkdownV2\nfunction escapeMarkdownV2(s) {\n  // список из оф. доки Telegram для MarkdownV2:\n  // _ * [ ] ( ) ~ ` > # + - = | { } . !\n  return String(s).replace(/([_*\\[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1');\n}\n// Универсальный форматтер: \"до часа — X мин\", \"больше часа — H ч M мин\"\nfunction formatDurationToHM(input) {\n  const ms = toMilliseconds(input);\n  const totalMinutes = Math.round(ms / 60000);\n\n  if (totalMinutes < 60) {\n    return `${totalMinutes} мин`;\n  } else {\n    const h = Math.floor(totalMinutes / 60);\n    const m = totalMinutes % 60;\n    return m ? `${h} ч ${m} мин` : `${h} ч`;\n  }\n}\n\n// ---- Парсеры ----\nfunction toMilliseconds(v) {\n  if (v == null) throw new Error('No duration provided');\n\n  // 1) Объект со свойствами\n  if (typeof v === 'object' && !Array.isArray(v)) {\n    const h = num(v.hours);\n    const m = num(v.minutes);\n    const s = num(v.seconds);\n    const ms = num(v.milliseconds);\n    return ((h*3600 + m*60 + s) * 1000) + ms;\n  }\n\n  // 2) Число: миллисекунды (если маленькое целое — трактуем как секунды)\n  if (typeof v === 'number') {\n    if (Number.isInteger(v) && Math.abs(v) < 1e6) return v * 1000; // секундные значения\n    return v; // миллисекунды\n  }\n\n  // 3) Строки\n  if (typeof v === 'string') {\n    const s = v.trim();\n\n    // 3.1 ISO 8601: PT#H#M#S\n    const iso = /^P(T(?:(\\d+)H)?(?:(\\d+)M)?(?:(\\d+(?:\\.\\d+)?)S)?)$/i.exec(s);\n    if (iso) {\n      const h = num(iso[1]); // в этой группе вся \"T...\", нам нужны 2..4 — поправим:\n    }\n    const iso2 = /^PT(?:(\\d+)H)?(?:(\\d+)M)?(?:(\\d+(?:\\.\\d+)?)S)?$/i.exec(s);\n    if (iso2) {\n      const h = num(iso2[1]);\n      const m = num(iso2[2]);\n      const sec = num(iso2[3]);\n      return ((h*3600 + m*60 + sec) * 1000);\n    }\n\n    // 3.2 HH:MM:SS(.sss) или MM:SS(.sss)\n    const hms = /^(\\d{1,2}):([0-5]?\\d)(?::([0-5]?\\d(?:\\.\\d+)?))?$/.exec(s);\n    if (hms) {\n      const a = hms[1], b = hms[2], c = hms[3];\n      let h = 0, m = 0, sec = 0;\n      if (c != null) { // HH:MM:SS\n        h = num(a); m = num(b); sec = num(c);\n      } else {         // MM:SS\n        m = num(a); sec = num(b);\n      }\n      return ((h*3600 + m*60 + sec) * 1000);\n    }\n\n    // 3.3 Человеческие: \"1h 3m 44.6s\", \"3m44s\", \"90s\"\n    const human = /^\\s*(?:(\\d+)\\s*h)?\\s*(?:(\\d+)\\s*m)?\\s*(?:(\\d+(?:\\.\\d+)?)\\s*s)?\\s*$/i.exec(s.replace(/,/g,'.'));\n    if (human && (human[1] || human[2] || human[3])) {\n      const h = num(human[1]);\n      const m = num(human[2]);\n      const sec = num(human[3]);\n      return ((h*3600 + m*60 + sec) * 1000);\n    }\n\n    // 3.4 Чистое число в строке → сек/мс\n    if (/^\\d+(\\.\\d+)?$/.test(s)) {\n      const val = Number(s);\n      return (Number.isInteger(val) && val < 1e6) ? val * 1000 : val;\n    }\n\n    throw new Error('Unsupported duration format: ' + s);\n  }\n\n  throw new Error('Unsupported input type: ' + typeof v);\n}\n\nfunction num(x) { return x ? Number(x) : 0; }\n\nincident_text += '*'+client_name+'*';\n\nfor (const { json: i } of $input.all()) {\n  let started= Date(i.started);\n  if (i.company_name === client_name) {\n    incident_text +=escapeMarkdownV2('\\n  Рекламная кампания: ' + i.campaign_yandex_id);\n  } else {\n    client_name = i.company_name;\n    incident_text += `\\n\\nКлиент: *${client_name}*`;\n    incident_text +=escapeMarkdownV2('\\n  Рекламная кампания: ' + i.campaign_yandex_id);\n  }\n}\n\nreturn [{ json: { text: incident_text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        -112
      ],
      "id": "e97be6a2-62f8-4e09-81f6-55a8dbd23d41",
      "name": "Code in JavaScript3",
      "executeOnce": false
    },
    {
      "parameters": {
        "chatId": "-1003196763261",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": true,
          "parse_mode": "MarkdownV2",
          "message_thread_id": 1170
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        -112
      ],
      "id": "4e1b5f57-0311-4508-83bf-b75a4893f6e8",
      "name": "Send a status message for completed workflows",
      "webhookId": "a18d9a87-250a-437a-9193-952ef1cc833c",
      "credentials": {
        "telegramApi": {
          "id": "ttGHKrzQMaymkKXW",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Call 'campaign core update'",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'campaign core update'": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Send a status message for completed workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "fc81aa60-4e58-42c0-b4b5-4e2642aa443c",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-05T08:35:44.773Z",
      "createdAt": "2025-11-05T08:35:44.773Z",
      "role": "workflow:owner",
      "workflowId": "ijLeMF0Cr8fE2iv1",
      "projectId": "spKmbJLU4mvACXIB"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-10-06T13:06:54.644Z",
      "createdAt": "2025-10-06T13:06:54.644Z",
      "id": "DBEf57wUDunVJUG6",
      "name": "campaign update"
    }
  ]
}