n8n_workflows/core-update-test-management.json
{
  "createdAt": "2025-10-06T13:25:33.741Z",
  "updatedAt": "2025-10-07T08:08:53.192Z",
  "id": "tbijdiaKB74Iaf6O",
  "name": "core update test management",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select n8n_process_name from business_processes where root_process_id=7  order by process_order ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -16,
        -176
      ],
      "id": "0ec2e521-a470-4d15-822c-0a48d1ba9a93",
      "name": "get list for updates",
      "credentials": {
        "postgres": {
          "id": "4YkdFJcdTgzo9hkz",
          "name": "PGvector"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Test data management",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Select company id",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "1"
                  },
                  {
                    "option": "2"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Please select",
              "fieldType": "radio",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Reset status for all running core update business processes"
                  },
                  {
                    "option": "Reset core update steps for the last execution"
                  },
                  {
                    "option": "Reset core update test data for report"
                  },
                  {
                    "option": "Terminate running process"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -848,
        -192
      ],
      "id": "35df9164-20fc-4133-9a8b-199af5e35691",
      "name": "On form submission",
      "webhookId": "275771f9-df29-4b85-b49d-9aec026e6b2f"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json[\"Please select\"] }}",
                    "rightValue": "Reset status for all running core update business processes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0488ae60-a95a-4efb-9f72-2ead78afd0e7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reset status for all running core update business processes"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "84b07d24-1b86-4dbf-ad96-d01c54509606",
                    "leftValue": "={{ $json[\"Please select\"] }}",
                    "rightValue": "Reset core update steps for the last execution",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reset core update steps for the last execution"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fcd118d9-e0eb-4be5-80ad-aa67ffc236d9",
                    "leftValue": "={{ $json[\"Please select\"] }}",
                    "rightValue": "Reset core update test data for report",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reset core update test data for report"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "550b2fd3-fb19-40a7-9fa5-569697d222fc",
                    "leftValue": "={{ $json[\"Please select\"] }}",
                    "rightValue": "Terminate running process",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Terminate running process"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -656,
        -224
      ],
      "id": "cc1f0760-29f9-46dc-86af-e6394e591b68",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update business_processes_states set error_happened=now(), error_message='test forced by user' \nwhere finished is null and error_happened is null \n  and company_id=$2\nand business_process_id in (select business_process_id from business_processes where n8n_process_name=$1 or root_process_id=(select business_process_id from business_processes where n8n_process_name=$1))\n",
        "options": {
          "queryReplacement": "=[{{$json.root_process_name}},{{ $('On form submission').item.json['Select company id'] }}]"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        -352
      ],
      "id": "f68b497e-5be1-48b3-9fac-6ae13cd0e1b4",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "4YkdFJcdTgzo9hkz",
          "name": "PGvector"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31e7d3b4-3d4d-4d76-937a-f0169af86785",
              "name": "root_process_name",
              "value": "campaign core update",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        -352
      ],
      "id": "d66b5bff-eafd-4407-bc82-818668c91c2a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "All running processes marked as finished",
        "completionMessage": "All running processes marked as finished",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        416,
        -352
      ],
      "id": "cd846e0b-63d4-441c-a211-457505def0f4",
      "name": "Form",
      "webhookId": "c7a720d7-8a59-4cb3-9929-34dc8dabf5fb"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Selected processes marked",
        "completionMessage": "Selected processes marked",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        1296,
        -336
      ],
      "id": "98337c15-422d-49a3-a7d4-2991ce3e4581",
      "name": "Form2",
      "webhookId": "09202ed5-0342-4ac0-b07f-0dd8fa096dc9"
    },
    {
      "parameters": {
        "jsCode": "{{\n(() => {\n  const values = $input.all().map(r => ({\n    option: String(r.json.n8n_process_name)   // текст пункта\n  }));\n  return {\n    fieldLabel: \"Checkboxes\",\n    fieldType: \"checkbox\",\n    fieldOptions: {\n      values\n    }\n  };\n})()\n}}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -176
      ],
      "id": "2f44c043-125a-489b-95a6-6cbca648fc13",
      "name": "Code in JavaScript",
      "disabled": true
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "=[\n{{\n(() => {\n  const values = $input.all().map(r => ({\n    option: String(r.json.n8n_process_name)   // текст пункта\n  }));\n  return {\n    fieldLabel: \"Checkboxes\",\n    fieldType: \"checkbox\",\n    fieldOptions: {\n      values\n    }\n  };\n})()\n}}\n \n]\n",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        352,
        -176
      ],
      "id": "a21c6b5d-3fa7-4140-b7c2-3f0bb51ecc4f",
      "name": "select processes",
      "webhookId": "84b35fba-718d-46b1-9244-cb4f259ac53a"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        560,
        -176
      ],
      "id": "6d625bbd-0a3e-4aec-bbe3-efcf8b113c5f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH cutoff AS (\n  SELECT MAX(st2.started) AS last_finished_started\n  FROM public.business_processes_states st2\n  JOIN public.business_processes bp2\n    ON bp2.business_process_id = st2.business_process_id\n  WHERE bp2.n8n_process_name = 'campaign core update'\n   AND st2.finished IS NOT NULL\n  AND st2.company_id=$2\n),\nmain AS (\n  SELECT st.*\n  FROM public.business_processes_states st\n  JOIN public.business_processes bp\n    ON bp.business_process_id = st.business_process_id\n  CROSS JOIN cutoff c\n  WHERE bp.n8n_process_name = 'campaign core update'\n    AND st.company_id=$2\n    AND st.finished IS NULL\n    AND (c.last_finished_started IS NULL OR st.started > c.last_finished_started)\n)\nSELECT\n  s.business_process_state_id,\n  s.business_process_id,\n  s.started,\n  s.finished,\n  s.error_message,\n  s.n8n_workflow_execution_id,\n  s.n8n_workflow_root_execution_id\nFROM main m\nJOIN public.business_processes_states s\n  ON s.n8n_workflow_root_execution_id = m.n8n_workflow_execution_id\nJOIN public.business_processes p\n  ON p.business_process_id = s.business_process_id\nWHERE p.n8n_process_name = $1\nORDER BY s.started desc LIMIT 1;",
        "options": {
          "queryReplacement": "=[{{ $json.Checkboxes[0] }},{{ $('On form submission').item.json['Select company id'] }}]"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        800,
        -128
      ],
      "id": "6931be87-bcd2-44e0-b91c-aea9f9ebe57b",
      "name": "Select last execution",
      "credentials": {
        "postgres": {
          "id": "4YkdFJcdTgzo9hkz",
          "name": "PGvector"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "business_processes_states",
          "mode": "list",
          "cachedResultName": "business_processes_states"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "business_process_state_id": "={{ $json.business_process_state_id }}",
            "finished": "={{ null }}"
          },
          "matchingColumns": [
            "business_process_state_id"
          ],
          "schema": [
            {
              "id": "business_process_state_id",
              "displayName": "business_process_state_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "business_process_id",
              "displayName": "business_process_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "started",
              "displayName": "started",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "finished",
              "displayName": "finished",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tokens_used",
              "displayName": "tokens_used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tokens_used_type",
              "displayName": "tokens_used_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "steps_total",
              "displayName": "steps_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "steps_passed",
              "displayName": "steps_passed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_id",
              "displayName": "company_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "error_happened",
              "displayName": "error_happened",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "n8n_workflow_execution_id",
              "displayName": "n8n_workflow_execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "n8n_workflow_root_execution_id",
              "displayName": "n8n_workflow_root_execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "error_processed",
              "displayName": "error_processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "to_terminate",
              "displayName": "to_terminate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1008,
        -128
      ],
      "id": "ad0232d8-5bef-42c5-a707-0b83494c2366",
      "name": "update selected execution",
      "credentials": {
        "postgres": {
          "id": "4YkdFJcdTgzo9hkz",
          "name": "PGvector"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select b.* from business_processes_states bs,business_processes b  where bs.n8n_workflow_root_execution_id is not null and bs.finished is null and bs.error_happened is null and bs.business_process_id=b.business_process_id and bs.company_id=$1",
        "options": {
          "queryReplacement": "={{ $('On form submission').item.json['Select company id'] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -448,
        -16
      ],
      "id": "70550b94-02d8-45fa-a47f-91eb644299f1",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "4YkdFJcdTgzo9hkz",
          "name": "PGvector"
        }
      }
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "=[\n{{\n(() => {\n  const values = $input.all().map(r => ({\n    option: String(r.json.n8n_process_name)   // текст пункта\n  }));\n  return {\n    fieldLabel: \"Checkboxes\",\n    fieldType: \"checkbox\",\n    fieldOptions: {\n      values\n    }\n  };\n})()\n}}\n \n]\n",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -208,
        16
      ],
      "id": "65620b46-2b17-4361-82c0-3115196a293c",
      "name": "select processes1",
      "webhookId": "84b35fba-718d-46b1-9244-cb4f259ac53a"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        48,
        64
      ],
      "id": "9c85b1a1-5efa-4439-bedb-50c07a8986b0",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH cutoff AS (\n  SELECT MAX(st2.started) AS last_finished_started\n  FROM public.business_processes_states st2\n  JOIN public.business_processes bp2\n    ON bp2.business_process_id = st2.business_process_id\n  WHERE bp2.n8n_process_name = 'campaign core update'\n   AND st2.finished IS NOT NULL\n  AND st2.company_id=$2\n),\nmain AS (\n  SELECT st.*\n  FROM public.business_processes_states st\n  JOIN public.business_processes bp\n    ON bp.business_process_id = st.business_process_id\n  CROSS JOIN cutoff c\n  WHERE bp.n8n_process_name = 'campaign core update'\n    AND st.company_id=$2\n    AND st.finished IS NULL\n    AND (c.last_finished_started IS NULL OR st.started > c.last_finished_started)\n)\nSELECT\n  s.business_process_state_id,\n  s.business_process_id,\n  s.started,\n  s.finished,\n  s.error_message,\n  s.n8n_workflow_execution_id,\n  s.n8n_workflow_root_execution_id\nFROM main m\nJOIN public.business_processes_states s\n  ON s.n8n_workflow_root_execution_id = m.n8n_workflow_execution_id\nJOIN public.business_processes p\n  ON p.business_process_id = s.business_process_id\nWHERE p.n8n_process_name = $1\nORDER BY s.started desc LIMIT 1;",
        "options": {
          "queryReplacement": "=[{{ $json.Checkboxes[0] }},{{ $('On form submission').item.json['Select company id'] }}]"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        288,
        144
      ],
      "id": "d4d42672-f43b-4b89-9169-4ef13fa2c5dd",
      "name": "Select last execution1",
      "credentials": {
        "postgres": {
          "id": "4YkdFJcdTgzo9hkz",
          "name": "PGvector"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "business_processes_states",
          "mode": "list",
          "cachedResultName": "business_processes_states"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "business_process_state_id": "={{ $json.business_process_state_id }}",
            "to_terminate": true
          },
          "matchingColumns": [
            "business_process_state_id"
          ],
          "schema": [
            {
              "id": "business_process_state_id",
              "displayName": "business_process_state_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "business_process_id",
              "displayName": "business_process_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "started",
              "displayName": "started",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "finished",
              "displayName": "finished",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tokens_used",
              "displayName": "tokens_used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tokens_used_type",
              "displayName": "tokens_used_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "steps_total",
              "displayName": "steps_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "steps_passed",
              "displayName": "steps_passed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_id",
              "displayName": "company_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "error_happened",
              "displayName": "error_happened",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "n8n_workflow_execution_id",
              "displayName": "n8n_workflow_execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "n8n_workflow_root_execution_id",
              "displayName": "n8n_workflow_root_execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "error_processed",
              "displayName": "error_processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "to_terminate",
              "displayName": "to_terminate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        496,
        176
      ],
      "id": "6208ea58-2dc2-4166-8589-3143aebe8992",
      "name": "update selected execution1",
      "credentials": {
        "postgres": {
          "id": "4YkdFJcdTgzo9hkz",
          "name": "PGvector"
        }
      }
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Selected processes called to terminate",
        "completionMessage": "Selected processes called to terminate",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        304,
        -16
      ],
      "id": "0262612d-96b2-4fd7-8afe-64338f9adb4e",
      "name": "Form1",
      "webhookId": "30a26b1b-db07-4aad-8f8e-07396bcbea16"
    }
  ],
  "connections": {
    "get list for updates": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get list for updates",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "select processes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "select processes": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Form2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Select last execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select last execution": {
      "main": [
        [
          {
            "node": "update selected execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update selected execution": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "select processes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Form1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Select last execution1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select last execution1": {
      "main": [
        [
          {
            "node": "update selected execution1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update selected execution1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "select processes1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "48a13b12-dfa2-4d8b-8750-ae0c836555ad",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-10-06T13:25:33.741Z",
      "updatedAt": "2025-10-06T13:25:33.741Z",
      "role": "workflow:owner",
      "workflowId": "tbijdiaKB74Iaf6O",
      "projectId": "spKmbJLU4mvACXIB"
    }
  ],
  "tags": []
}