n8n_workflows/create-content-records-for-the-key-word.json
{
  "createdAt": "2025-10-17T09:39:52.642Z",
  "updatedAt": "2025-10-17T10:07:13.619Z",
  "id": "cMcY26oqQV5mNCvI",
  "name": "create content records for the  key word",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "// === Code: normalize_and_ngrams ===\n// INPUT:  HTTP Webhook body { key_word: string, threshold?: number,company_id }\n// OUTPUT: { threshold: number, candidates: string[], tokens: string[] }\n// PURPOSE:\n//   1) Normalize the phrase (lowercase, keep letters/digits/underscore and - + #)\n//   2) Remove Russian prepositions as separate words (not touching - + #)\n//   3) Tokenize and build 1..3-gram unique candidates preserving order\n//   4) Provide threshold (default 0.88) downstream\n\n// Input JSON: { company_name, text, threshold? }\nconst body = $json;\nconst prepositions = [\n  \"в\",\"без\",\"до\",\"из\",\"к\",\"и\",\"на\",\"по\",\"о\",\"от\",\"перед\",\"при\",\n  \"через\",\"с\",\"у\",\"за\",\"над\",\"об\",\"под\",\"про\",\"для\",\"между\"\n];\n\n// Нормализуем регистр\nlet text = String(body.key_word ?? \"\").toLowerCase();\n\n// Экранируем спецсимволы\nconst escape = s => s.replace(/[.*+?^${}()|[\\]\\\\]/g, \"\\\\$&\");\nconst alts = prepositions.map(escape).join(\"|\");\n\n// Разрешаем буквы, цифры, подчёркивание, а также - + #\nconst re = new RegExp(\n  `(^|[^\\\\p{L}\\\\p{N}_\\\\-+#])(?:${alts})(?=$|[^\\\\p{L}\\\\p{N}_\\\\-+#])`,\n  \"giu\"\n);\n\n// Удаляем предлоги, сохраняя левый разделитель\ntext = text.replace(re, \"$1\");\n\n// Чистим пробелы\ntext = text.replace(/\\s+/g, \" \").trim();\n//const company = body.company_name;\n\nconst company_id = body.company_id;\nconst tokens = (text.match(/[A-Za-zА-Яа-яЁё0-9][A-Za-zА-Яа-яЁё0-9&.\\-]{0,}/g) || [])\n  .map(s => s.trim())\n  .filter(Boolean);\n\nconst MAX_N = 3;\nconst set = new Set();\nfor (let i = 0; i < tokens.length; i++) {\n  for (let n = 1; n <= MAX_N && i + n <= tokens.length; n++) {\n    const phrase = tokens.slice(i, i+n).join(' ');\n    set.add(phrase);\n  }\n}\nlet candidates = Array.from(set);\n// если пусто — добавляем пустую строку\nif (candidates.length === 0) {\n  candidates = [\"\"];\n}\n\nreturn [{ json: { company_id, candidates,MAX_N } }];\n"
      },
      "id": "307eeaed-c171-4407-a82d-dae40fdc3b7d",
      "name": "Code: normalize_and_ngrams",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        -80
      ],
      "notes": "Normalize phrase, strip Russian prepositions (keeping - + #), tokenize, and produce 1..3-grams."
    },
    {
      "parameters": {
        "jsCode": "// === Code: explode_candidates ===\n// INPUT:  { threshold, candidates[] }\n// OUTPUT: array of items: { candidate, threshold }\n// PURPOSE: fan-out each n-gram into its own item for embedding + DB lookup\n\nconst { company_id, candidates } = $json;\n\nreturn candidates.map(c => ({ json: { candidate: c,company_id } }));"
      },
      "id": "b83b47f3-f32d-4b60-8032-68b9081fe6a9",
      "name": "Code: explode_candidates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        -80
      ],
      "notes": "Explode the array of n-gram candidates into one item per candidate."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": \"{{$json.candidate}}\"\n}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "timeout": 30000
        }
      },
      "id": "2ee9a6eb-32ad-44eb-ac8f-378a8645a21a",
      "name": "HTTP: OpenAI Embeddings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -48,
        -80
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "m4NScyhZzV3hBcTr",
          "name": "OpenAi Yads"
        }
      },
      "notes": "Creates an embedding for each candidate n-gram.\n- Set your OpenAI credential on this node.\n- Batch mode is possible later; this keeps it simple and explicit."
    },
    {
      "parameters": {
        "jsCode": "// === Code: build_vector_literal ===\n// INPUT:  HTTP response(s) from OpenAI embeddings (one per candidate)\n// OUTPUT: items: { vector: \"[float,...]\", idx, candidate, threshold }\n// PURPOSE: Convert embedding array into a Postgres vector literal string and\n//          carry candidate + threshold forward for alignment\n\nconst sourceAll = $('Code: explode_candidates').all();\n\nconst out = $input.all().map((r, i) => {\n  // OpenAI HTTP node may put data in r.json.body.data or r.json.data depending on version\n  const emb = r.json?.body?.data?.[0]?.embedding ?? r.json?.data?.[0]?.embedding;\n  if (!Array.isArray(emb) || emb.length === 0) {\n    throw new Error('Embedding not found for item #' + i);\n  }\n  const vector = '[' + emb.map(Number).join(',') + ']';\n  const candidate = sourceAll[i]?.json?.candidate;\n  \n  const company_id = sourceAll[i]?.json?.company_id;\n  return { json: { vector, idx: i, candidate, company_id } };\n});\n\nreturn out;"
      },
      "id": "8b3e5125-4ec9-4dc4-9846-5ed563052556",
      "name": "Code: build_vector_literal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -80
      ],
      "notes": "Convert embedding arrays into a pgvector literal (e.g., \"[0.1,0.2,...]\")."
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -864,
        -80
      ],
      "id": "33b39b04-24df-4f8d-81f8-6e786c3bb06b",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO company_content (phrase_embedding, company_id,report_id, phrase,content_weight)\nVALUES ($1::vector, $2, $3,$4,1)\n  ON CONFLICT ON CONSTRAINT company_content_company_phrase_ci_uk \n  DO UPDATE\nSET content_weight = COALESCE(company_content.content_weight, 1) + COALESCE(EXCLUDED.content_weight, 1)\nRETURNING  phrase,content_weight;",
        "options": {
          "queryReplacement": "=[{ {{$json.vector}}}, { {{ $json.company_id}} }, { {{ $('When Executed by Another Workflow').last().json.report_id}},{{ $json.candidate}} } }]"
        }
      },
      "id": "0ff010e1-3659-4428-9799-866f02bb5656",
      "name": "Insert content",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        480,
        -80
      ],
      "credentials": {
        "postgres": {
          "id": "4YkdFJcdTgzo9hkz",
          "name": "PGvector"
        }
      },
      "notes": "Looks up the nearest content phrase using pgvector (<#> = cosine distance if normalized). \n- Assumes table company_content(phrase text, phrase_embedding vector).\n- Returns top-1 match with similarity = -distance."
    },
    {
      "parameters": {
        "jsCode": "// Собираем все входящие элементы\nconst items = $input.all();\n\n// Формируем пары \"phrase:content_weight\"\nconst parts = items\n  .map(({ json }) => {\n    const phrase = String(json.phrase ?? '').trim();\n    const weight = json.content_weight;\n    if (!phrase || weight === undefined || weight === null) return null;\n\n    // Если в phrase есть запятые, обернём её в кавычки (чтобы не ломать формат)\n    const safePhrase = phrase.includes(',') ? `\"${phrase.replace(/\"/g, '\\\\\"')}\"` : phrase;\n    return `${safePhrase}:${String(weight).trim()}`;\n  })\n  .filter(Boolean);\n\n// Возвращаем одну строку\nreturn [{ json: { combined: parts.join(', ') } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        -80
      ],
      "id": "3c8e44b8-fd17-46fa-9227-a60cab4f830d",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "Code: normalize_and_ngrams": {
      "main": [
        [
          {
            "node": "Code: explode_candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: explode_candidates": {
      "main": [
        [
          {
            "node": "HTTP: OpenAI Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: OpenAI Embeddings": {
      "main": [
        [
          {
            "node": "Code: build_vector_literal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: build_vector_literal": {
      "main": [
        [
          {
            "node": "Insert content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code: normalize_and_ngrams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert content": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "company_id": "1",
          "report_id": "5",
          "key_word": "школа программрование в саратове",
          "threshold": 0.8
        }
      }
    ]
  },
  "versionId": "9fb4da44-3d26-48f1-9097-b7eaa2f8aabb",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-17T09:39:52.642Z",
      "updatedAt": "2025-10-17T09:39:52.642Z",
      "role": "workflow:owner",
      "workflowId": "cMcY26oqQV5mNCvI",
      "projectId": "spKmbJLU4mvACXIB"
    }
  ],
  "tags": [
    {
      "createdAt": "2025-10-07T08:31:00.329Z",
      "updatedAt": "2025-10-07T08:31:00.329Z",
      "id": "mr0GomgPqPG1HJmt",
      "name": "core management"
    }
  ]
}