n8n_workflows/crm-lead-process.json
{
  "createdAt": "2025-10-07T21:30:12.820Z",
  "updatedAt": "2025-10-13T19:01:14.399Z",
  "id": "d4D0Fp4pO6Ch7S7C",
  "name": "CRM lead process",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c11cd095-1060-4c9c-87df-2a3c9d34deab",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        192,
        0
      ],
      "id": "6b11411b-3ee6-4590-977a-3dbbd005d09a",
      "name": "Webhook",
      "webhookId": "c11cd095-1060-4c9c-87df-2a3c9d34deab"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "XlfQhVUBPeep3gvZ",
          "mode": "list",
          "cachedResultName": "site leads",
          "cachedResultUrl": "/projects/spKmbJLU4mvACXIB/datatables/XlfQhVUBPeep3gvZ"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pending": "={{ false }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "yclid",
              "displayName": "yclid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "etext",
              "displayName": "etext",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "referrer",
              "displayName": "referrer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "page_url",
              "displayName": "page_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "page_title",
              "displayName": "page_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ts_site_iso",
              "displayName": "ts_site_iso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ts_site",
              "displayName": "ts_site",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "pending",
              "displayName": "pending",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        784,
        0
      ],
      "id": "9bf6585d-2a49-4b7a-953a-e45d873bc6d4",
      "name": "Update row(s)"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "XlfQhVUBPeep3gvZ",
          "mode": "list",
          "cachedResultName": "site leads",
          "cachedResultUrl": "/projects/spKmbJLU4mvACXIB/datatables/XlfQhVUBPeep3gvZ"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "pending",
              "condition": "isTrue"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "78fd246c-1fe1-47a3-981d-237c516e655e",
      "name": "Get visitors"
    },
    {
      "parameters": {
        "content": "## CRM lead процесс\nСлушает вебхуки из CRM, при появлении нового лида - считывает последние 10 строк данных о посетителях и матчит с последней записью. Отсылает yclid_id и etext обратно в CRM\n\nTODO - сообщить в аналитику; сделать if если нет свежих записей; обогатить UTM-данными",
        "height": 128,
        "width": 1712
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        -256
      ],
      "typeVersion": 1,
      "id": "be6a9327-4ca3-4d9c-bd0f-15b8304becf7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "// Берем массив всех pending\nconst items = $input.all();\n\n// Сортируем по id (или по createdAt, если есть)\nitems.sort((a, b) => b.json.id - a.json.id);\n\n// Возвращаем только самую свежую\nreturn [items[0]];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        0
      ],
      "id": "ca0796b3-422f-41d6-800c-6e9059b0dfb2",
      "name": "Get the last visitor"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        944,
        -112
      ],
      "id": "e7a7a798-e66a-43cd-839e-c1a9ac97de8a",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "function toUnixSeconds(dt) {\n  const s = String(dt ?? '').trim();\n  if (!s) return Math.floor(Date.now() / 1000);\n  if (/^\\d+$/.test(s)) return Number(s);\n  const t = Date.parse(s);\n  return Number.isFinite(t)\n    ? Math.floor(t / 1000)\n    : Math.floor(Date.now() / 1000);\n}\n\nfunction toDigitsString(v) {\n  const s = String(v ?? '').trim();\n  if (!s) return '';\n  // используем только цифры, исключаем всё остальное\n  return s.replace(/\\D/g, '');\n}\n\nconst input = $json || {};\nconst counterId = input.counterId;\nconst target = String(input.target ?? '').trim();\nconst yclidRaw = input.yclid ?? input.yclid_id;\nconst etext = String(input.etext ?? '').trim();\n\nif (!counterId) throw new Error('counterId is required');\nif (!target) throw new Error('target is required');\n\nconst yclid = toDigitsString(yclidRaw);\nif (!yclid) throw new Error('yclid is required and must be digits only');\n\n// здесь обновлено: гарантируем целые секунды\nconst dateUnix = Math.floor(Number(input.datetime || Date.now() / 1000));\n\n// CSV\nconst headers = ['Yclid', 'Target', 'DateTime'];\nconst row = [yclid, target, String(dateUnix)];\nconst csv =\n  headers.join(',') +\n  '\\n' +\n  row.map((v) => `\"${String(v).replace(/\"/g, '\"\"')}\"`).join(',');\n\nconst data = Buffer.from(csv, 'utf8').toString('base64');\n\nreturn [\n  {\n    json: {\n      counterId,\n      comment: etext ? `etl:${etext}` : undefined,\n    },\n    binary: {\n      file: {\n        data,\n        fileName: 'offline-conv.csv',\n        mimeType: 'text/csv',\n      },\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        432
      ],
      "id": "2426a3d8-fec0-44c7-9a54-d174fd4e5e40",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"alfacrm\": {\n    \"host\": \"kiberonesaratov.s20.online\",\n    \"email\": \"antonkarzhavin1@yandex.ru\",\n    \"api_key\": \"656b9709-9547-11f0-b9b8-3cecefbdd1ae\",\n  }\n}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1312,
        -64
      ],
      "id": "8d7cadfb-2633-4768-9165-abf9a8e2553a",
      "name": "Set CRM data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d2e6e6d-c3ec-459c-a0aa-60f6f1392bee",
              "name": "counterId",
              "value": "85745759",
              "type": "string"
            },
            {
              "id": "133b3309-fde4-4154-9af7-a710b86e3162",
              "name": "target",
              "value": "473672120",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1312,
        208
      ],
      "id": "c986603b-a0b6-4101-b682-3b315accbb79",
      "name": "Set Metrica data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api-metrika.yandex.net/management/v1/counter/85745759/offline_conversions/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "OAuth y0__xCI47u1CBiq4zog0YyG0hR1z7e64gJ-hZLEalVNHnDN1VhYUQ"
            }
          ]
        },
        "sendBody": true,
        "contentType": "=multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1728,
        432
      ],
      "id": "8e322616-82e5-4920-8bf7-2b6697192fc2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const counterId = 85745759;\nconst goalName = 'crm_lead';\nconst randomNum = Math.random();\n\nconst params = `browser-info=ar:1:pv:1:rn:${randomNum}&page-url=https://saratov-okt.kiber-one.com/goal/${goalName}&ut=noindex`;\n\nconst url = `https://mc.yandex.ru/watch/${counterId}?${params}`;\n\nconst response = await this.helpers.httpRequest({\n  method: 'GET',\n  url: url,\n});\n\nreturn [{\n  json: {\n    success: true,\n    url: url\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        592
      ],
      "id": "13d31b80-c2a5-4226-8a39-b8a5a78d4f09",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "url": "=https://mc.yandex.ru/watch/{{$json.counterId}}?page-url={{$json.page_url}}&browser-info=et:custom;rn={{$json.createdAt || Date.now()}};site-info=goal:crm_lead",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "n8n-offline-conversion"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1536,
        208
      ],
      "id": "a606f22d-0a86-48d6-b94a-5ae3fc982b46",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "/**\n * n8n Code node: check if createdAt older than 5 minutes\n */\n\nconst FIVE_MINUTES = 5 * 60 * 1000; // 5 минут в миллисекундах\n\n// Берем createdAt из входных данных (например, из предыдущей ноды)\nconst createdAt = $json.createdAt;\n\nif (!createdAt) {\n  throw new Error(\"createdAt field is missing\");\n}\n\n// Преобразуем в timestamp\nconst createdTime = new Date(createdAt).getTime();\nif (isNaN(createdTime)) {\n  throw new Error(\"Invalid createdAt date format\");\n}\n\nconst now = Date.now();\nconst diff = now - createdTime;\n\n// Проверяем разницу\nif (diff > FIVE_MINUTES) {\n  throw new Error(`Process stopped: createdAt is older than 5 minutes (${Math.floor(diff / 1000)}s ago)`);\n}\n\n// Если все ок — пропускаем дальше\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -80
      ],
      "id": "d8035638-ba96-4f19-b296-99ab252e1563",
      "name": "check 5 min"
    },
    {
      "parameters": {
        "jsCode": "/**\n * AlfaCRM update by entity_id (n8n \"Code (JavaScript)\" node)\n * — логин → (опционально) чтение клиента → апдейт клиента\n */\n\n// ---------- helpers ----------\nconst toNum = (v) => {\n  if (v === undefined || v === null) return undefined;\n  const n = Number(String(v).trim());\n  return Number.isFinite(n) ? n : undefined;\n};\nfunction first(...vals) {\n  for (const v of vals) {\n    if (v !== undefined && v !== null && String(v).trim() !== '') return String(v).trim();\n  }\n  return undefined;\n}\nfunction asObj(maybe) {\n  if (!maybe) return {};\n  if (typeof maybe === 'object') return maybe;\n  if (typeof maybe === 'string') {\n    try { return JSON.parse(maybe); } catch { return {}; }\n  }\n  return {};\n}\n// Достаём JSON из другого узла (работает в режиме \"Run Once For All Items\")\nfunction fromNode(nodeName) {\n  try { return $items(nodeName, 0, 0)?.json ?? {}; } catch { return {}; }\n}\n\nasync function http(req) { return await this.helpers.httpRequest(req); }\n\nasync function login(self, { host, email, api_key, x_app_key }) {\n  const headers = { 'Accept': 'application/json', 'Content-Type': 'application/json' };\n  if (x_app_key) headers['X-APP-KEY'] = x_app_key;\n  const res = await http.call(self, {\n    method: 'POST',\n    url: `https://${host}/v2api/auth/login`,\n    headers,\n    body: { email, api_key },\n    json: true, gzip: true, timeout: 15000,\n  });\n  if (!res?.token) throw new Error('AlfaCRM: no token in auth response');\n  return res.token;\n}\n\nasync function getCustomer(self, { host, token, branchId, entity_id, x_app_key }) {\n  const headers = {\n    'Accept': 'application/json',\n    'Content-Type': 'application/json',\n    'X-ALFACRM-TOKEN': token,\n  };\n  if (x_app_key) headers['X-APP-KEY'] = x_app_key;\n  const res = await http.call(self, {\n    method: 'POST',\n    url: `https://${host}/v2api/${branchId}/customer/index`,\n    headers,\n    body: { id: entity_id, page: 0 },\n    json: true, gzip: true, timeout: 15000,\n  });\n  return Array.isArray(res?.items) ? res.items.find(i => Number(i.id) === Number(entity_id)) : null;\n}\n\nasync function updateCustomer(self, { host, token, branchId, entity_id, payload, x_app_key }) {\n  const headers = {\n    'Accept': 'application/json',\n    'Content-Type': 'application/json',\n    'X-ALFACRM-TOKEN': token,\n  };\n  if (x_app_key) headers['X-APP-KEY'] = x_app_key;\n  return await http.call(self, {\n    method: 'POST',\n    url: `https://${host}/v2api/${branchId}/customer/update`,\n    qs: { id: entity_id },\n    headers,\n    body: payload,\n    json: true, gzip: true, timeout: 20000,\n  });\n}\n\nfunction buildPayload(update, currentNote) {\n  const payload = {};\n  if (Array.isArray(update.lead_status_ids)) payload.lead_status_ids = update.lead_status_ids;\n  if (typeof update.lead_source_id === 'number') payload.lead_source_id = update.lead_source_id;\n\n  // custom_value_json — всегда строкой\n  if (update.custom_value_json && typeof update.custom_value_json === 'object') {\n    payload.custom_value_json = JSON.stringify(update.custom_value_json);\n  } else if (typeof update.custom_value_json === 'string') {\n    payload.custom_value_json = update.custom_value_json;\n  }\n\n  // только custom_* и как строки\n  if (update.custom_plain && typeof update.custom_plain === 'object') {\n    for (const [k, v] of Object.entries(update.custom_plain)) {\n      if (v === undefined || v === null) continue;\n      if (!k.startsWith('custom_')) continue;\n      if (payload[k] === undefined) payload[k] = String(v);\n    }\n  }\n\n  if (update.note_append) {\n    payload.note = (currentNote || '') + (currentNote ? '\\n' : '') + String(update.note_append);\n  }\n  return payload;\n}\n\n// ---------- input normalization ----------\nconst input = $json;\nif (!input?.alfacrm?.host || !input?.alfacrm?.email || !input?.alfacrm?.api_key) {\n  throw new Error('Provide alfacrm.host, alfacrm.email, alfacrm.api_key');\n}\n\n// распарсим возможные строки\nconst bodyObj   = asObj(input.body);\nconst paramsObj = asObj(input.params);\nconst queryObj  = asObj(input.query);\n\n// плюс попробуем достать из других нод\nconst jWebhook      = fromNode('Webhook');\nconst jVisitors     = fromNode('Get visitors');\nconst jLastVisitor  = fromNode('Get the last visitor');\nconst jUpdateRows   = fromNode('Update row(s)');\nconst jCredentials  = fromNode('Set credentials');\n\n// branchId: из текущего item, либо из webhook/body\nconst branchId =\n  toNum(input.alfacrm.branchId) ??\n  toNum(input.branch_id) ??\n  toNum(bodyObj.branch_id) ??\n  toNum(asObj(jWebhook.body).branch_id);\n\nif (!branchId) throw new Error('Provide alfacrm.branchId or body.branch_id');\n\n// entity_id: из текущего item + из других нод\nconst entity_id = \n  toNum(input.entity_id) ??\n  toNum(input.customerId) ??\n  toNum(bodyObj.entity_id) ??\n  toNum(paramsObj.entity_id) ??\n  toNum(queryObj.entity_id) ??\n  // из Webhook (часто здесь)\n  toNum(asObj(jWebhook.body).entity_id) ??\n  toNum(jWebhook.entity_id) ??\n  // вдруг где-то лежит просто id\n  toNum(bodyObj.id) ?? toNum(paramsObj.id) ?? toNum(queryObj.id) ??\n  toNum(jUpdateRows.entity_id) ??\n  toNum(jLastVisitor.entity_id) ??\n  toNum(jVisitors.entity_id) ??\n  toNum(jCredentials.entity_id);\n\nif (!entity_id) {\n  console.log('ENTITY_ID CANDIDATES:', {\n    'input.entity_id': input.entity_id,\n    'input.customerId': input.customerId,\n    'body.entity_id': bodyObj.entity_id,\n    'params.entity_id': paramsObj.entity_id,\n    'query.entity_id': queryObj.entity_id,\n    'webhook.body.entity_id': asObj(jWebhook.body).entity_id,\n    'webhook.entity_id': jWebhook.entity_id,\n    'updateRows.entity_id': jUpdateRows.entity_id,\n    'lastVisitor.entity_id': jLastVisitor.entity_id,\n    'visitors.entity_id': jVisitors.entity_id,\n    'credentials.entity_id': jCredentials.entity_id,\n  });\n  throw new Error('Provide numeric entity_id');\n}\n\nconst { host, email, api_key, x_app_key } = input.alfacrm;\nconst update = input.update || {};\n\n// ---------- inferred yclid/etext ----------\nconst inferred_yclid = first(\n  update?.custom_plain?.custom_yclid,\n  input.custom_yclid, input.yclid,\n  bodyObj.custom_yclid, bodyObj.yclid,\n  asObj(jWebhook.body).custom_yclid, asObj(jWebhook.body).yclid\n);\nconst inferred_etext = first(\n  update?.custom_plain?.custom_etext,\n  input.custom_etext, input.etext,\n  bodyObj.custom_etext, bodyObj.etext,\n  asObj(jWebhook.body).custom_etext, asObj(jWebhook.body).etext\n);\nupdate.custom_plain = Object.assign({}, update.custom_plain);\nif (inferred_yclid && !update.custom_plain.custom_yclid) update.custom_plain.custom_yclid = inferred_yclid;\nif (inferred_etext && !update.custom_plain.custom_etext) update.custom_plain.custom_etext = inferred_etext;\n\n// ---------- flow ----------\nlet token = await login(this, { host, email, api_key, x_app_key });\n\nlet existing = null;\ntry { existing = await getCustomer(this, { host, token, branchId, entity_id, x_app_key }); } catch {}\n\nconst payload = buildPayload(update, existing?.note);\n\ntry {\n  const res = await updateCustomer(this, { host, token, branchId, entity_id, payload, x_app_key });\n  return [{ json: { success: true, response: res, sent: payload, entity_id, branchId } }];\n} catch (err) {\n  const status = err?.statusCode || err?.response?.statusCode;\n  if (status === 401) {\n    token = await login(this, { host, email, api_key, x_app_key });\n    const res2 = await updateCustomer(this, { host, token, branchId, entity_id, payload, x_app_key });\n    return [{ json: { success: true, response: res2, sent: payload, entity_id, branchId, retried: true } }];\n  }\n  throw new Error(`AlfaCRM update failed: ${JSON.stringify(err?.response?.body || err)}`);\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        -64
      ],
      "id": "f120cad5-2419-4568-b5e6-cdbf13ef4ee7",
      "name": "Send Lead data to CRM"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (JavaScript)\n\n// Получаем входные данные\nconst item = $json;\n\n// Проверяем наличие yclidid\nconst yclid = item.yclidid || item.yclid || null;\n\n// Устанавливаем lead_source_id в зависимости от наличия yclid\nconst lead_source_id = yclid && String(yclid).trim() !== '' ? 8 : 3;\n\n// Возвращаем результат\nreturn {\n  ...item,\n  lead_source_id,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        -64
      ],
      "id": "0280247b-21b3-403b-8366-050088c9a937",
      "name": "update lead_source_id"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get visitors",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get visitors": {
      "main": [
        [
          {
            "node": "Get the last visitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get the last visitor": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "check 5 min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set CRM data": {
      "main": [
        [
          {
            "node": "update lead_source_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Metrica data": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        []
      ]
    },
    "HTTP Request1": {
      "main": [
        []
      ]
    },
    "check 5 min": {
      "main": [
        [
          {
            "node": "Set CRM data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Lead data to CRM": {
      "main": [
        []
      ]
    },
    "update lead_source_id": {
      "main": [
        [
          {
            "node": "Send Lead data to CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "a6b49635-bdb3-48d6-a89d-625f2f16ac08",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-10-07T21:30:12.820Z",
      "updatedAt": "2025-10-07T21:30:12.820Z",
      "role": "workflow:owner",
      "workflowId": "d4D0Fp4pO6Ch7S7C",
      "projectId": "spKmbJLU4mvACXIB"
    }
  ],
  "tags": []
}