n8n_workflows/current-links-and-data-review.json
{
  "createdAt": "2025-08-04T07:35:51.760Z",
  "updatedAt": "2025-08-04T09:10:51.342Z",
  "id": "Xtz8tIR3qb5gVRIG",
  "name": "current links and  data review",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "simplify": false,
        "options": {
          "maxToolsIterations": 15
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1104,
        -176
      ],
      "id": "75c1265b-8a8e-4e50-8e4d-92fb096d4888",
      "name": "Message a model",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "V8R8KiZKXscJQ1sL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        432,
        -80
      ],
      "id": "5c2bea38-a6f1-4c48-93fa-6968b50f734f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        4688,
        0
      ],
      "id": "4926997a-0ff2-4e57-ae87-55e36d49a582"
    },
    {
      "parameters": {
        "amount": 0
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4400,
        -464
      ],
      "id": "7e2fb988-0682-4f2a-82cb-06012aa04482",
      "name": "Wait",
      "webhookId": "afbc5b77-748d-4a65-b3d1-6c4a150ed711"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1392,
        -400
      ],
      "id": "b9f28a10-9206-4608-b22c-996599ea9c41",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e10b6a7-d524-4fce-8288-527e596dba23",
              "name": "First_part",
              "value": "Есть следующая фраза, заданная пользователем при поиске: \"",
              "type": "string"
            },
            {
              "id": "ba486f3b-f6d8-4d2d-9e19-3f83f0c18092",
              "name": "Second_part",
              "value": "\". Подбери к фразе, заголовку:\"",
              "type": "string"
            },
            {
              "id": "e1fc0dc6-c7da-4093-9221-70f8d7164f71",
              "name": "Third_part",
              "value": "\" и тексту рекламного объявления \"",
              "type": "string"
            },
            {
              "id": "283b224b-d4ab-4f61-b929-73fe5c8e5d4f",
              "name": "Fourth_part",
              "value": "\" ссылку на страницу сайта, максимально соответствующую запросу пользователя и тексту. Ответ должен содержать только ссылку. Учитывай то что в исходных фразах удалены все дополнительные символы, такие как #,- и пр. В ответе необходимо вернуть только запрошенную информацию, запрещено добавлять уточнения типа заголовок, ссылка, текст и любые рассуждения. Описание компании:  KIBERone – международная Школа программирования и цифровых технологий для детей от 6 до 14 лет. Официальный сайт филиала в Саратове (Октябрьский район): https://saratov-okt.kiber-one.com/ Позиционирование бренда: KIBERone — первая международная КиберШкола будущего для IT-поколения 6–14 лет, признана ЮНЕСКО лучшей детской образовательной IT-школой в мире. Бренд является партнером Microsoft, Roblox и Samsung. Бесплатные пробные уроки Основные услуги и программы: Полный перечень модулей (https://saratov-okt.kiber-one.com/moduli/): - Вводный модуль (основы цифровой грамотности) — https://saratov-okt.kiber-one.com/moduli/vvodnyy-modul/ - Основы программирования Scratch Jr — https://saratov-okt.kiber-one.com/moduli/scratch-jr/ - Создание игр на Scratch — https://saratov-okt.kiber-one.com/moduli/modul-2-znakomstvo-so-scratch-sozdanie-igr-na-scratch-osnovy/ - ПиктоМир (алгоритмическое мышление) — https://saratov-okt.kiber-one.com/moduli/piktomir/ - CodeMonkey (логика и программирование) — https://saratov-okt.kiber-one.com/moduli/codemonkey/ - Устройство компьютера — https://saratov-okt.kiber-one.com/moduli/ustroystvo-kompyutera-my-na-ty/ - Эффектные презентации (PowerPoint, Desygner) — https://saratov-okt.kiber-one.com/moduli/magiya-powerpoint--canva-sozdanie-effektivnyh-prezentaciy/ - QR‑коды — https://saratov-okt.kiber-one.com/moduli/qr-kod-kak-instrument/ - Деловые люди (предпринимательство) — https://saratov-okt.kiber-one.com/moduli/delovye-lyudi/ - Google Blockly (визуальное программирование) — https://saratov-okt.kiber-one.com/moduli/google-blockly-apofeoz-vizualnogo-programmirovaniya/ - Roblox Studio (создание игр) — https://saratov-okt.kiber-one.com/moduli/roblox-studio-sdelat-vse-chto-vy-mozhete-sebe-predstavit/ - Kodu Game Lab (3D‑программирование) — https://saratov-okt.kiber-one.com/moduli/kodu-game-lab-vizualnoe-programmirovanie-v-3d/ - Разработка мобильных приложений в Thunkable — https://saratov-okt.kiber-one.com/moduli/thunkable/ - (fix)Blender (3D‑моделирование) — https://saratov-okt.kiber-one.com/moduli/blender/ - Компьютерная грамотность — https://saratov-okt.kiber-one.com/moduli/kompyuternaya-gramotnost/ - Minecraft Education — https://saratov-okt.kiber-one.com/moduli/minecraft-educate/ - Нейросети (основы ИИ) — https://saratov-okt.kiber-one.com/moduli/neyroseti/ - Alice 3D (3D‑программирование) — https://saratov-okt.kiber-one.com/moduli/alice-3d/ - Run Marco (основы алгоритмов) — https://saratov-okt.kiber-one.com/moduli/run-marco-1/ - Исполнители: Чертёжник и Черепашка — https://saratov-okt.kiber-one.com/moduli/ispolniteli-chertezhnik-i-cherepashka/ - GIF‑анимация — https://saratov-okt.kiber-one.com/moduli/gif-animaciya/ - Tinkercad (3D‑проектирование) — https://saratov-okt.kiber-one.com/moduli/tinkercad/ - Кибербезопасность — https://saratov-okt.kiber-one.com/moduli/osnovy-kiberbezopasnosti/ - Construct 2 (создание 2D‑игр) — https://saratov-okt.kiber-one.com/moduli/construct-2---sozday-svoy-pervyy-platformer/ - Компас‑3D (САПР) — https://saratov-okt.kiber-one.com/moduli/kompas-3d/ - Основы HTML (веб‑разработка) — https://saratov-okt.kiber-one.com/moduli/osnovy-html-izuchenie-web-razrabotki/ - Голосовой помощник Алиса — https://saratov-okt.kiber-one.com/moduli/golosovoy-pomoschnik-alisa/ - Создание лендинга (Tilda) — https://saratov-okt.kiber-one.com/moduli/lendingi-lp-i-tilda-verstka-odnostranichnikov/ - Python (создание игр) — https://saratov-okt.kiber-one.com/moduli/programmirovanie-v-python-sozday-svoyu-pervuyu-igru/ - Чат‑бот на Python — https://saratov-okt.kiber-one.com/moduli/umnyy-chat-bot-na-python/ - Web‑дизайн (Figma) — https://saratov-okt.kiber-one.com/moduli/web-dizayn-dlya-saytov-ili-prilozheniy/ - Web-дизайн для сайтов или приложений - https://saratov-okt.kiber-one.com/moduli/web-dizayn-dlya-saytov-ili-prilozheniy/ - Web‑мастер (HTML+CSS) — https://saratov-okt.kiber-one.com/moduli/web-master-html--css/ - Motion Design — https://saratov-okt.kiber-one.com/moduli/motion-design/ - Unreal Engine 4 (игровой движок) — https://saratov-okt.kiber-one.com/moduli/unreal-engine-4-igrovoy-dvizhok/ - JavaScript (игры) — https://saratov-okt.kiber-one.com/moduli/programmirovanie-na-javascript-uchimsya-sozdavat-igry/ - C# (создание 2D‑игр) — https://saratov-okt.kiber-one.com/moduli/programmirovanie-na-c-udivitelnyy-mir-2d-igr/ - C++ — https://saratov-okt.kiber-one.com/moduli/programmirovanie-na-s-smozhet-kazhdyy/ - Java (создание приложений) — https://saratov-okt.kiber-one.com/moduli/programmirovanie-na-java-tvoe-pervoe-prilozhenie/ - Unity 3D (игры) — https://saratov-okt.kiber-one.com/moduli/mir-trehmernyh-igr-na-unity-3d/ - Олимпиадное программирование — https://saratov-okt.kiber-one.com/moduli/olimpiadnoe-programmirovanie/ - Облачные технологии, Блокчейн, Data Science — https://saratov-okt.kiber-one.com/moduli/blokcheyn-tehnologichnoe-buduschee/ - PHP+SQL — https://saratov-okt.kiber-one.com/moduli/phpsql-2-mesyaca/ - Photoshop — https://saratov-okt.kiber-one.com/moduli/volshebnyy-photoshop/ - Подготовка к олимпиадам — https://saratov-okt.kiber-one.com/moduli/podgotovka-k-olimpiadam/ - Приложения Google — https://saratov-okt.kiber-one.com/moduli/prilozheniya-google-primenyat-dlya-zhizni-35-prilozheniy-ot-g/ - Web‑дизайн (Figma) — https://saratov-okt.kiber-one.com/moduli/web-dizayn-figma/ - https://saratov-okt.kiber-one.com/moduli/web-dizayn-figma/ -  -  Летние программы: - Летние IT-интенсивы (краткосрочные программы по направлениям Roblox, Minecraft, Python и др.) — https://saratov-okt.kiber-one.com/vybirayte-format-svoego-leta-s-kiberone/letnie-moduli-kiberone/ - Летние КИБЕРканикулы (городской лагерь с IT-обучением и развлекательной программой) — https://saratov-okt.kiber-one.com/vybirayte-format-svoego-leta-s-kiberone/kiber-kanikuly/ Дополнительные механики: - Кибервалюта («кибероны») для мотивации учеников, обмен на мерч на КиберМаркете — https://saratov-okt.kiber-one.com/o-kibershkole/kibervaluta/ Тьюторы и преподаватели: - Опытные специалисты с практическим опытом и педагогической подготовкой — https://saratov-okt.kiber-one.com/o-kibershkole/prepodavateli/ Другие важные разделы: - Новости (новости школы и сети) — https://saratov-okt.kiber-one.com/o-kibershkole/news/ - СМИ о нас (публикации о школе) — https://saratov-okt.kiber-one.com/o-kibershkole/smi-o-nas/ - Фотогалерея (фото с мероприятий и уроков) — https://saratov-okt.kiber-one.com/o-kibershkole/fotogalereya/ - Видео (видеоматериалы о школе) — https://saratov-okt.kiber-one.com/o-kibershkole/video/ - Расписание занятий (время занятий для групп и пробных уроков) — https://saratov-okt.kiber-one.com/o-kibershkole/raspisanie/ - Локации (адрес школы в Октябрьском районе Саратова, ул. Тараса Шевченко, 8) — https://saratov-okt.kiber-one.com/o-kibershkole/lokacii/ - Оплата (способы оплаты и договор-оферта) — https://saratov-okt.kiber-one.com/oplata/ - Сертификаты (активация промокодов партнеров) — https://saratov-okt.kiber-one.com/sertifikaty/ - Контакты (email saratov@kiber-one.com) — https://saratov-okt.kiber-one.com/feedback/",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        -256
      ],
      "id": "4c65dfad-b1f2-4e46-a550-1c0e3910d148",
      "name": "Set fixed text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a2986b7-fe2d-4cd7-b72f-473d05165f2a",
              "name": "prompt",
              "value": "={{$json.First_part + $json.key_words +$json.Third_part+ $json.ad_text + $json.Fourth_part }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        -256
      ],
      "id": "366d6d6d-44a0-4720-bb27-0ee6546d8d66",
      "name": "Combine text"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "current_ads_list",
          "mode": "list",
          "cachedResultName": "current_ads_list"
        },
        "returnAll": true,
        "combineConditions": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        64,
        -80
      ],
      "id": "92420019-256b-4e8c-b908-38187b551a2c",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "Hx2VFmUi5WO2K4QX",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "current_ads_list",
          "mode": "list",
          "cachedResultName": "current_ads_list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "key_words": "={{$json.key_words}}",
            "ad_header": "={{$json[\"ad_header\"]}}",
            "ad_text": "={{$json[\"ad_text\"]}}",
            "ad_url": "={{$json.ad_url + '?utm_source=yandex&utm_medium=cpc&utm_campaign={campaign_id}&utm_content={ad_id}&utm_term={keyword}.{device_type}.{region_name}&block={position_type}.{position}.{source}'}}",
            "group_id": "={{$json.group_id}}",
            "group_name": "={{$json.group_name}}",
            "ad_id": "={{$json.ad_id}}"
          },
          "matchingColumns": [
            "ad_id"
          ],
          "schema": [
            {
              "id": "ad_id",
              "displayName": "ad_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "group_name",
              "displayName": "group_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "key_words",
              "displayName": "key_words",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ad_header",
              "displayName": "ad_header",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ad_text",
              "displayName": "ad_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "group_id",
              "displayName": "group_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "ad_url",
              "displayName": "ad_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4144,
        -480
      ],
      "id": "23c055db-fc54-4faf-8807-71ce7690d31d",
      "name": "update all data",
      "credentials": {
        "postgres": {
          "id": "Hx2VFmUi5WO2K4QX",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e10b6a7-d524-4fce-8288-527e596dba23",
              "name": "First_part",
              "value": "Сократи этот заголовок:\" ",
              "type": "string"
            },
            {
              "id": "283b224b-d4ab-4f61-b929-73fe5c8e5d4f",
              "name": "Second_part",
              "value": "\"чтобы заголовок максимально содержал слова из исходного поискового запроса и был не больше 56 символов и не содержал символ \"‑\". Исходный запрос:\"",
              "type": "string"
            },
            {
              "id": "d97f0074-9fb0-4301-8e09-0f748dabccd9",
              "name": "Third_part",
              "value": "\" Учитывай контекст:  KIBERone – международная КиберШкола программирования и цифровых технологий для детей от 6 до 14 лет.  Позиционирование бренда: KIBERone — первая международная КиберШкола будущего для IT-поколения 6–14 лет, признана ЮНЕСКО лучшей детской образовательной IT-школой в мире. Бренд является партнером Microsoft, Roblox и Samsung. Бесплатные пробные уроки  Основные услуги и программы:  Полный перечень модулей:  Вводный модуль (основы цифровой грамотности)  Основы программирования Scratch Jr  Создание игр на Scratch  ПиктоМир (алгоритмическое мышление)  CodeMonkey (логика и программирование)  Устройство компьютера  Эффектные презентации (PowerPoint, Desygner)  QR-коды  Деловые люди (предпринимательство)  Google Blockly (визуальное программирование)  Roblox Studio (создание игр)  Kodu Game Lab (3D-программирование)  Разработка мобильных приложений в Thunkable  Blender (3D-моделирование)  Компьютерная грамотность  Minecraft Education  Нейросети (основы ИИ)  Alice 3D (3D-программирование)  Run Marco (основы алгоритмов)  Исполнители: Чертёжник и Черепашка  GIF-анимация  Tinkercad (3D-проектирование)  Кибербезопасность  Construct 2 (создание 2D-игр)  Компас-3D (САПР)  Основы HTML (веб-разработка)  Голосовой помощник Алиса  Создание лендинга (Tilda)  Python (создание игр)  Чат-бот на Python  Web-дизайн (Figma)  Web-мастер (HTML+CSS)  Motion Design  Unreal Engine 4 (игровой движок)  JavaScript (игры)  C# (создание 2D-игр)  C++  Java (создание приложений)  Unity 3D (игры)  Олимпиадное программирование  Облачные технологии, Блокчейн, Data Science  PHP+SQL  Photoshop  Подготовка к олимпиадам  Приложения Google  Летние программы:  Летние IT-интенсивы (краткосрочные программы по направлениям Roblox, Minecraft, Python и др.)  Летние КИБЕРканикулы (городской лагерь с IT-обучением и развлекательной программой)  Дополнительные механики:  Кибервалюта («кибероны») для мотивации учеников, обмен на мерч на КиберМаркете  Тьюторы и преподаватели:  Опытные специалисты с практическим опытом и педагогической подготовкой  Другие важные разделы:  Новости (новости школы и сети)  СМИ о нас (публикации о школе)  Фотогалерея (фото с мероприятий и уроков)  Видео (видеоматериалы о школе)  Расписание занятий (время занятий для групп и пробных уроков)  Локации (адрес школы в Октябрьском районе Саратова, ул. Тараса Шевченко, 8)  Оплата (способы оплаты и договор-оферта)  Сертификаты (активация промокодов партнеров)  Контакты (телефон +7 963 112-49-11, email saratov@kiber-one.com",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2192,
        -688
      ],
      "id": "19be1201-49bb-4858-afec-843723734a28",
      "name": "Set fixed text1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a2986b7-fe2d-4cd7-b72f-473d05165f2a",
              "name": "prompt",
              "value": "={{$json.First_part + $json.ad_header + $json.Second_part + $json.key_words + $json.Third_part}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2352,
        -688
      ],
      "id": "df91f90c-116d-4da8-a79f-eb2fb863f033",
      "name": "Combine text1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "simplify": false,
        "options": {
          "maxToolsIterations": 15
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2544,
        -688
      ],
      "id": "483165da-fbba-49f6-a0b0-8f22f152f4eb",
      "name": "Message a model1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "V8R8KiZKXscJQ1sL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8e3d4361-7a9b-4959-b854-53c94c5aa63f",
              "leftValue": "={{ $json.ad_header.length }}",
              "rightValue": 56,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1920,
        -400
      ],
      "id": "8b29e697-52f2-4c1d-a480-b1e45e0756f6",
      "name": "длина заголовка"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8e3d4361-7a9b-4959-b854-53c94c5aa63f",
              "leftValue": "={{ $json.ad_text.length }}",
              "rightValue": 80,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3088,
        -528
      ],
      "id": "00e5cf07-55d8-4cb9-88b1-849ee5fe6b42",
      "name": "длина текста"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e10b6a7-d524-4fce-8288-527e596dba23",
              "name": "First_part",
              "value": "Сократи текст рекламного объявления чтобы он был осмысленным, содержал все слова из фразы, заданной пользователем \" ",
              "type": "string"
            },
            {
              "id": "f6e0032f-10e6-4f63-b79b-387b5e401f1b",
              "name": "Second_part",
              "value": "\"  и был не больше 80 символов, текст \"",
              "type": "string"
            },
            {
              "id": "283b224b-d4ab-4f61-b929-73fe5c8e5d4f",
              "name": "Third_part",
              "value": "\" Учитывай контекст:  KIBERone – международная КиберШкола программирования и цифровых технологий для детей от 6 до 14 лет.  Позиционирование бренда: KIBERone — первая международная КиберШкола будущего для IT-поколения 6–14 лет, признана ЮНЕСКО лучшей детской образовательной IT-школой в мире. Бренд является партнером Microsoft, Roblox и Samsung. Бесплатные пробные уроки  Основные услуги и программы:  Полный перечень модулей:  Вводный модуль (основы цифровой грамотности)  Основы программирования Scratch Jr  Создание игр на Scratch  ПиктоМир (алгоритмическое мышление)  CodeMonkey (логика и программирование)  Устройство компьютера  Эффектные презентации (PowerPoint, Desygner)  QR-коды  Деловые люди (предпринимательство)  Google Blockly (визуальное программирование)  Roblox Studio (создание игр)  Kodu Game Lab (3D-программирование)  Разработка мобильных приложений в Thunkable  Blender (3D-моделирование)  Компьютерная грамотность  Minecraft Education  Нейросети (основы ИИ)  Alice 3D (3D-программирование)  Run Marco (основы алгоритмов)  Исполнители: Чертёжник и Черепашка  GIF-анимация  Tinkercad (3D-проектирование)  Кибербезопасность  Construct 2 (создание 2D-игр)  Компас-3D (САПР)  Основы HTML (веб-разработка)  Голосовой помощник Алиса  Создание лендинга (Tilda)  Python (создание игр)  Чат-бот на Python  Web-дизайн (Figma)  Web-мастер (HTML+CSS)  Motion Design  Unreal Engine 4 (игровой движок)  JavaScript (игры)  C# (создание 2D-игр)  C++  Java (создание приложений)  Unity 3D (игры)  Олимпиадное программирование  Облачные технологии, Блокчейн, Data Science  PHP+SQL  Photoshop  Подготовка к олимпиадам  Приложения Google  Летние программы:  Летние IT-интенсивы (краткосрочные программы по направлениям Roblox, Minecraft, Python и др.)  Летние КИБЕРканикулы (городской лагерь с IT-обучением и развлекательной программой)  Дополнительные механики:  Кибервалюта («кибероны») для мотивации учеников, обмен на мерч на КиберМаркете  Тьюторы и преподаватели:  Опытные специалисты с практическим опытом и педагогической подготовкой  Другие важные разделы:  Новости (новости школы и сети)  СМИ о нас (публикации о школе)  Фотогалерея (фото с мероприятий и уроков)  Видео (видеоматериалы о школе)  Расписание занятий (время занятий для групп и пробных уроков)  Локации (адрес школы в Октябрьском районе Саратова, ул. Тараса Шевченко, 8)  Оплата (способы оплаты и договор-оферта)  Сертификаты (активация промокодов партнеров)  Контакты (телефон +7 963 112-49-11, email saratov@kiber-one.com",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3408,
        -800
      ],
      "id": "502d3e62-3c64-4efb-9240-5cbbb6c54882",
      "name": "Set fixed text2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a2986b7-fe2d-4cd7-b72f-473d05165f2a",
              "name": "prompt",
              "value": "={{$json.First_part + $json.ad_header + $json.Second_part + $json.ad_text + $json.Third_part }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3568,
        -800
      ],
      "id": "2eef1f32-3bb8-41e4-8622-5ac9544cae35",
      "name": "Combine text2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "simplify": false,
        "options": {
          "maxToolsIterations": 15
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3760,
        -800
      ],
      "id": "76060997-aa6e-4b4a-b688-2cc4cfd8ac15",
      "name": "Message a model2",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "V8R8KiZKXscJQ1sL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2800,
        -864
      ],
      "id": "5157ed30-0d25-45dd-8a8e-d4a8130f16f9",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4064,
        -928
      ],
      "id": "bb032083-f4a6-4580-931b-a52c71d5eb86",
      "name": "Merge2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bdac0871-aa35-44db-a43d-8cca7b6ea53b",
              "name": "group_name",
              "value": "={{ $json.group_name }}",
              "type": "string"
            },
            {
              "id": "2ffed669-6abf-4268-9d3f-f90a8c31d2be",
              "name": "key_words",
              "value": "={{ $json.key_words }}",
              "type": "string"
            },
            {
              "id": "e1f82d87-cef1-429b-8b71-a0f497c4925b",
              "name": "ad_header",
              "value": "={{ $json.ad_header }}",
              "type": "string"
            },
            {
              "id": "5a34b5fe-e214-42bc-8844-bd54b0b27fd9",
              "name": "ad_text",
              "value": "={{ $json.ad_text }}",
              "type": "string"
            },
            {
              "id": "3b01a5ad-dd5f-4a8e-8cbd-3e64442e008b",
              "name": "group_id",
              "value": "={{ $json.group_id }}",
              "type": "number"
            },
            {
              "id": "b6b003a6-6614-47c9-91ae-3b5afd3797f8",
              "name": "ad_url",
              "value": "={{$json.choices[0].message.content}}",
              "type": "string"
            },
            {
              "id": "be9dfafb-2b49-453b-95c2-274d924a68ba",
              "name": "ad_id",
              "value": "={{ $json.ad_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1648,
        -400
      ],
      "id": "afeec07c-b1d0-4869-8eac-6e2d6ca75994",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bdac0871-aa35-44db-a43d-8cca7b6ea53b",
              "name": "=group_name",
              "value": "={{ $json.group_name }}",
              "type": "string"
            },
            {
              "id": "2ffed669-6abf-4268-9d3f-f90a8c31d2be",
              "name": "=key_words",
              "value": "={{ $json.key_words }}",
              "type": "string"
            },
            {
              "id": "e1f82d87-cef1-429b-8b71-a0f497c4925b",
              "name": "=ad_header",
              "value": "={{ $json.choices[0].message.content}}",
              "type": "string"
            },
            {
              "id": "5a34b5fe-e214-42bc-8844-bd54b0b27fd9",
              "name": "ad_text",
              "value": "={{ $json.ad_text }}",
              "type": "string"
            },
            {
              "id": "3b01a5ad-dd5f-4a8e-8cbd-3e64442e008b",
              "name": "=group_id",
              "value": "={{ $json.group_id }}",
              "type": "number"
            },
            {
              "id": "b6b003a6-6614-47c9-91ae-3b5afd3797f8",
              "name": "=ad_url",
              "value": "={{ $json.ad_url}}",
              "type": "string"
            },
            {
              "id": "672a1687-d667-491f-84da-b1061ef3031b",
              "name": "=ad_id",
              "value": "={{ $json.ad_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3024,
        -1120
      ],
      "id": "03bede03-750c-4e47-97a4-2b1deaec1b7a",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bdac0871-aa35-44db-a43d-8cca7b6ea53b",
              "name": "group_name",
              "value": "={{ $json.group_name }}",
              "type": "string"
            },
            {
              "id": "2ffed669-6abf-4268-9d3f-f90a8c31d2be",
              "name": "key_words",
              "value": "={{ $json.key_words }}",
              "type": "string"
            },
            {
              "id": "e1f82d87-cef1-429b-8b71-a0f497c4925b",
              "name": "ad_header",
              "value": "={{ $json.ad_header }}",
              "type": "string"
            },
            {
              "id": "5a34b5fe-e214-42bc-8844-bd54b0b27fd9",
              "name": "ad_text",
              "value": "={{ $json.choices[0].message.content}}",
              "type": "string"
            },
            {
              "id": "3b01a5ad-dd5f-4a8e-8cbd-3e64442e008b",
              "name": "group_id",
              "value": "={{ $json.group_id }}",
              "type": "number"
            },
            {
              "id": "b6b003a6-6614-47c9-91ae-3b5afd3797f8",
              "name": "ad_url",
              "value": "={{ $json.ad_url}}",
              "type": "string"
            },
            {
              "id": "64cff839-0aa4-41f3-8435-767b0a953a33",
              "name": "ad_id",
              "value": "={{ $json.ad_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4336,
        -1088
      ],
      "id": "22f6efdf-616e-40fd-84eb-c21caeef74e5",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -528,
        -416
      ],
      "id": "e9b5a139-db1e-40eb-bdfc-9659b3d2ebeb",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        16
      ],
      "id": "2de40a68-c356-4698-bfe7-66ae73ed5bf9",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "Message a model": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Set fixed text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set fixed text": {
      "main": [
        [
          {
            "node": "Combine text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine text": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update all data": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set fixed text1": {
      "main": [
        [
          {
            "node": "Combine text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine text1": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "длина заголовка": {
      "main": [
        [
          {
            "node": "Set fixed text1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "длина текста",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "длина текста": {
      "main": [
        [
          {
            "node": "Set fixed text2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update all data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set fixed text2": {
      "main": [
        [
          {
            "node": "Combine text2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine text2": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "длина заголовка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "длина заголовка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "длина текста",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "cc16467a-2bc5-47b4-8ffd-0394694aa5c3",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-04T07:35:51.760Z",
      "updatedAt": "2025-08-04T07:35:51.760Z",
      "role": "workflow:owner",
      "workflowId": "Xtz8tIR3qb5gVRIG",
      "projectId": "spKmbJLU4mvACXIB"
    }
  ],
  "tags": []
}