n8n_workflows/fill-competitors-services.json
{
  "createdAt": "2025-09-10T17:26:44.235Z",
  "updatedAt": "2025-10-31T10:43:50.885Z",
  "id": "gOiXkFb3LETVri46",
  "name": "Fill competitors services",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -544,
        0
      ],
      "id": "d6d7a237-20c9-41ff-933e-581f2f1e2ad4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "Romanychlogin",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_prompts",
          "mode": "list",
          "cachedResultName": "n8n_prompts",
          "cachedResultUrl": "https://github.com/Romanychlogin/n8n_prompts"
        },
        "filePath": "competitors with services.txt",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -304,
        0
      ],
      "id": "31d24caf-c283-433d-9519-2f79abd55bb1",
      "name": "Get a file1",
      "webhookId": "483b8dda-dbc6-4d7c-96fe-b849126bf071",
      "credentials": {
        "githubApi": {
          "id": "JQAFAcMNS9Ylyb0V",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -96,
        0
      ],
      "id": "f32781b0-76df-40a0-b627-e93313e2f0e2",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {
          "timeout": 600000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1648,
        0
      ],
      "id": "286f7fa3-94e7-4798-87ee-644747c63ca4",
      "name": "HTTP Request",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "V8R8KiZKXscJQ1sL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "competitor_entities",
          "mode": "list",
          "cachedResultName": "competitor_entities"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "canonical_name": "={{$json.competitor_name}}",
            "competitor_url": "={{$json.competitor_url}}",
            "competitor_type": "={{$json.competitor_type}}",
            "company_id": "={{$json.company_id}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "competitor_id",
              "displayName": "competitor_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "canonical_name",
              "displayName": "canonical_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "competitor_url",
              "displayName": "competitor_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "competitor_type",
              "displayName": "competitor_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_id",
              "displayName": "company_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2784,
        0
      ],
      "id": "589157fe-d720-4b12-8ebb-d1216203d23c",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "4YkdFJcdTgzo9hkz",
          "name": "PGvector"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n  \"model\": \"gpt-5\",\n  \"input\": [\n    {\n      \"role\": \"developer\",\n      \"content\": [\n        {\n          \"type\": \"input_text\",\n          \"text\": \"Отвечай только валидным JSON-массивом объектов в формате: [{\\\"competitor_name\\\": string,\\\"competitor_type\\\": string, \\\"competitor_url\\\": string}]. Не добавляй комментариев или форматирования вне JSON.\"\n        }\n      ]\n    },\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"input_text\",\n          \"text\": $json.my_prompt\n        }\n      ]\n    }\n  ],\n  \"text\": {\n    \"format\": {\n      \"type\": \"json_schema\",\n      \"name\": \"competitor_list\",\n      \"strict\": true,\n      \"schema\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"competitors\": {\n            \"type\": \"array\",\n            \"description\": \"Strictly formatted list of competitors, each as a name, type and URL row.\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"competitor_name\": {\n                  \"type\": \"string\",\n                  \"description\": \"The name of the competitor.\",\n                  \"minLength\": 1\n                },\n                \"competitor_type\": {\n                  \"type\": \"string\",\n                  \"description\": \"The type of the competitor. May consist of 3 values:local,global,franchise\",\n                  \"minLength\": 1\n                },\n                \"competitor_url\": {\n                  \"type\": \"string\",\n                  \"description\": \"The website URL of the competitor.\",\n                  \"minLength\": 1\n                }\n              },\n              \"required\": [\n                \"competitor_name\",\n                \"competitor_type\",\n                \"competitor_url\"\n              ],\n              \"additionalProperties\": false\n            }\n          }\n        },\n        \"required\": [\n          \"competitors\"\n        ],\n        \"additionalProperties\": false\n      }\n    },\n    \"verbosity\": \"low\"\n  },\n  \"reasoning\": {\n    \"effort\": \"high\",\n    \"summary\": null\n  },\n  \"tools\": [],\n  \"store\": false\n\n}\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        0
      ],
      "id": "80c90d86-92ac-4373-8cce-7310e08b651b",
      "name": "Set API JSON"
    },
    {
      "parameters": {
        "jsCode": "\n\n// Достаём массив competitors\nconst competitors = JSON.parse($input.first().json.output[1].content[0].text).competitors;\n\n// Разворачиваем каждый объект в отдельный item\nreturn competitors.map((c, index) => ({\n  json: {\n    index,\n    competitor_name: c.competitor_name,\n    competitor_type: c.competitor_type,\n    competitor_url: c.competitor_url,\n    company_id:$('set company name').first().json.company_id\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        0
      ],
      "id": "f52d83e3-8126-4077-a3ba-743670344911",
      "name": "Parse JSON"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11ac8bb1-a8b3-4857-81b9-3b42917b89b6",
              "name": "output",
              "value": "{\"competitors\":[{\"competitor_name\":\"Алгоритмика (Algorithmics)\",\"competitor_type\":\"franchise\",\"competitor_url\":\"https://algoritmika.org\"},{\"competitor_name\":\"CODDY\",\"competitor_type\":\"franchise\",\"competitor_url\":\"https://coddyschool.com\"},{\"competitor_name\":\"ROBBO Club\",\"competitor_type\":\"franchise\",\"competitor_url\":\"https://robboclub.ru\"},{\"competitor_name\":\"Logiscool\",\"competitor_type\":\"franchise\",\"competitor_url\":\"https://www.logiscool.com\"},{\"competitor_name\":\"IT Step Academy (ШАГ)\",\"competitor_type\":\"franchise\",\"competitor_url\":\"https://itstep.org\"},{\"competitor_name\":\"Code Ninjas\",\"competitor_type\":\"franchise\",\"competitor_url\":\"https://www.codeninjas.com\"},{\"competitor_name\":\"iCode School\",\"competitor_type\":\"franchise\",\"competitor_url\":\"https://icodeschool.com\"},{\"competitor_name\":\"Engineering For Kids\",\"competitor_type\":\"franchise\",\"competitor_url\":\"https://www.engineeringforkids.com\"},{\"competitor_name\":\"IT-Куб (центры цифрового образования)\",\"competitor_type\":\"local\",\"competitor_url\":\"https://it-cube.su\"},{\"competitor_name\":\"Кванториум (детский технопарк)\",\"competitor_type\":\"local\",\"competitor_url\":\"https://kvantorium.ru\"},{\"competitor_name\":\"Яндекс Лицей\",\"competitor_type\":\"global\",\"competitor_url\":\"https://lyceum.yandex.ru\"},{\"competitor_name\":\"IT Школа Samsung\",\"competitor_type\":\"global\",\"competitor_url\":\"https://itschool.samsung.ru\"},{\"competitor_name\":\"Академия Иннополис (для школьников)\",\"competitor_type\":\"global\",\"competitor_url\":\"https://academy.innopolis.ru\"},{\"competitor_name\":\"Сириус (курсы и смены по информатике)\",\"competitor_type\":\"global\",\"competitor_url\":\"https://sochisirius.ru\"},{\"competitor_name\":\"Kodland (Кодланд)\",\"competitor_type\":\"global\",\"competitor_url\":\"https://kodland.org\"},{\"competitor_name\":\"itgenio\",\"competitor_type\":\"global\",\"competitor_url\":\"https://itgen.io\"},{\"competitor_name\":\"Фоксфорд (программирование для школьников)\",\"competitor_type\":\"global\",\"competitor_url\":\"https://foxford.ru\"},{\"competitor_name\":\"Skysmart (курсы программирования)\",\"competitor_type\":\"global\",\"competitor_url\":\"https://skysmart.ru\"},{\"competitor_name\":\"Тетрика (программирование для школьников)\",\"competitor_type\":\"global\",\"competitor_url\":\"https://tetrika-school.ru\"},{\"competitor_name\":\"GeekBrains (курсы для школьников)\",\"competitor_type\":\"global\",\"competitor_url\":\"https://geekbrains.ru\"},{\"competitor_name\":\"Нетология\",\"competitor_type\":\"global\",\"competitor_url\":\"https://netology.ru\"},{\"competitor_name\":\"Skillbox\",\"competitor_type\":\"global\",\"competitor_url\":\"https://skillbox.ru\"},{\"competitor_name\":\"SkillFactory\",\"competitor_type\":\"global\",\"competitor_url\":\"https://skillfactory.ru\"},{\"competitor_name\":\"Яндекс Практикум\",\"competitor_type\":\"global\",\"competitor_url\":\"https://practicum.yandex.ru\"},{\"competitor_name\":\"Uchi.ru (информатика/программирование)\",\"competitor_type\":\"global\",\"competitor_url\":\"https://uchi.ru\"},{\"competitor_name\":\"Stepik\",\"competitor_type\":\"global\",\"competitor_url\":\"https://stepik.org\"},{\"competitor_name\":\"Coursera\",\"competitor_type\":\"global\",\"competitor_url\":\"https://coursera.org\"},{\"competitor_name\":\"edX\",\"competitor_type\":\"global\",\"competitor_url\":\"https://edx.org\"},{\"competitor_name\":\"Udemy\",\"competitor_type\":\"global\",\"competitor_url\":\"https://udemy.com\"},{\"competitor_name\":\"Codecademy\",\"competitor_type\":\"global\",\"competitor_url\":\"https://codecademy.com\"},{\"competitor_name\":\"Khan Academy (программирование)\",\"competitor_type\":\"global\",\"competitor_url\":\"https://ru.khanacademy.org\"},{\"competitor_name\":\"Code.org\",\"competitor_type\":\"global\",\"competitor_url\":\"https://code.org\"},{\"competitor_name\":\"Hour of Code\",\"competitor_type\":\"global\",\"competitor_url\":\"https://hourofcode.com\"},{\"competitor_name\":\"freeCodeCamp\",\"competitor_type\":\"global\",\"competitor_url\":\"https://freecodecamp.org\"},{\"competitor_name\":\"iD Tech\",\"competitor_type\":\"global\",\"competitor_url\":\"https://www.idtech.com\"},{\"competitor_name\":\"Tynker\",\"competitor_type\":\"global\",\"competitor_url\":\"https://www.tynker.com\"},{\"competitor_name\":\"CodeMonkey\",\"competitor_type\":\"global\",\"competitor_url\":\"https://www.codemonkey.com\"},{\"competitor_name\":\"Kodable\",\"competitor_type\":\"global\",\"competitor_url\":\"https://www.kodable.com\"},{\"competitor_name\":\"Scratch (онлайн-платформа)\",\"competitor_type\":\"global\",\"competitor_url\":\"https://scratch.mit.edu\"},{\"competitor_name\":\"CodeCombat\",\"competitor_type\":\"global\",\"competitor_url\":\"https://codecombat.com\"},{\"competitor_name\":\"CodeHS\",\"competitor_type\":\"global\",\"competitor_url\":\"https://codehs.com\"},{\"competitor_name\":\"Google CS First\",\"competitor_type\":\"global\",\"competitor_url\":\"https://csfirst.withgoogle.com\"},{\"competitor_name\":\"Microsoft MakeCode\",\"competitor_type\":\"global\",\"competitor_url\":\"https://makecode.com\"},{\"competitor_name\":\"Blockly Games\",\"competitor_type\":\"global\",\"competitor_url\":\"https://blockly.games\"},{\"competitor_name\":\"Lightbot\",\"competitor_type\":\"global\",\"competitor_url\":\"https://lightbot.com\"},{\"competitor_name\":\"Roblox Education\",\"competitor_type\":\"global\",\"competitor_url\":\"https://education.roblox.com\"},{\"competitor_name\":\"Unity Learn\",\"competitor_type\":\"global\",\"competitor_url\":\"https://learn.unity.com\"},{\"competitor_name\":\"Unreal Online Learning\",\"competitor_type\":\"global\",\"competitor_url\":\"https://www.unrealengine.com/onlinelearning\"},{\"competitor_name\":\"JetBrains Academy (Hyperskill)\",\"competitor_type\":\"global\",\"competitor_url\":\"https://hyperskill.org\"},{\"competitor_name\":\"CodeGym\",\"competitor_type\":\"global\",\"competitor_url\":\"https://codegym.cc\"},{\"competitor_name\":\"SoloLearn\",\"competitor_type\":\"global\",\"competitor_url\":\"https://www.sololearn.com\"},{\"competitor_name\":\"e-olymp\",\"competitor_type\":\"global\",\"competitor_url\":\"https://www.e-olymp.com\"},{\"competitor_name\":\"Timus Online Judge\",\"competitor_type\":\"global\",\"competitor_url\":\"https://acm.timus.ru\"},{\"competitor_name\":\"Codeforces\",\"competitor_type\":\"global\",\"competitor_url\":\"https://codeforces.com\"},{\"competitor_name\":\"AtCoder\",\"competitor_type\":\"global\",\"competitor_url\":\"https://atcoder.jp\"},{\"competitor_name\":\"OpenEdu (Открытое образование)\",\"competitor_type\":\"global\",\"competitor_url\":\"https://openedu.ru\"},{\"competitor_name\":\"Pluralsight\",\"competitor_type\":\"global\",\"competitor_url\":\"https://www.pluralsight.com\"},{\"competitor_name\":\"Udacity\",\"competitor_type\":\"global\",\"competitor_url\":\"https://www.udacity.com\"},{\"competitor_name\":\"DataCamp\",\"competitor_type\":\"global\",\"competitor_url\":\"https://www.datacamp.com\"},{\"competitor_name\":\"СГУ (доп. курсы по программированию для школьников)\",\"competitor_type\":\"local\",\"competitor_url\":\"https://www.sgu.ru\"},{\"competitor_name\":\"СГТУ им. Гагарина (подготовительные/IT-курсы для школьников)\",\"competitor_type\":\"local\",\"competitor_url\":\"https://www.sstu.ru\"}]}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        0
      ],
      "id": "42044421-7777-42c4-8b86-1bf62c2f246d",
      "name": "Edit Fields",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e6d5f740-801a-406e-bbc1-04830ee734db",
              "name": "arr",
              "value": "={{ JSON.parse($json.output) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2064,
        0
      ],
      "id": "46261d88-82d3-4884-9b5f-46262190fbc3",
      "name": "Edit Fields1",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b3485a2-cb50-486a-932c-fc27de0a25da",
              "name": "company_name",
              "value": "KIBERone Саратов Октябрьский",
              "type": "string"
            },
            {
              "id": "f74ac992-90a4-4403-a75e-17656de76902",
              "name": "company_id",
              "value": 1,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        0
      ],
      "id": "a1a6fc6c-5b46-47bf-a10d-7c5b174c9b3a",
      "name": "set company name"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select cs.service_name,cs.service_description from companies c, company_services cs where c.company_id=cs.company_id and c.company_name=$1",
        "options": {
          "queryReplacement": "{{$json.company_name}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        528,
        0
      ],
      "id": "c9d3775b-887c-4e85-a662-fc3a49e7e266",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "Hx2VFmUi5WO2K4QX",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Function-Node (Run Once)\nconst workflowData = $getWorkflowStaticData('global');\nworkflowData.my_prompt = items[0].json;\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        0
      ],
      "id": "d704c223-d19d-49e7-b583-0bd2fbfeeb6e",
      "name": "Save prompt"
    },
    {
      "parameters": {
        "jsCode": "const workflowData = $getWorkflowStaticData('global');\nlet my_prompt = workflowData.my_prompt.data;\n\nfor (const item of $input.all()) {\n  item.json.my_prompt = my_prompt.replaceAll(\"{company_name}\", $('set company name').first().json.company_name).replaceAll(\"{services_list}\", item.json.services_list);\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        0
      ],
      "id": "d1505f7c-27de-43de-9593-bf71ee989f0c",
      "name": "create prompt"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet services_list='';\nfor (const item of $input.all()) {\n  services_list = services_list + item.json.service_name + ' ' + item.json.service_description + '. ';\n}\n\nreturn [\n  { json: { services_list } }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        0
      ],
      "id": "b1e83bcc-c531-4797-b798-1201223afcd0",
      "name": "Merge services"
    }
  ],
  "connections": {
    "Get a file1": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Save prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get a file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set API JSON": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set company name": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Merge services",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save prompt": {
      "main": [
        [
          {
            "node": "set company name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create prompt": {
      "main": [
        [
          {
            "node": "Set API JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge services": {
      "main": [
        [
          {
            "node": "create prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a11513af-c6ea-46d2-811e-3375f6eb2b7f",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-10T17:26:44.235Z",
      "updatedAt": "2025-09-10T17:26:44.235Z",
      "role": "workflow:owner",
      "workflowId": "gOiXkFb3LETVri46",
      "projectId": "spKmbJLU4mvACXIB"
    }
  ],
  "tags": [
    {
      "createdAt": "2025-10-17T09:03:18.269Z",
      "updatedAt": "2025-10-17T09:03:18.269Z",
      "id": "S7zerj1h6Ro25pTA",
      "name": "client creation"
    }
  ]
}