n8n_workflows/fill-minus_words-from-file.json
{
  "createdAt": "2025-09-11T07:28:36.289Z",
  "updatedAt": "2025-09-15T16:30:57.157Z",
  "id": "jLvTzMFx4AFuNqxw",
  "name": "fill minus_words from file",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        -304
      ],
      "id": "581b84c0-61f0-4114-ae51-141abd4372b8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        544,
        -288
      ],
      "id": "80f9603c-a5df-442c-acae-81ea3c9b75d1",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "minus_words",
          "mode": "list",
          "cachedResultName": "minus_words"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "company_id": "={{ $json.company_id }}",
            "minus_word": "={{ $json.minus_word }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "minus_word",
              "displayName": "minus_word",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_key",
              "displayName": "source_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "comment",
              "displayName": "comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_id",
              "displayName": "company_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1312,
        -256
      ],
      "id": "f0afd74e-fff0-4de5-bfda-4b3224c9cf4b",
      "name": "Insert rows in a table3",
      "credentials": {
        "postgres": {
          "id": "4YkdFJcdTgzo9hkz",
          "name": "PGvector"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "url",
              "value": "https://www.dropbox.com/scl/fi/6ikqukdz21h6g6rwods9b/minus_words_fulllist-from-Yandex-Direct-09-11.csv?rlkey=nmw29yab765ghwc295g72ylkj&dl=1"
            }
          ]
        },
        "options": {}
      },
      "id": "30d2d885-83e4-4b15-8f69-115fb2eeaeb5",
      "name": "Enter URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        16,
        -336
      ]
    },
    {
      "parameters": {
        "url": "={{$json[\"url\"]}}",
        "responseFormat": "file",
        "options": {}
      },
      "id": "6f360e7d-12da-4034-96c3-50caa674ab5c",
      "name": "Download File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        176,
        -320
      ]
    },
    {
      "parameters": {
        "options": {
          "delimiter": ","
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        320,
        -304
      ],
      "id": "120d11fc-fa7f-4cc8-a21d-445e6d0999a7",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "//Fixing common error in the first field name for CSV import\n\nfunction sanitizeKey(k) {\n  return String(k)\n    .replace(/[\\uFEFF\\u200B-\\u200D\\u2060\\u00A0]/g, \"\")\n    .replace(/[\\x00-\\x1F\\x7F]/g, \"\")\n    .replace(/[“”\"']/g, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nconst obj = { ...$json };\nconst oldKey = Object.keys(obj)[0];\nif (oldKey) {\n  const newKey = sanitizeKey(oldKey) || oldKey;\n  if (newKey !== oldKey) {\n    obj[newKey] = obj[oldKey];\n    delete obj[oldKey];\n  }\n}\nreturn [{ json: obj }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        -272
      ],
      "id": "bc53f32b-e2bd-4c4f-9193-97ab38c354b5",
      "name": "sanitizeKey"
    },
    {
      "parameters": {
        "content": "Загружаем в таблицу как есть"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        880,
        -480
      ],
      "id": "f4705883-c81e-4984-bf80-7c4cf861ab2e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "da034865-dc3e-4960-bc05-b26450afdef4",
              "name": "company_name",
              "value": "KIBERone Саратов Октябрьский",
              "type": "string"
            },
            {
              "id": "c19b5a37-0121-4cea-a012-ff83223e5af5",
              "name": "company_id",
              "value": "1",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        -256
      ],
      "id": "9ef7a1e3-3d74-4d53-a6c7-376ab98b8be0",
      "name": "Set company name and id"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Enter URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Set company name and id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table3": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enter URL": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sanitizeKey": {
      "main": [
        [
          {
            "node": "Insert rows in a table3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set company name and id": {
      "main": [
        [
          {
            "node": "sanitizeKey",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "910b45c4-5f0e-473a-a7cd-578e4941d9d7",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-11T07:28:36.289Z",
      "updatedAt": "2025-09-11T07:28:36.289Z",
      "role": "workflow:owner",
      "workflowId": "jLvTzMFx4AFuNqxw",
      "projectId": "spKmbJLU4mvACXIB"
    }
  ],
  "tags": []
}