n8n_workflows/import-raw-list.json
{
  "createdAt": "2025-07-11T12:37:58.924Z",
  "updatedAt": "2025-07-17T14:53:01.605Z",
  "id": "9Tpia05mo77BdKlg",
  "name": "Import raw list",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "629ccd91-f316-42e5-a109-c0d67c9a1001",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        -80
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "url",
              "value": "https://www.dropbox.com/scl/fi/862fpydxk4f7f46reo1kt/Keys_list_07_17.csv?rlkey=8n849v7qy3z7379lvlz6wkzdd&dl=1"
            }
          ]
        },
        "options": {}
      },
      "id": "c74ebc64-2470-4736-8611-0bda8bf5792c",
      "name": "Enter URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -440,
        -80
      ]
    },
    {
      "parameters": {
        "url": "={{$json[\"url\"]}}",
        "responseFormat": "file",
        "options": {}
      },
      "id": "2bcd1e1e-b0d3-4cbe-91f5-8db91ad77194",
      "name": "Download File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -240,
        -80
      ]
    },
    {
      "parameters": {
        "options": {
          "delimiter": ";"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -20,
        -80
      ],
      "id": "ee0c2af7-a3c3-4763-9cf6-728a79296fa3",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        200,
        -80
      ],
      "id": "dff634a9-f1fd-49f0-9fc3-f6ec628a664b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1320,
        -60
      ],
      "id": "787466c4-a70c-46ba-9f22-936a29dd6e4c"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "raw_list",
          "mode": "list",
          "cachedResultName": "raw_list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "count": "={{ $json.Count }}",
            "name": "={{$json[Object.keys($json)[0]]}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "count",
              "displayName": "count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "keep_it",
              "displayName": "keep_it",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        580,
        -60
      ],
      "id": "fb6ed409-ddf5-4bc4-8d4d-cf337ffea0d3",
      "name": "Insert all data",
      "credentials": {
        "postgres": {
          "id": "Hx2VFmUi5WO2K4QX",
          "name": "Postgres account 2"
        }
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Enter URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enter URL": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Insert all data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert all data": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2c198ecf-2474-45d0-9de5-7b7bba80f91b",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-07-11T12:37:58.924Z",
      "updatedAt": "2025-07-11T12:37:58.924Z",
      "role": "workflow:owner",
      "workflowId": "9Tpia05mo77BdKlg",
      "projectId": "spKmbJLU4mvACXIB"
    }
  ],
  "tags": []
}