n8n_workflows/links-and-data-review.json
{
  "createdAt": "2025-07-18T13:27:44.711Z",
  "updatedAt": "2025-07-20T14:13:51.941Z",
  "id": "SWsdJEw8wnb6OlkI",
  "name": "links and  data review",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "e6859929-2f1d-4f70-827a-40fabc0b0cb1",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        -80
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "simplify": false,
        "options": {
          "maxToolsIterations": 15
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1100,
        -180
      ],
      "id": "412c59a2-99c5-4d20-8875-6b1e392c2ab9",
      "name": "Message a model",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "V8R8KiZKXscJQ1sL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        420,
        -80
      ],
      "id": "13453b28-4f87-4ffa-9094-569a4658ef9a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        4680,
        0
      ],
      "id": "32e23e2d-c214-4388-9bad-695c16ad3671"
    },
    {
      "parameters": {
        "amount": 0.1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4400,
        -460
      ],
      "id": "6163fbec-caf3-49c7-9a5b-a55333fcbf0d",
      "name": "Wait",
      "webhookId": "803c6798-78f0-45ca-a072-7f1cbe4b0eec"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1380,
        -400
      ],
      "id": "3fdceb97-d89d-4a51-8cbf-0ba4c042a773",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e10b6a7-d524-4fce-8288-527e596dba23",
              "name": "First_part",
              "value": "Есть следующая фраза, заданная пользователем при поиске: \"",
              "type": "string"
            },
            {
              "id": "ba486f3b-f6d8-4d2d-9e19-3f83f0c18092",
              "name": "Second_part",
              "value": "\". Подбери к фразе, заголовку:\"",
              "type": "string"
            },
            {
              "id": "e1fc0dc6-c7da-4093-9221-70f8d7164f71",
              "name": "Third_part",
              "value": "\" и тексту рекламного объявления \"",
              "type": "string"
            },
            {
              "id": "283b224b-d4ab-4f61-b929-73fe5c8e5d4f",
              "name": "Fourth_part",
              "value": "\" ссылку на страницу сайта, максимально соответствующую запросу пользователя и тексту. Ответ должен содержать только ссылку. Учитывай то что в исходных фразах удалены все дополнительные символы, такие как #,- и пр. В ответе необходимо вернуть только запрошенную информацию, запрещено добавлять уточнения типа заголовок, ссылка, текст и любые рассуждения. Описание компании:  KIBERone – международная Школа программирования и цифровых технологий для детей от 6 до 14 лет. Официальный сайт филиала в Саратове (Октябрьский район): https://saratov-okt.kiber-one.com/ Позиционирование бренда: KIBERone — первая международная КиберШкола будущего для IT-поколения 6–14 лет, признана ЮНЕСКО лучшей детской образовательной IT-школой в мире. Бренд является партнером Microsoft, Roblox и Samsung. Бесплатные пробные уроки Основные услуги и программы: Полный перечень модулей (https://saratov-okt.kiber-one.com/moduli/): - Вводный модуль (основы цифровой грамотности) — https://saratov-okt.kiber-one.com/moduli/vvodnyy-modul/ - Основы программирования Scratch Jr — https://saratov-okt.kiber-one.com/moduli/scratch-jr/ - Создание игр на Scratch — https://saratov-okt.kiber-one.com/moduli/modul-2-znakomstvo-so-scratch-sozdanie-igr-na-scratch-osnovy/ - ПиктоМир (алгоритмическое мышление) — https://saratov-okt.kiber-one.com/moduli/piktomir/ - CodeMonkey (логика и программирование) — https://saratov-okt.kiber-one.com/moduli/codemonkey/ - Устройство компьютера — https://saratov-okt.kiber-one.com/moduli/ustroystvo-kompyutera-my-na-ty/ - Эффектные презентации (PowerPoint, Desygner) — https://saratov-okt.kiber-one.com/moduli/magiya-powerpoint--canva-sozdanie-effektivnyh-prezentaciy/ - QR‑коды — https://saratov-okt.kiber-one.com/moduli/qr-kod-kak-instrument/ - Деловые люди (предпринимательство) — https://saratov-okt.kiber-one.com/moduli/delovye-lyudi/ - Google Blockly (визуальное программирование) — https://saratov-okt.kiber-one.com/moduli/google-blockly-apofeoz-vizualnogo-programmirovaniya/ - Roblox Studio (создание игр) — https://saratov-okt.kiber-one.com/moduli/roblox-studio-sdelat-vse-chto-vy-mozhete-sebe-predstavit/ - Kodu Game Lab (3D‑программирование) — https://saratov-okt.kiber-one.com/moduli/kodu-game-lab-vizualnoe-programmirovanie-v-3d/ - Разработка мобильных приложений в Thunkable — https://saratov-okt.kiber-one.com/moduli/thunkable/ - (fix)Blender (3D‑моделирование) — https://saratov-okt.kiber-one.com/moduli/blender/ - Компьютерная грамотность — https://saratov-okt.kiber-one.com/moduli/kompyuternaya-gramotnost/ - Minecraft Education — https://saratov-okt.kiber-one.com/moduli/minecraft-educate/ - Нейросети (основы ИИ) — https://saratov-okt.kiber-one.com/moduli/neyroseti/ - Alice 3D (3D‑программирование) — https://saratov-okt.kiber-one.com/moduli/alice-3d/ - Run Marco (основы алгоритмов) — https://saratov-okt.kiber-one.com/moduli/run-marco-1/ - Исполнители: Чертёжник и Черепашка — https://saratov-okt.kiber-one.com/moduli/ispolniteli-chertezhnik-i-cherepashka/ - GIF‑анимация — https://saratov-okt.kiber-one.com/moduli/gif-animaciya/ - Tinkercad (3D‑проектирование) — https://saratov-okt.kiber-one.com/moduli/tinkercad/ - Кибербезопасность — https://saratov-okt.kiber-one.com/moduli/osnovy-kiberbezopasnosti/ - Construct 2 (создание 2D‑игр) — https://saratov-okt.kiber-one.com/moduli/construct-2---sozday-svoy-pervyy-platformer/ - Компас‑3D (САПР) — https://saratov-okt.kiber-one.com/moduli/kompas-3d/ - Основы HTML (веб‑разработка) — https://saratov-okt.kiber-one.com/moduli/osnovy-html-izuchenie-web-razrabotki/ - Голосовой помощник Алиса — https://saratov-okt.kiber-one.com/moduli/golosovoy-pomoschnik-alisa/ - Создание лендинга (Tilda) — https://saratov-okt.kiber-one.com/moduli/lendingi-lp-i-tilda-verstka-odnostranichnikov/ - Python (создание игр) — https://saratov-okt.kiber-one.com/moduli/programmirovanie-v-python-sozday-svoyu-pervuyu-igru/ - Чат‑бот на Python — https://saratov-okt.kiber-one.com/moduli/umnyy-chat-bot-na-python/ - Web‑дизайн (Figma) — https://saratov-okt.kiber-one.com/moduli/web-dizayn-dlya-saytov-ili-prilozheniy/ - Web-дизайн для сайтов или приложений - https://saratov-okt.kiber-one.com/moduli/web-dizayn-dlya-saytov-ili-prilozheniy/ - Web‑мастер (HTML+CSS) — https://saratov-okt.kiber-one.com/moduli/web-master-html--css/ - Motion Design — https://saratov-okt.kiber-one.com/moduli/motion-design/ - Unreal Engine 4 (игровой движок) — https://saratov-okt.kiber-one.com/moduli/unreal-engine-4-igrovoy-dvizhok/ - JavaScript (игры) — https://saratov-okt.kiber-one.com/moduli/programmirovanie-na-javascript-uchimsya-sozdavat-igry/ - C# (создание 2D‑игр) — https://saratov-okt.kiber-one.com/moduli/programmirovanie-na-c-udivitelnyy-mir-2d-igr/ - C++ — https://saratov-okt.kiber-one.com/moduli/programmirovanie-na-s-smozhet-kazhdyy/ - Java (создание приложений) — https://saratov-okt.kiber-one.com/moduli/programmirovanie-na-java-tvoe-pervoe-prilozhenie/ - Unity 3D (игры) — https://saratov-okt.kiber-one.com/moduli/mir-trehmernyh-igr-na-unity-3d/ - Олимпиадное программирование — https://saratov-okt.kiber-one.com/moduli/olimpiadnoe-programmirovanie/ - Облачные технологии, Блокчейн, Data Science — https://saratov-okt.kiber-one.com/moduli/blokcheyn-tehnologichnoe-buduschee/ - PHP+SQL — https://saratov-okt.kiber-one.com/moduli/phpsql-2-mesyaca/ - Photoshop — https://saratov-okt.kiber-one.com/moduli/volshebnyy-photoshop/ - Подготовка к олимпиадам — https://saratov-okt.kiber-one.com/moduli/podgotovka-k-olimpiadam/ - Приложения Google — https://saratov-okt.kiber-one.com/moduli/prilozheniya-google-primenyat-dlya-zhizni-35-prilozheniy-ot-g/ - Web‑дизайн (Figma) — https://saratov-okt.kiber-one.com/moduli/web-dizayn-figma/ - https://saratov-okt.kiber-one.com/moduli/web-dizayn-figma/ -  -  Летние программы: - Летние IT-интенсивы (краткосрочные программы по направлениям Roblox, Minecraft, Python и др.) — https://saratov-okt.kiber-one.com/vybirayte-format-svoego-leta-s-kiberone/letnie-moduli-kiberone/ - Летние КИБЕРканикулы (городской лагерь с IT-обучением и развлекательной программой) — https://saratov-okt.kiber-one.com/vybirayte-format-svoego-leta-s-kiberone/kiber-kanikuly/ Дополнительные механики: - Кибервалюта («кибероны») для мотивации учеников, обмен на мерч на КиберМаркете — https://saratov-okt.kiber-one.com/o-kibershkole/kibervaluta/ Тьюторы и преподаватели: - Опытные специалисты с практическим опытом и педагогической подготовкой — https://saratov-okt.kiber-one.com/o-kibershkole/prepodavateli/ Другие важные разделы: - Новости (новости школы и сети) — https://saratov-okt.kiber-one.com/o-kibershkole/news/ - СМИ о нас (публикации о школе) — https://saratov-okt.kiber-one.com/o-kibershkole/smi-o-nas/ - Фотогалерея (фото с мероприятий и уроков) — https://saratov-okt.kiber-one.com/o-kibershkole/fotogalereya/ - Видео (видеоматериалы о школе) — https://saratov-okt.kiber-one.com/o-kibershkole/video/ - Расписание занятий (время занятий для групп и пробных уроков) — https://saratov-okt.kiber-one.com/o-kibershkole/raspisanie/ - Локации (адрес школы в Октябрьском районе Саратова, ул. Тараса Шевченко, 8) — https://saratov-okt.kiber-one.com/o-kibershkole/lokacii/ - Оплата (способы оплаты и договор-оферта) — https://saratov-okt.kiber-one.com/oplata/ - Сертификаты (активация промокодов партнеров) — https://saratov-okt.kiber-one.com/sertifikaty/ - Контакты (email saratov@kiber-one.com) — https://saratov-okt.kiber-one.com/feedback/",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        620,
        -260
      ],
      "id": "e28c16c3-9e28-42e1-a59a-cb91d7b3a6bd",
      "name": "Set fixed text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a2986b7-fe2d-4cd7-b72f-473d05165f2a",
              "name": "prompt",
              "value": "={{$json.First_part + $json.key_words +$json.Third_part+ $json.ad_text + $json.Fourth_part }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        840,
        -260
      ],
      "id": "440b60a8-ad59-4962-8d29-f39b24504887",
      "name": "Combine text"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "ads_list",
          "mode": "list",
          "cachedResultName": "ads_list"
        },
        "returnAll": true,
        "combineConditions": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        60,
        -80
      ],
      "id": "40def67f-96f5-4016-8d5c-4ed15613cf77",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "Hx2VFmUi5WO2K4QX",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "ads_list",
          "mode": "list",
          "cachedResultName": "ads_list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "key_words": "={{$json.key_words}}",
            "ad_header": "={{$json[\"ad_header\"]}}",
            "ad_text": "={{$json[\"ad_text\"]}}",
            "ad_url": "={{$json.ad_url + '?utm_source=yandex&utm_medium=cpc&utm_campaign={campaign_id}&utm_content={ad_id}&utm_term={keyword}.{device_type}.{region_name}&block={position_type}.{position}.{source}'}}",
            "group_id": "={{$json.group_id}}",
            "group_name": "={{$json.group_name}}",
            "ad_id": "={{$json.ad_id}}"
          },
          "matchingColumns": [
            "ad_id"
          ],
          "schema": [
            {
              "id": "ad_id",
              "displayName": "ad_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "group_name",
              "displayName": "group_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "key_words",
              "displayName": "key_words",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ad_header",
              "displayName": "ad_header",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ad_text",
              "displayName": "ad_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "group_id",
              "displayName": "group_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "ad_url",
              "displayName": "ad_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4140,
        -480
      ],
      "id": "825c872d-9e57-45c0-9f5d-5e59f53b6a04",
      "name": "update all data",
      "credentials": {
        "postgres": {
          "id": "Hx2VFmUi5WO2K4QX",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e10b6a7-d524-4fce-8288-527e596dba23",
              "name": "First_part",
              "value": "Сократи этот заголовок:\" ",
              "type": "string"
            },
            {
              "id": "283b224b-d4ab-4f61-b929-73fe5c8e5d4f",
              "name": "Second_part",
              "value": "\"чтобы заголовок максимально содержал слова из исходного поискового запроса и был не больше 56 символов и не содержал символ \"‑\". Исходный запрос:\"",
              "type": "string"
            },
            {
              "id": "d97f0074-9fb0-4301-8e09-0f748dabccd9",
              "name": "Third_part",
              "value": "\" Учитывай контекст:  KIBERone – международная КиберШкола программирования и цифровых технологий для детей от 6 до 14 лет.  Позиционирование бренда: KIBERone — первая международная КиберШкола будущего для IT-поколения 6–14 лет, признана ЮНЕСКО лучшей детской образовательной IT-школой в мире. Бренд является партнером Microsoft, Roblox и Samsung. Бесплатные пробные уроки  Основные услуги и программы:  Полный перечень модулей:  Вводный модуль (основы цифровой грамотности)  Основы программирования Scratch Jr  Создание игр на Scratch  ПиктоМир (алгоритмическое мышление)  CodeMonkey (логика и программирование)  Устройство компьютера  Эффектные презентации (PowerPoint, Desygner)  QR-коды  Деловые люди (предпринимательство)  Google Blockly (визуальное программирование)  Roblox Studio (создание игр)  Kodu Game Lab (3D-программирование)  Разработка мобильных приложений в Thunkable  Blender (3D-моделирование)  Компьютерная грамотность  Minecraft Education  Нейросети (основы ИИ)  Alice 3D (3D-программирование)  Run Marco (основы алгоритмов)  Исполнители: Чертёжник и Черепашка  GIF-анимация  Tinkercad (3D-проектирование)  Кибербезопасность  Construct 2 (создание 2D-игр)  Компас-3D (САПР)  Основы HTML (веб-разработка)  Голосовой помощник Алиса  Создание лендинга (Tilda)  Python (создание игр)  Чат-бот на Python  Web-дизайн (Figma)  Web-мастер (HTML+CSS)  Motion Design  Unreal Engine 4 (игровой движок)  JavaScript (игры)  C# (создание 2D-игр)  C++  Java (создание приложений)  Unity 3D (игры)  Олимпиадное программирование  Облачные технологии, Блокчейн, Data Science  PHP+SQL  Photoshop  Подготовка к олимпиадам  Приложения Google  Летние программы:  Летние IT-интенсивы (краткосрочные программы по направлениям Roblox, Minecraft, Python и др.)  Летние КИБЕРканикулы (городской лагерь с IT-обучением и развлекательной программой)  Дополнительные механики:  Кибервалюта («кибероны») для мотивации учеников, обмен на мерч на КиберМаркете  Тьюторы и преподаватели:  Опытные специалисты с практическим опытом и педагогической подготовкой  Другие важные разделы:  Новости (новости школы и сети)  СМИ о нас (публикации о школе)  Фотогалерея (фото с мероприятий и уроков)  Видео (видеоматериалы о школе)  Расписание занятий (время занятий для групп и пробных уроков)  Локации (адрес школы в Октябрьском районе Саратова, ул. Тараса Шевченко, 8)  Оплата (способы оплаты и договор-оферта)  Сертификаты (активация промокодов партнеров)  Контакты (телефон +7 963 112-49-11, email saratov@kiber-one.com",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2180,
        -680
      ],
      "id": "840337c8-b411-43ea-981a-ee8ef1a884e7",
      "name": "Set fixed text1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a2986b7-fe2d-4cd7-b72f-473d05165f2a",
              "name": "prompt",
              "value": "={{$json.First_part + $json.ad_header + $json.Second_part + $json.key_words + $json.Third_part}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2340,
        -680
      ],
      "id": "f1814360-38eb-4097-b0e8-2a14102e775a",
      "name": "Combine text1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "simplify": false,
        "options": {
          "maxToolsIterations": 15
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2540,
        -680
      ],
      "id": "51caaba0-1b1c-4c71-a004-65c06ec08a60",
      "name": "Message a model1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "V8R8KiZKXscJQ1sL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8e3d4361-7a9b-4959-b854-53c94c5aa63f",
              "leftValue": "={{ $json.ad_header.length }}",
              "rightValue": 56,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1920,
        -400
      ],
      "id": "acd7ce95-7384-4caf-8d49-8e67e2630353",
      "name": "длина заголовка"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8e3d4361-7a9b-4959-b854-53c94c5aa63f",
              "leftValue": "={{ $json.ad_text.length }}",
              "rightValue": 80,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3080,
        -520
      ],
      "id": "1051d4ab-1622-4a5a-b265-e2528c32be3e",
      "name": "длина текста"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e10b6a7-d524-4fce-8288-527e596dba23",
              "name": "First_part",
              "value": "Сократи текст рекламного объявления чтобы он был осмысленным, содержал все слова из фразы, заданной пользователем \" ",
              "type": "string"
            },
            {
              "id": "f6e0032f-10e6-4f63-b79b-387b5e401f1b",
              "name": "Second_part",
              "value": "\"  и был не больше 80 символов, текст \"",
              "type": "string"
            },
            {
              "id": "283b224b-d4ab-4f61-b929-73fe5c8e5d4f",
              "name": "Third_part",
              "value": "\" Учитывай контекст:  KIBERone – международная КиберШкола программирования и цифровых технологий для детей от 6 до 14 лет.  Позиционирование бренда: KIBERone — первая международная КиберШкола будущего для IT-поколения 6–14 лет, признана ЮНЕСКО лучшей детской образовательной IT-школой в мире. Бренд является партнером Microsoft, Roblox и Samsung. Бесплатные пробные уроки  Основные услуги и программы:  Полный перечень модулей:  Вводный модуль (основы цифровой грамотности)  Основы программирования Scratch Jr  Создание игр на Scratch  ПиктоМир (алгоритмическое мышление)  CodeMonkey (логика и программирование)  Устройство компьютера  Эффектные презентации (PowerPoint, Desygner)  QR-коды  Деловые люди (предпринимательство)  Google Blockly (визуальное программирование)  Roblox Studio (создание игр)  Kodu Game Lab (3D-программирование)  Разработка мобильных приложений в Thunkable  Blender (3D-моделирование)  Компьютерная грамотность  Minecraft Education  Нейросети (основы ИИ)  Alice 3D (3D-программирование)  Run Marco (основы алгоритмов)  Исполнители: Чертёжник и Черепашка  GIF-анимация  Tinkercad (3D-проектирование)  Кибербезопасность  Construct 2 (создание 2D-игр)  Компас-3D (САПР)  Основы HTML (веб-разработка)  Голосовой помощник Алиса  Создание лендинга (Tilda)  Python (создание игр)  Чат-бот на Python  Web-дизайн (Figma)  Web-мастер (HTML+CSS)  Motion Design  Unreal Engine 4 (игровой движок)  JavaScript (игры)  C# (создание 2D-игр)  C++  Java (создание приложений)  Unity 3D (игры)  Олимпиадное программирование  Облачные технологии, Блокчейн, Data Science  PHP+SQL  Photoshop  Подготовка к олимпиадам  Приложения Google  Летние программы:  Летние IT-интенсивы (краткосрочные программы по направлениям Roblox, Minecraft, Python и др.)  Летние КИБЕРканикулы (городской лагерь с IT-обучением и развлекательной программой)  Дополнительные механики:  Кибервалюта («кибероны») для мотивации учеников, обмен на мерч на КиберМаркете  Тьюторы и преподаватели:  Опытные специалисты с практическим опытом и педагогической подготовкой  Другие важные разделы:  Новости (новости школы и сети)  СМИ о нас (публикации о школе)  Фотогалерея (фото с мероприятий и уроков)  Видео (видеоматериалы о школе)  Расписание занятий (время занятий для групп и пробных уроков)  Локации (адрес школы в Октябрьском районе Саратова, ул. Тараса Шевченко, 8)  Оплата (способы оплаты и договор-оферта)  Сертификаты (активация промокодов партнеров)  Контакты (телефон +7 963 112-49-11, email saratov@kiber-one.com",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3400,
        -800
      ],
      "id": "313910fc-6337-4d5c-a784-9566c188dfcb",
      "name": "Set fixed text2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a2986b7-fe2d-4cd7-b72f-473d05165f2a",
              "name": "prompt",
              "value": "={{$json.First_part + $json.ad_header + $json.Second_part + $json.ad_text + $json.Third_part }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3560,
        -800
      ],
      "id": "b4c0978c-45bc-4822-90b2-3333a403c7bb",
      "name": "Combine text2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "simplify": false,
        "options": {
          "maxToolsIterations": 15
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3760,
        -800
      ],
      "id": "6cde8da2-c6b5-4a0d-8e14-d55bc90be6dd",
      "name": "Message a model2",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "V8R8KiZKXscJQ1sL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2800,
        -860
      ],
      "id": "abad9c9b-135e-422c-b34c-582d853e345d",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4060,
        -920
      ],
      "id": "34e04342-98f0-4027-93f5-785b86882a05",
      "name": "Merge2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bdac0871-aa35-44db-a43d-8cca7b6ea53b",
              "name": "group_name",
              "value": "={{ $json.group_name }}",
              "type": "string"
            },
            {
              "id": "2ffed669-6abf-4268-9d3f-f90a8c31d2be",
              "name": "key_words",
              "value": "={{ $json.key_words }}",
              "type": "string"
            },
            {
              "id": "e1f82d87-cef1-429b-8b71-a0f497c4925b",
              "name": "ad_header",
              "value": "={{ $json.ad_header }}",
              "type": "string"
            },
            {
              "id": "5a34b5fe-e214-42bc-8844-bd54b0b27fd9",
              "name": "ad_text",
              "value": "={{ $json.ad_text }}",
              "type": "string"
            },
            {
              "id": "3b01a5ad-dd5f-4a8e-8cbd-3e64442e008b",
              "name": "group_id",
              "value": "={{ $json.group_id }}",
              "type": "number"
            },
            {
              "id": "b6b003a6-6614-47c9-91ae-3b5afd3797f8",
              "name": "ad_url",
              "value": "={{$json.choices[0].message.content}}",
              "type": "string"
            },
            {
              "id": "be9dfafb-2b49-453b-95c2-274d924a68ba",
              "name": "ad_id",
              "value": "={{ $json.ad_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1640,
        -400
      ],
      "id": "232694cf-7ff5-430c-8674-7390ce6ab45f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bdac0871-aa35-44db-a43d-8cca7b6ea53b",
              "name": "=group_name",
              "value": "={{ $json.group_name }}",
              "type": "string"
            },
            {
              "id": "2ffed669-6abf-4268-9d3f-f90a8c31d2be",
              "name": "=key_words",
              "value": "={{ $json.key_words }}",
              "type": "string"
            },
            {
              "id": "e1f82d87-cef1-429b-8b71-a0f497c4925b",
              "name": "=ad_header",
              "value": "={{ $json.choices[0].message.content}}",
              "type": "string"
            },
            {
              "id": "5a34b5fe-e214-42bc-8844-bd54b0b27fd9",
              "name": "ad_text",
              "value": "={{ $json.ad_text }}",
              "type": "string"
            },
            {
              "id": "3b01a5ad-dd5f-4a8e-8cbd-3e64442e008b",
              "name": "=group_id",
              "value": "={{ $json.group_id }}",
              "type": "number"
            },
            {
              "id": "b6b003a6-6614-47c9-91ae-3b5afd3797f8",
              "name": "=ad_url",
              "value": "={{ $json.ad_url}}",
              "type": "string"
            },
            {
              "id": "672a1687-d667-491f-84da-b1061ef3031b",
              "name": "=ad_id",
              "value": "={{ $json.ad_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2940,
        -680
      ],
      "id": "8ec0bd0b-efcd-4cdf-97ba-a1fd2c3fb824",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bdac0871-aa35-44db-a43d-8cca7b6ea53b",
              "name": "group_name",
              "value": "={{ $json.group_name }}",
              "type": "string"
            },
            {
              "id": "2ffed669-6abf-4268-9d3f-f90a8c31d2be",
              "name": "key_words",
              "value": "={{ $json.key_words }}",
              "type": "string"
            },
            {
              "id": "e1f82d87-cef1-429b-8b71-a0f497c4925b",
              "name": "ad_header",
              "value": "={{ $json.ad_header }}",
              "type": "string"
            },
            {
              "id": "5a34b5fe-e214-42bc-8844-bd54b0b27fd9",
              "name": "ad_text",
              "value": "={{ $json.choices[0].message.content}}",
              "type": "string"
            },
            {
              "id": "3b01a5ad-dd5f-4a8e-8cbd-3e64442e008b",
              "name": "group_id",
              "value": "={{ $json.group_id }}",
              "type": "number"
            },
            {
              "id": "b6b003a6-6614-47c9-91ae-3b5afd3797f8",
              "name": "ad_url",
              "value": "={{ $json.ad_url}}",
              "type": "string"
            },
            {
              "id": "64cff839-0aa4-41f3-8435-767b0a953a33",
              "name": "ad_id",
              "value": "={{ $json.ad_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4200,
        -760
      ],
      "id": "5cd5c060-c054-42be-9b08-7d8d28003d09",
      "name": "Edit Fields1"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Set fixed text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set fixed text": {
      "main": [
        [
          {
            "node": "Combine text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine text": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update all data": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set fixed text1": {
      "main": [
        [
          {
            "node": "Combine text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine text1": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "длина заголовка": {
      "main": [
        [
          {
            "node": "Set fixed text1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "длина текста",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "длина текста": {
      "main": [
        [
          {
            "node": "Set fixed text2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update all data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set fixed text2": {
      "main": [
        [
          {
            "node": "Combine text2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine text2": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "длина заголовка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "длина текста",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "update all data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "6fac6b86-0034-46fd-87d3-e40ead2d136b",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-07-18T13:27:44.711Z",
      "updatedAt": "2025-07-18T13:27:44.711Z",
      "role": "workflow:owner",
      "workflowId": "SWsdJEw8wnb6OlkI",
      "projectId": "spKmbJLU4mvACXIB"
    }
  ],
  "tags": []
}