n8n_workflows/my-workflow-3.json
{
  "createdAt": "2025-10-06T13:25:33.741Z",
  "updatedAt": "2025-10-06T13:38:11.327Z",
  "id": "tbijdiaKB74Iaf6O",
  "name": "My workflow 3",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select n8n_process_name from business_processes where root_process_id=7 order by process_order ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -224,
        -176
      ],
      "id": "0ec2e521-a470-4d15-822c-0a48d1ba9a93",
      "name": "get list for updates",
      "credentials": {
        "postgres": {
          "id": "4YkdFJcdTgzo9hkz",
          "name": "PGvector"
        }
      }
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Select processes to reset completion",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "={{ $input.all().map(r => ({\n  label: r.json.n8n_process_name,      // что видит пользователь\n  value: String(r.json.id ?? r.json.n8n_process_name) // что вернётся\n})) }}"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -32,
        -160
      ],
      "id": "5aaf1c85-187b-4fc4-be37-cc02859ad24c",
      "name": "Form",
      "webhookId": "efc10f6b-77c8-4e73-92fe-bf87481f003c"
    },
    {
      "parameters": {
        "formTitle": "Test data management",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Please select",
              "fieldType": "radio",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Reset all running business processes"
                  },
                  {
                    "option": "Reset core update steps for the last execution"
                  },
                  {
                    "option": "Reset core update test data for report"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -624,
        -192
      ],
      "id": "35df9164-20fc-4133-9a8b-199af5e35691",
      "name": "On form submission",
      "webhookId": "275771f9-df29-4b85-b49d-9aec026e6b2f"
    }
  ],
  "connections": {
    "get list for updates": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "get list for updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "26cae2d9-1158-45e2-9481-874eb61e30e8",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-10-06T13:25:33.741Z",
      "updatedAt": "2025-10-06T13:25:33.741Z",
      "role": "workflow:owner",
      "workflowId": "tbijdiaKB74Iaf6O",
      "projectId": "spKmbJLU4mvACXIB"
    }
  ],
  "tags": []
}