n8n_workflows/yandex-form-api.json
{
  "updatedAt": "2025-11-10T13:37:23.545Z",
  "createdAt": "2025-11-10T10:12:13.473Z",
  "id": "fsy7TJJRLJ5nc0Fc",
  "name": "yandex form API",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7761af7e-68c6-4e99-ab82-e3acfdc463bc",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "d3beae44-1400-44d8-8010-8ecbae0b2f2c",
      "name": "Webhook",
      "webhookId": "d0b73f09-ea23-4cd3-a92c-db7497c60763"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://trylesson.storage.yandexcloud.net"
              },
              {
                "name": "Vary",
                "value": "Origin"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        272,
        0
      ],
      "id": "a2712e29-ad95-4946-ae6c-bc49b0a3914e",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"alfacrm\": {\n    \"host\": \"kiberonesaratov.s20.online\",\n    \"email\": \"kiberone.saratov@gmail.com\",\n    \"api_key\": \"0bc94111-6567-11f0-b9b8-3cecefbdd1ae\",\n    \"branch_id\" : 1,\n  }\n}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        0
      ],
      "id": "42a54067-a57c-4667-ad1c-e7cc9d4c9851",
      "name": "Set CRM data"
    },
    {
      "parameters": {
        "jsCode": "async function http(req) { return await this.helpers.httpRequest(req); }\n\nasync function login(self, { host, email, api_key }) {\n  const res = await http.call(self, {\n    method: 'POST',\n    url: `https://${host}/v2api/auth/login`,\n    headers: { 'Content-Type': 'application/json' },\n    body: { email, api_key },\n    json: true,\n  });\n  if (!res?.token) throw new Error('Auth failed');\n  return res.token;\n}\n\nasync function createCustomer(self, { host, token, payload }) {\n  try {\n    const res = await http.call(self, {\n      method: 'POST',\n      url: `https://${host}/v2api/1/customer/create`,\n      headers: {\n        'Content-Type': 'application/json',\n        'X-ALFACRM-TOKEN': token,\n      },\n      body: payload,\n      json: true,\n      gzip: true,\n      timeout: 20000,\n    });\n    return { success: true, response: res };\n  } catch (err) {\n    return {\n      success: false,\n      status: err?.response?.statusCode,\n      error: err?.response?.body || err.message,\n    };\n  }\n}\n\n// ---------- helpers ----------\nconst notEmpty = v => v !== undefined && v !== null && String(v).trim() !== '';\nconst toNum = v => {\n  if (!notEmpty(v)) return undefined;\n  const n = Number(String(v).trim());\n  return Number.isFinite(n) ? n : undefined;\n};\nfunction firstNonEmpty(arr) {\n  for (const v of arr) if (notEmpty(v)) return String(v).trim();\n  return '';\n}\n\n// нормализация телефона\nfunction normalizePhone(raw) {\n  const s = String(raw || '').trim();\n  if (!s) return '';\n  let keep = s.replace(/[^\\d+]/g, '');\n  if (keep.startsWith('00')) keep = '+' + keep.slice(2);\n  const digitsOnly = keep.replace(/\\D/g, '');\n  if (digitsOnly.length === 11 && keep[0] === '8') keep = '+7' + digitsOnly.slice(1);\n  if (keep[0] !== '+') keep = '+' + digitsOnly;\n  const finalDigits = keep.replace(/\\D/g, '');\n  if (finalDigits.length < 8 || finalDigits.length > 15) return '';\n  return keep;\n}\n\n// форматируем dob к ISO (YYYY-MM-DD)\nfunction formatDob(raw) {\n  if (!notEmpty(raw)) return '';\n  let s = String(raw).trim();\n\n  // уже ISO?\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(s)) return s;\n\n  // формат DD.MM.YYYY → YYYY-MM-DD\n  if (/^\\d{2}\\.\\d{2}\\.\\d{4}$/.test(s)) {\n    const [d, m, y] = s.split('.');\n    return `${y}-${m}-${d}`;\n  }\n\n  // формат YYYY/MM/DD → YYYY-MM-DD\n  if (/^\\d{4}\\/\\d{2}\\/\\d{2}$/.test(s)) {\n    return s.replace(/\\//g, '-');\n  }\n\n  // универсальный fallback\n  const date = new Date(s);\n  if (isNaN(date)) return '';\n  return date.toISOString().slice(0, 10);\n}\n\nfunction buildNote({ message, city }) {\n  const lines = [];\n  if (notEmpty(message)) lines.push(`Сообщение: ${message}`);\n  if (notEmpty(city))     lines.push(`Город: ${city}`);\n  return lines.join('\\n');\n}\n\n// ---------- MAIN ----------\nconst items = await $input.all();\nconst out = [];\n\nfor (const item of items) {\n  const input = item.json ?? item;\n  const conf = input.alfacrm || {};\n\n  const host    = conf.host  || input.host;\n  const apiMail = conf.email || input.email;\n  const api_key = conf.api_key || input.api_key;\n  if (!host || !apiMail || !api_key) {\n    throw new Error('Provide alfacrm.host, alfacrm.email, alfacrm.api_key');\n  }\n\n  const token = await login(this, { host, email: apiMail, api_key });\n  const lead_source_id = toNum(input.lead_source_id) ?? 3;\n\n  const src = input.body ?? input;\n\n  const childName  = firstNonEmpty([ src.child_name, src['child name'] ]) || 'Без имени';\n  const parentName = firstNonEmpty([ src.parent_name ]);\n\n  // преобразуем dob к ISO\n  const dobRaw = firstNonEmpty([ src.child_birthdate ]);\n  const dob = formatDob(dobRaw);\n\n  const phoneRaw   = firstNonEmpty([ src.phone ]);\n  const phone      = normalizePhone(phoneRaw);\n  const emailForm  = firstNonEmpty([ src.email ]);\n\n  const phoneArr = [phone].filter(notEmpty);\n  const emailArr = [emailForm].filter(notEmpty);\n\n  const message = firstNonEmpty([ src.message ]);\n  const city    = firstNonEmpty([ src.city ]);\n  const note    = buildNote({ message, city });\n\n  const utm_source   = src.utm_source   || '';\n  const utm_medium   = src.utm_medium   || '';\n  const utm_campaign = src.utm_campaign || '';\n  const utm_content  = src.utm_content  || '';\n  const utm_term     = src.utm_term     || '';\n  const yclid        = src.yclid        || '';\n\n  const custom_value_json = JSON.stringify({\n    utm_source, utm_medium, utm_campaign, utm_content, utm_term, yclid,\n  });\n\n  const payload = {\n    name: childName,\n    ...(notEmpty(parentName) ? { legal_name: parentName } : {}),\n    ...(notEmpty(dob) ? { dob } : {}),\n    branch_ids: [1],\n    legal_type: 1,\n    is_study: 0,\n    lead_source_id,\n    ...(phoneArr.length ? { phone: phoneArr } : {}),\n    ...(emailArr.length ? { email: emailArr } : {}),\n    ...(notEmpty(note) ? { note } : {}),\n    ...(notEmpty(utm_source)   ? { custom_utm_source: utm_source } : {}),\n    ...(notEmpty(utm_medium)   ? { custom_utm_medium: utm_medium } : {}),\n    ...(notEmpty(utm_campaign) ? { custom_utm_campaign: utm_campaign } : {}),\n    ...(notEmpty(utm_content)  ? { custom_utm_content: utm_content } : {}),\n    ...(notEmpty(utm_term)     ? { custom_utm_term: utm_term } : {}),\n    ...(notEmpty(yclid)        ? { custom_yclid: yclid } : {}),\n    custom_value_json,\n  };\n\n  const res = await createCustomer(this, { host, token, payload });\n  out.push({\n    json: {\n      success: res.success,\n      response: res.response,\n      sent: payload,\n    }\n  });\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        0
      ],
      "id": "3c64d274-b17a-4fab-8cbe-edfc72e08a16",
      "name": "Send Lead data to CRM"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set CRM data": {
      "main": [
        [
          {
            "node": "Send Lead data to CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        [
          {
            "node": "Set CRM data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-main-production-4310.up.railway.app",
            "user-agent": "axios/1.13.2",
            "content-length": "567",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "185.206.167.180",
            "x-forwarded-host": "n8n-main-production-4310.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/europe-west4-drams3a",
            "x-railway-request-id": "pbfgkjlcThKNKXX55nX1uw",
            "x-real-ip": "185.206.167.180",
            "x-request-start": "1762771684760"
          },
          "params": {},
          "query": {},
          "body": {
            "form": "trial_lesson",
            "location": "ул. Т. Г. Шевченко, 8",
            "subject": "Пробное занятие — 1 час",
            "selected_date": "2025-11-13",
            "selected_time_from": "19:00",
            "selected_time_to": "20:00",
            "parent_name": "Anton test",
            "phone": "+79117932216",
            "email": "anton@test.ru",
            "child_name": "Артем",
            "child_birthdate": "2009-10-31",
            "meta": {
              "page_url": "https://trylesson.storage.yandexcloud.net/index.html",
              "user_agent": "Mozilla/5.0 (iPhone; CPU iPhone OS 18_5 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.5 Mobile/15E148 Safari/604.1"
            }
          },
          "webhookUrl": "https://n8n-main-production-4310.up.railway.app/webhook/7761af7e-68c6-4e99-ab82-e3acfdc463bc",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "dbf8e8e4-920a-4252-92fe-0c4269aecb9c",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-10T10:12:13.473Z",
      "createdAt": "2025-11-10T10:12:13.473Z",
      "role": "workflow:owner",
      "workflowId": "fsy7TJJRLJ5nc0Fc",
      "projectId": "spKmbJLU4mvACXIB"
    }
  ],
  "tags": []
}